@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme {
    --font-lama-bold: "Lama Sans Bold";
    --font-lama-medium: "Lama Sans Medium";
    --primary-color: #000080;
    --secondary-color: #ffd700;
    --background-color: #FDFDFD;
    --background-dark-color: #000000;
    --sidebar-color: #ffffff;
    --text-dark-color: #ffffff;
    --text-color: #030712;
    --icons-color: #030712;
    --icons-dark-color: #ffffff;
    --hover-color: #A8DADC;
}

@utility side-nav-bar {
    /* display: block; */
    overflow-y: auto;
    overflow-x: hidden;
    /* transition: 2.2s cubic-bezier(.36, -0.01, 0, .77); */
    z-index: 1;
}


@utility main-content {
    transition: margin-left .5s;
    display: block;
    overflow: hidden;
    z-index: 1;
}

@font-face {
    font-family: 'Lama Sans Bold';
    font-weight: bold;
    /* src: url('https://guavamz.github.io/css/Cairo-Regular.ttf'); */
    src: url('/assets/fonts/LamaSans-Bold.ttf');
}

@font-face {
    font-family: 'Lama Sans Medium';
    font-weight: 500;
    /* src: url('https://guavamz.github.io/css/Cairo-Regular.ttf'); */
    src: url('/assets/fonts/LamaSans-Medium.ttf');
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@utility sidebar-menu {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* transition: translate 0.2s ease-in-out; */
    display: block;

    :hover {
        /* transform: translateY(-2px); */
        background-color: rgba(243, 244, 246, .1);
        box-shadow: 0 1px 15px rgba(255, 255, 255, .3);
    }
}

@utility flipper {
    perspective: 2000px;

    :hover {
        transform: rotateY(180deg);
    }
}

@utility flipper-inner {
    perspective: 2000px;
    transition: transform 0.6s;
    /* Controls the flip speed */
    transform-style: preserve-3d;
    /* Ensures 3D transformations apply to children */
    /* :hover {
        transform: rotateY(180deg);
    } */
}

@utility sidebar-menu-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    /* transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
}


@utility circle {
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 0 0px 7px rgba(255, 255, 255, .5);
    padding: 0.95rem;
}

@utility ads-blur {
    background-color: black;
    opacity: 0.3;
    height: inherit;
    width: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@utility flip-card-front {
    -webkit-backface-visibility: hidden;
    /* Hides the back of the element when facing away */
    backface-visibility: hidden;
    /* Standard property */
}

@utility flip-card-back {
    color: white;
    transform: rotateY(180deg);
    /* Initially rotated to be hidden */
    position: absolute;
    -webkit-backface-visibility: hidden;
    /* Hides the back of the element when facing away */
    backface-visibility: hidden;
    /* Standard property */
}

@utility shine {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    /* background: #2196f3; */
    position: relative;
    overflow: hidden;
    color: white;

    ::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        left: -100px;
        background: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
        /* transition: left 0.5s ease-in-out; */
        animation: shine 2s infinite linear;
    }
}

@keyframes shine {
    0% {
        left: -100px;
    }

    20% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@utility noHover {
    pointer-events: none;
}

@utility hide-flip-card {
    display: none;
}