.child{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 50%;
    height: 1024px;
}

.rectangle-div {
    position:absolute;
    top: 165px;
    left: 20.1%;
    border-radius: 100px 0 0 0;
    background-color: #12517f;
    width: 30%;
    height: 66.5%;

}

.item {
    position:absolute;
    top: 165px;
    left: 48%;
    border-radius: 0 0 100px 0;
    background-color: #ffffff;
    width: 30%;
    height: 66.5%;
}

.p {
    position: relative;
    left: 45%;
    top: 10%;
    font-weight: 700;
}

.p1 {
    top: 244px;
    left: 58%;
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    font-weight: 700;
}

.rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    top: 640px;
    left: 58%;
    border-radius: 50px;
    box-shadow: 0 0 4px rgba(248, 69, 111, 0.25);
    width: 250px;
    height: 70px;
}

.email-input {
    border: 0;
    background-color: #ffffff;
    position: relative;
    top: 371px;
    left: 12.5%;
    border-radius: 50px;
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    
    font-size: medium;
    font-family: 'TheSansArabic';
}

.button,b,
.div {
    text-align: left;
    font-family: 'TheSansArabic';
}

.button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 600px;
    left: 70%;
    font-size: 16px;
    color: #ffffff;
    /* display: inline-block; */
}

.div {
    position: relative;
    background-color: #12517f;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    font-size: 30px;
    color: #12517f;
}

.Forgot-password-pana1{
    position: relative;
    top: 10%;
    left: 16%;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.logo-dark-1-icon {
    position: relative;
    top: 10%;
    left: 27%;
    width: 289px;
    height: 51px;
    object-fit: cover;
}

.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}