.username-style {
    font-size: 1vw;
}

.page-link {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #12517F;
}

.page-link:hover {
    background-color: #F2FAFF;
}

.page-link-prev {
    top: 15%;
    position: relative;
}

.page-link-next {
    top: 15%;
    position: relative;
}

.btn-group {
    position: relative;
    top: 15%;
    right: 17%;
}

.hr-line {
    width: 100vw;
}

.trash-btn {
    border: 0;
    background-color: transparent;
}

.btn:hover+.button-name {
    background-color: #12517F;
    display: block;
}

.button-name {
    display: none;
    width: 10vw;
    padding: 8px;
    text-align: center;
    position: absolute;
    right: 4.6vw;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Cairo';
    font-size: 0.8vw;
    border-radius: 5px;
}

/* .triangle-right {
	width: 10px;
	height: 10px;
	border-top: 25px solid transparent;
	border-left: 50px solid #12517F;
	border-bottom: 25px solid transparent;
    display: none;
    position: absolute;
} */

#top-nav-bar {
    height: 6vh;
}

#slidparRight {
    width: 15vw;
    height: 100vh;
    border-radius: 20px 0 20px 0;
    background-color: #12517F;
    color: transparent;
    position: absolute;
}

.heading1 {
    position: absolute;
    top: 4%;
    right: 18%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 60px;
    color: #12517F;
}

.blueLightBack {
    width: 85vw;
    height: 95vh;
    position: absolute;
    background: #F2FAFF;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 50px;
    right: 15vw;
    top: 8vh;
}

.whiteRectBox {
    position: relative;
    width: 80vw;
    height: 85vh;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 5%;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
}

.b {
    right: 5%;
    top: 2.6vh;
    font-size: 3vw;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.search-box {
    border: 0;
    border-radius: 30px;
    outline-color: #F2FAFF;
    width: 74vw;
    height: 3vh;
    background-color: white;
    position: relative;
    top: 4vh;
    right: 4%;
    font-size: 1.5vw;
    font-family: Cairo;
    padding-right: 20px;
    color: #12517F;
}

.search-btn {
    border: 0;
    /* position: absolute; */
    background: none;
    /* left: 43%; */
    /* top: 5.5%; */
}

/* Footer */
.rectangle-parent61 {
    position: absolute;
    top: 1vh;
    right: 10%;
    width: 27%;
    /* height: 5vh; */
}

.group-child228,
.searchButton {
    border: 0;
    position: absolute;
    top: 4vh;
    left: 0;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 27.5vw;
    height: 3vh;
}

.searchButton {
    background-color: #12517F;
    width: 12vw;
}

.group-child228 {
    background-color: #F2FAFF;
    padding-right: 9%;
    font-size: 1vw;
    font-family: 'Cairo';
}

.b75 {
    color: white;
    font-size: 1.5vw;
    font-family: Cairo;
    font-weight: 700;
    /* word-wrap: break-word; */
    text-align: center;
    position: relative;
    bottom: 18%;

}

.b76 {
    top: 1vh;
    color: #12517F;
    font-size: 3vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.coDetails {
    position: absolute;
    right: 50%;
    top: 3vh;
    text-align: center;
}

/* Footer */

.files-table-head-style {
    width: 95%;
    top: 35%;
    left: 12%;
    position: relative;
}

@media (min-width:600px) {
    #slidparRight {
        width: 4.55vw;
        height: 100vh;
        border-radius: 20px 0 20px 0;
        background-color: #12517F;
        color: transparent;
    }

    #top-nav-bar {
        height: 8.5vh;
    }

    .heading1 {
        position: absolute;
        top: 8%;
        right: 10%;
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5vw;
        line-height: 60px;
        color: #12517F;
    }

    .blueLightBack {
        width: 91vw;
        height: 100vh;
        position: absolute;
        background: #F2FAFF;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        right: 5.5vw;
        top: 7.5rem;
    }

    .whiteRectBox {
        position: relative;
        width: 95%;
        height: 85%;
        background: white;
        border-radius: 30px;
        margin-right: 2.5%;
        margin-top: 2.5%;
        box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    }

    .b {
        right: 3%;
        top: 3.3vh;
        font-size: 1.2vw;
        font-weight: 700;
        position: relative;
        font-family: 'Cairo';
        font-style: normal;
        color: #12517F;
    }

    .search-box {
        border: 0;
        border-radius: 30px;
        outline-color: #F2FAFF;
        width: 27%;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 4%;
        right: 58%;
        font-size: 0.9vw;
        font-family: Cairo;
        padding-right: 70px;
        color: #12517F;
    }

    .search-btn {
        border: 0;
        position: absolute;
        background: none;
        left: 43%;
        top: 5.5%;
    }

    /* Footer */
    .rectangle-parent61 {
        position: absolute;
        top: 3rem;
        right: 10rem;
        width: 27%;
        height: 15%;
    }

    .group-child228,
    .searchButton {
        border: 0;
        position: absolute;
        top: 79px;
        left: 0;
        border-radius: 40px;
        box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
        width: 27.5vw;
        height: 80px;
    }

    .searchButton {
        cursor: pointer;
        padding: 0;
        background-color: #12517F;
        width: 12vw;
    }

    .group-child228 {
        background-color: #F2FAFF;
        padding-right: 9%;
        font-size: 1vw;
        font-family: 'Cairo';
    }

    .b75 {
        color: white;
        font-size: 1.4vw;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word;
    }

    .b76 {
        top: 0;
        color: #12517F;
        font-size: 2vw;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word
    }

    .coDetails {
        position: absolute;
        right: 65%;
        top: 3rem;
        text-align: center;
    }

    /* Footer */

    .files-table-head-style {
        width: 95%;
        top: 35%;
        left: 12%;
        position: relative;
    }

    .page-link {
        background-color: #FFFFFF;
        border-radius: 10px;
        color: #12517F;
    }

    .page-link:hover {
        background-color: #F2FAFF;
    }

    .page-link-prev {
        top: 15%;
        position: relative;
    }

    .page-link-next {
        top: 15%;
        position: relative;
    }

    .btn-group {
        position: relative;
        top: 25%;
        right: 45%;
    }

}