.username-style {
    font-size: 1vw;
}

.page-link {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #12517F;
}

.page-link:hover {
    background-color: #F2FAFF;
}

.page-link-prev {
    top: 15%;
    position: relative;
}

.page-link-next {
    top: 15%;
    position: relative;
}

.coDetails {
    position: absolute;
    right: 65%;
    top: 3rem;
    text-align: center;
}

.group-child228,
.searchButton {
    border: 0;
    position: absolute;
    top: 79px;
    left: 0;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 27.5vw;
    height: 80px;
}

.searchButton {
    cursor: pointer;
    padding: 0;
    background-color: #12517F;
    width: 12vw;
}

.group-child228 {
    background-color: #F2FAFF;
    padding-right: 9%;
    font-size: 1vw;
    font-family: 'Cairo';
}

.b75 {
    color: white;
    font-size: 1.4vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
}

.b76 {
    top: 0;
    color: #12517F;
    font-size: 2vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.hr-line {
    width: 100vw;
}

.trash-btn {
    border: 0;
    background-color: transparent;
}

.btn:hover+.button-name {
    background-color: #12517F;
    display: block;
}

.button-name {
    display: none;
    width: 10vw;
    padding: 8px;
    text-align: center;
    position: absolute;
    right: 4.6vw;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Cairo';
    font-size: 0.8vw;
    border-radius: 5px;
}

/* .triangle-right {
	width: 10px;
	height: 10px;
	border-top: 25px solid transparent;
	border-left: 50px solid #12517F;
	border-bottom: 25px solid transparent;
    display: none;
    position: absolute;
} */

#slidparRight {
    width: 15vw;
    height: 100vh;
    border-radius: 20px 0 20px 0;
    background-color: #12517F;
    color: transparent;
}

@media (min-width:600px){
    #slidparRight {
        width: 4.55vw;
        height: 100vh;
        border-radius: 20px 0 20px 0;
        background-color: #12517F;
        color: transparent;
    }
}
