.navbar {
    background-color: #F2FAFF;
}

.username-style {
    font-size: 1vw;
}

.page-link {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #12517F;
}

.page-link:hover {
    background-color: #F2FAFF;
}

.page-link-prev {
    top: 15%;
    position: relative;
}

.page-link-next {
    top: 15%;
    position: relative;
}

.btn-group {
    position: relative;
    top: 20%;
    right: 17%;
}

.hr-line {
    width: 100vw;
}

.hr-line2 {
    width: 100vm;
}

.hr-line-pos {
    position: relative;
    top: 55rem;
}

.hr-line2-pos {
    position: relative;
    top: 8rem;
    text-align: center;
}

.foot {
    position: relative;
    color: #12517F;
    font-size: 10px;
    font-family: Cairo;
    font-weight: 400;
    word-wrap: break-word"  

}

.trash-btn {
    border: 0;
    background-color: transparent;
}

.btn:hover+.button-name {
    background-color: #12517F;
    display: block;
}

.button-name {
    display: none;
    width: 10vw;
    padding: 8px;
    text-align: center;
    position: absolute;
    right: 4.6vw;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Cairo';
    font-size: 0.8vw;
    border-radius: 5px;
}

/* .triangle-right {
	width: 10px;
	height: 10px;
	border-top: 25px solid transparent;
	border-left: 50px solid #12517F;
	border-bottom: 25px solid transparent;
    display: none;
    position: absolute;
} */

#top-nav-bar {
    height: 6vh;
    background-color: #F2FAFF;
}

#slidparRight {
    width: 14vw;
    height: 90vh;
    border-radius: 10px 0 10px 0;
    background-color: #12517F;
    color: transparent;
    position: absolute;
}

.heading1 {
    position: absolute;
    top: 4%;
    right: 18%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 60px;
    color: #12517F;
}

.blueLightBack {
    width: 85vw;
    height: 75vh;
    position: absolute;
    background: #F2FAFF;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 50px;
    right: 15vw;
    top: 8vh;
}

.whiteRectBox {
    position: relative;
    width: 80vw;
    height: 65vh;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 5%;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
}

.b {
    right: 5%;
    top: 2.6vh;
    font-size: 3vw;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.search-box {
    border: 0;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    outline-color: #ffffff;
    width: 74vw;
    height: 5vh;
    background-color: white;
    position: relative;
    top: 5vh;
    right: 4%;
    font-size: 4vw;
    font-family: Cairo;
    padding-right: 50px;
    color: #12517F;
}

.search-btn {
    border: 0;
    position: absolute;
    background: none;
    right: 2%;
    top: 9%;
}

/* Footer */
.rectangle-parent61 {
    position: absolute;
    top: 4vh;
    right: 10%;
    width: 27%;
    /* height: 5vh; */
}

.group-child228,
.searchButton {
    border: 0;
    position: absolute;
    top: 4vh;
    left: 0;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 27.5vw;
    height: 3vh;
}

.searchButton {
    background-color: #12517F;
    width: 12vw;
}

.group-child228 {
    background-color: #F2FAFF;
    padding-right: 9%;
    font-size: 1vw;
    font-family: 'Cairo';
}

.b75 {
    color: white;
    font-size: 1.5vw;
    font-family: Cairo;
    font-weight: 700;
    /* word-wrap: break-word; */
    text-align: center;
    position: relative;
    bottom: 18%;

}

.b76 {
    top: 1vh;
    color: #12517F;
    font-size: 3vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.coDetails {
    position: absolute;
    right: 50%;
    top: 3vh;
    text-align: center;
}

.coLogo {
    width: 50%;
    height: 20%
}

/* Social Media Links */
.ellipse-parent10 {
    position: absolute;
    top: 60px;
    left: 140px;
    width: 27px;
    height: 27px;
}

.ellipse-parent11 {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 27px;
    height: 27px;
}

.ellipse-parent12 {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 27px;
    height: 27px;
}

.group-child225 {
    border-radius: 50%;
    background-color: #F2FAFF;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 30px;
    height: 30px;
    top: 3%;
}

.vector-icon199 {
    position: relative;
    width: 20px;
    height: 20px;
}

.mail,
.facebook,
.webPage {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    top: 2px;
}


/* Social Media Links */

/* Footer */

.files-table-head-style {
    width: 95%;
    top: 35%;
    left: 12%;
    position: relative;
}

.tableD {
    width: 18%;
    text-align: center;
}

.tableH {
    width: 18%;
    text-align: center;
}

.td-style {
    color: #12517F;
    font-family: Cairo;
    font-size: 2.5vw;
}

.th-style {
    color: #F8456F;
    font-family: Cairo;
    font-size: 3vw;
    font-weight: 700;
}

.nav-bar-spacer {
    width: 60%
}

/* .btn{
   position: relative;
   top: 5vw;
   left: 4vw;
    width: 15px;
    height: 15px;
} */

@media (min-width:600px) {
    .nav-bar-spacer {
        width: 78%
    }
    
    /* .btn{
        position: relative;
        top: 1vw;
        left: 0.75vw;
         width: 30px;
         height: 30px;
     } */

    #slidparRight {
        width: 4.55vw;
        height: 100vh;
        border-radius: 20px 0 20px 0;
        background-color: #12517F;
        color: transparent;
    }

    #top-nav-bar {
        height: 10vh;
    }

    .heading1 {
        position: absolute;
        top: 11%;
        right: 10%;
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 700;
        font-size: 1.8vw;
        line-height: 60px;
        color: #12517F;
    }

    .blueLightBack {
        width: 91vw;
        height: 100vh;
        position: absolute;
        background: #F2FAFF;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        right: 5.5vw;
        top: 7.5rem;
    }

    .whiteRectBox {
        position: relative;
        width: 95%;
        /* height: 85%; */
        background: white;
        border-radius: 30px;
        margin-right: 2.5%;
        margin-top: 2.5%;
        box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    }

    .b {
        right: 3%;
        top: 3.3vh;
        font-size: 1.5vw;
        font-weight: 700;
        position: relative;
        font-family: 'Cairo';
        font-style: normal;
        color: #12517F;
    }

    .search-box {
        border: 0;
        border-radius: 30px;
        outline-color: #F2FAFF;
        width: 27%;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 4%;
        right: 58%;
        font-size: 0.9vw;
        font-family: Cairo;
        padding-right: 70px;
        color: #12517F;
    }

    /* Footer */
    .rectangle-parent61 {
        position: absolute;
        top: 3rem;
        right: 10rem;
        width: 27%;
        height: 15%;
    }

    .group-child228,
    .searchButton {
        border: 0;
        position: absolute;
        top: 79px;
        left: 0;
        border-radius: 40px;
        box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
        width: 27.5vw;
        height: 80px;
    }

    .searchButton {
        cursor: pointer;
        padding: 0;
        background-color: #12517F;
        width: 12vw;
    }

    .group-child228 {
        background-color: #F2FAFF;
        padding-right: 9%;
        font-size: 1vw;
        font-family: 'Cairo';
    }

    .b75 {
        color: white;
        font-size: 1.4vw;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word;
    }

    .b76 {
        top: 0;
        color: #12517F;
        font-size: 2vw;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word
    }

    .coDetails {
        position: absolute;
        right: 65%;
        top: 3rem;
        text-align: center;
    }

    .coLogo {
        width: 289px;
        height: 51px
    }

    /* Social Media Links */
    .ellipse-parent10 {
        position: absolute;
        top: 180px;
        left: 235px;
        width: 50px;
        height: 50px;
    }

    .ellipse-parent11 {
        position: absolute;
        top: 180px;
        left: 305px;
        width: 50px;
        height: 50px;
    }

    .ellipse-parent12 {
        position: absolute;
        top: 180px;
        left: 165px;
        width: 50px;
        height: 50px;
    }

    .group-child225 {
        border-radius: 50%;
        background-color: #F2FAFF;
        box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
        width: 60px;
        height: 60px;
    }

    /* Social Media Links */

    /* Footer */

    .files-table-head-style {
        width: 95%;
        top: 35%;
        left: 12%;
        position: relative;
    }

    .page-link {
        background-color: #FFFFFF;
        border-radius: 10px;
        color: #12517F;
    }

    .page-link:hover {
        background-color: #F2FAFF;
    }

    .page-link-prev {
        top: 15%;
        position: relative;
    }

    .page-link-next {
        top: 15%;
        position: relative;
    }

    .btn-group {
        position: relative;
        top: 25%;
        right: 45%;
    }

    .th-style {
        color: #F8456F;
        font-family: Cairo;
        font-size: 1.2vw;
    }

    .td-style {
        color: #12517F;
        font-family: Cairo;
        font-size: 1.2vw;
    }

    .mail,
    .facebook,
    .webPage {
        position: relative;
        cursor: pointer;
        padding: 0;
        border: 0;
        background-color: transparent;
        top: 10px;
    }

    .vector-icon199 {
        position: relative;
        width: 40px;
        height: 40px;
    }

    .hr-line-pos {
        position: relative;
        top: 64rem;
    }
    
    .hr-line2-pos {
        position: relative;
        top: 18rem;
        text-align: center;
    }

    .foot {
        position: relative;
        color: #12517F;
        font-size: 20px;
        font-family: Cairo;
        font-weight: 400;
        word-wrap: break-word"

    }
}