.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

 

.ul-profile {
    float: right;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ul-profile {
    list-style: none;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.files-box {
    width: 95%;
    height: 50px;
    background: #F2FAFF;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    top: 10%;
    right: 2.5%;
    margin-top: 3%;
}

.arrow-down-3,
.vector-icon14 {
    position: relative;
    overflow: hidden;
}

.p3 {
    margin: 0;
    position: relative;
    top: 0;
    left: 23px;
    font-weight: 700;
}

.arrow-down-3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 19px;
    left: 0;
    width: 20px;
    height: 20px;
}

.arrow-down-4 {
    top: 11px;
    left: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    position: relative;
}

 

.group {
    position: relative;
    /* width: 54px;
    height: 28px; */
    font-size: 15px;
    color: var(--color-darkgray);
}

.files-table {
    position: relative;
    top: 10%;
    right: 13%;
}

.tableD{
    width: 18%;
    text-align: center;
}

.tableH{
    width: 18%;
    text-align: center;
}
.filter-group {
    position: relative;
    /* width: 30%; */
    font-size: 2vw;
    color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    right: 20%;
    /* bottom: 2%; */
    top: 0.3vh;
}

.selection-box {
    font-size: 2.5vw;
    color: #B2B2B2;
    outline-color: #ffffff;
    background-color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    position: absolute;
    overflow: hidden;
    border: 0;
}
 

 


.p101 {
    position: absolute;
    top: 101px;
    left: 388px;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.mail,
.facebook,
.webPage {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    top: 10px;
}

.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page-item {
    padding-right: 7px;
    padding-left: 7px;
}

 

.show-invoice-btn {
    width: 25%;
    height: 25px;
    /* bottom: 5%; */
    top: 3%;
    left: 2%;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    background-color: #F2FAFF; 
    color: #12517F;
    font-family: Cairo;
    font-size: 3vw;
    font-weight: bold;
    box-shadow: 0px 0px 2px 0px rgba(13, 58, 93, 0.25);
}

.offcanvas-backdrop{
    /* background-color: transparent; */
    /* all: unset; */
    /* width: 0; */
}

@media (min-width:600px) {
    .filter-group {
        position: relative;
        /* width: 30%; */
        font-size: 16px;
        color: #ffffff;
        font-family: 'Cairo';
        font-weight: 700;
        right: 12.5%;
        /* bottom: 2%; */
        top: 0;
    }
    
    .selection-box {
        font-size: 15px;
        color: #B2B2B2;
        outline-color: #ffffff;
        background-color: #ffffff;
        font-family: 'Cairo';
        font-weight: 700;
        position: absolute;
        overflow: hidden;
        border: 0;
    }

    .show-invoice-btn {
        width: 9%;
        height: 50px;
        /* bottom: 5%; */
        top: 4%;
        left: 2%;
        position: absolute;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 0;
        background-color: #F2FAFF; 
        color: #12517F;
        font-family: Cairo;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0px 0px 2px 0px rgba(13, 58, 93, 0.25);
    }
    
    .files-table {
        position: relative;
        top: 15%;
        right: 13%;
    }
    
    .tableD{
        width: 18%;
        text-align: center;
    }
    
    .tableH{
        width: 18%;
        text-align: center;
    }
     
    .files-box {
        width: 95%;
        height: 80px;
        background: #F2FAFF;
        box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        position: relative;
        top: 17%;
        right: 2.5%;
        margin-top: 1%;
    }

        .search-btn {
        border: 0;
        position: absolute;
        background: none;
        left: 43%;
        top: 5.5%;
    }

}