.text-input {
    border: 0;
    background-color: #ff0000;
    position: relative;
    top: 371px;
    left: 12.5%;
    border-radius: 50px;
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    
    font-size: medium;
    font-family: 'TheSansArabic';
}