.text-input1 {
    border: 0;
    background-color: #ffffff;
    outline-color: #c2c1c1;
    position: relative;
    /* top: 371px; */
    /* left: 12.5%; */
    border-radius: 20px;
    width: 280%;
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    font-size: 25px;
    color: #12517F;
    font-family: 'Cairo';
}

.text-input2 {
    border: 0;
    background-color: #ffffff;
    outline-color: #c2c1c1;
    position: relative;
    /* top: 371px; */
    /* left: 12.5%; */
    border-radius: 20px;
    width: 280%;
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    font-size: 25px;
    color: #12517F;
    font-family: 'Cairo';
}

.text-input3 {
    border: 0;
    background-color: #ffffff;
    outline-color: #c2c1c1;
    position: relative;
    /* top: 371px; */
    /* left: 12.5%; */
    border-radius: 20px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    font-size: 25px;
    color: #12517F;
    font-family: 'Cairo';
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

.heading1 {
    position: absolute;
    top: 8%;
    right: 10%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #12517F;
}

.ul-profile {
    float: right;
    list-style: none;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.blueLightBack {
    width: 95%;
    height: 1024px;
    position: absolute;
    background: #F2FAFF;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 2.5rem;
    top: 7.5rem;
}

.whiteRectBox {
    position: relative;
    width: 95%;
    height: 100%;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
}

.form-label {
    /* top: 30px; */
    font-size: 20px;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.b {
    right: 45px;
    top: 30px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.group {
    position: relative;
    top: 60px;
    right: 60px;
}

/* .btn-primary {
    border: 0;
    outline-color: #ffffff;
    border-radius: 20px;
    width: 50%;
    height: 50px;
    border-bottom: #12517F;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Cairo';
} */

.btn-primary {
    width: 30%;
    height: 90px;
    background: #12517F;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-radius: 40px;
    color: #ffffff;
    border: 0;
    font-size: 25px;
    font-family: Cairo;
    right: 30%;
    top: 190px;
    position: relative;
}