.body {
    background-color: #ffffff;
    /* background-color: #ddd4d4; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ul-profile {
    list-style: none;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.hellorectangle {
    border-radius: 30px;
    height: 200px;
}

.hello-img {
    position: relative;
    bottom: 28px;
}

.heading1 {
    position: absolute;
    left: 83%;
    top: 8%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #12517F;
}


@media (min-width:600px) {

}

.projectSummaryBox {
    position: relative;
    width: 50%;
    height: 176px;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
}

.projectSummaryText {
    position: relative;
    color: #12517F;
    font-size: 25px;
    font-family: Cairo;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: 18px;
    margin-right: 2.5%;
}

.projectStatus {
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 500;
    word-wrap: break-word
}

.helloBox {
    width: 42%;
    height: 176px;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
}

.helloUser {
    position: absolute;
    margin-top: auto;
    /* margin-left: auto; */
    margin-right: 5%;
    margin-top: 4.5%;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 600;
    word-wrap: break-word
}

.quickInfoBox {
    width: 37%;
    height: 654px;
    background: white;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
}

.bill-type {
    position: relative;
    color: #12517F;
    font-size: 18px;
    font-family: Cairo;
    font-weight: 500;
    word-wrap: break-word;
    padding-top: 1.5%;
}

.bill-type-group {
    position: relative;
    right: 8%;
}

.bill-type-table {
    width: 80%;
    position: relative;
    top: 20%;
}

.stats-quick-info-box {
    position: relative;
    height: 50%;
    width: 90%;
    border: 3;
    border-color: #12517F;
}

.quickBillsInfoBox {
    width: 55%;
    height: 654px;
    background: white;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
}


.rectangle-parent61 {
    position: absolute;
    top: 3rem;
    right: 10rem;
    width: 27%;
    height: 15%;
}

 


.p101 {
    position: absolute;
    top: 101px;
    left: 388px;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

 

  

.ellipse-parent10 {
    position: absolute;
    top: 180px;
    left: 235px;
    width: 50px;
    height: 50px;
}

.ellipse-parent11 {
    position: absolute;
    top: 180px;
    left: 305px;
    width: 50px;
    height: 50px;
}

.ellipse-parent12 {
    position: absolute;
    top: 180px;
    left: 165px;
    width: 50px;
    height: 50px;
}


.group-child225 {
    border-radius: 50%;
    background-color: #F2FAFF;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 50px;
    height: 50px;

}

.mail,
.facebook,
.webPage {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    top: 10px;
}

.filter-group1 {
    position: relative;
    width: 20%;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    /* right: 9.8%; */
    bottom: 0.7%;

}

.selection-box1 {
    /* top: 2.5%; */
    /* right: 80%; */
    font-size: 15px;
    color: #ff0000;
    outline-color: #ffffff;
    background-color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    position: relative;
    overflow: hidden;
    border: 0;
}

.filter-group2 {
    position: relative;
    width: 20%;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    /* right: 9.8%; */
    bottom: 0.7%;

}

.selection-box2 {
    /* top: 5%; */
    /* right: 80%; */
    font-size: 15px;
    color: #ff0000;
    outline-color: #ffffff;
    background-color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    position: relative;
    overflow: hidden;
    border: 0;
}

.body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.offcanvas-backdrop {
    /* background-color: transparent; */
    all: unset;
}