.form-labe1 {
    border: 0;
    background-color: #ffffff;
    outline-color: #ff0000;
    position: relative;
    /* top: 371px; */
    /* left: 12.5%; */
    border-radius: 20px;
    width: 280%;
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    font-size: 25px;
    color: #12517F;
    font-family: 'Cairo';
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

.heading1 {
    position: absolute;
    top: 8%;
    right: 10%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #12517F;
}

.ul-profile {
    float: right;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ul-profile {
    list-style: none;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.blueLightBack {
    width: 95%;
    height: 100%;
    position: relative;
    background: #F2FAFF;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    right: 2.5%;
    top: 3rem;
}

.b {
    right: 45px;
    top: 30px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.input-form-group {
    width: 100%;
    height: 140px;
    position: relative;
    top: 50px;
    right: 22.5%;
    
}

.input-form-group-field {
    width: 100%;
    height: 92px;
    top: 48px;
    position: relative ;
    background: white;
    border-radius: 30px;
    border: 0;
}

.input-form-group-label {
    right: 1.5%;
    position: absolute;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 500;
    word-wrap: break-word;
    text-align: right;
}