.body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.form-labe1 {
    border: 0;
    background-color: #ffffff;
    outline-color: #ff0000;
    position: relative;
    /* top: 371px; */
    /* left: 12.5%; */
    border-radius: 20px;
    width: 280%;
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    font-size: 25px;
    color: #12517F;
    font-family: 'Cairo';
}

#edit-profile-image {
    width: 75px;
    height: 75px;
    left: 25%;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ul-profile {
    list-style: none;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}



.input-form-group {
    width: 100%;
    height: 100px;
    position: relative;
    top: 40px;
    /* right: 22.5%; */

}

.input-form-group-field {
    width: 95%;
    height: 50px;
    top: 35px;
    position: relative;
    background: white;
    border-radius: 30px;
    border: 0;
    right: 2.5%;
    padding-right: 10px;
}

.input-form-group-label {
    right: 1.5%;
    position: absolute;
    color: #12517F;
    font-size: 2.8vw;
    font-family: Cairo;
    font-weight: 500;
    word-wrap: break-word;
    text-align: right;
    top: 5px;
}

.update-pass-profile-btn,
.update-profile-btn {
    width: 35vw;
    height: 50px;
    right: 25%;
    position: relative;
    background: #12517F;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-radius: 40px;
    font-size: 3vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
    border: 0;
    color: white;
}

.update-pass-profile-btn-div {
    height: 100px;
    position: relative;
    top: 260px;
}

.pass-field-label {
    color: #12517F;
    font-size: 3vw;
    font-family: Cairo;
    font-weight: 500;
    word-wrap: break-word;
    text-align: right;
    margin-bottom: 4rem;
}

#oldinputPassword,
#newinputPassword,
#confirmnewinputPassword {
    top: 0;
    width: 80%;
    margin-top: 30px;
}

#change-pass-text {
    height: 50px
}

.offcanvas-backdrop {
    /* background-color: transparent; */
    all: unset;
}

.profile-image-style {
    right: 35%;
    top: 30px;
    position: relative;
}

.dir-selection-box-style {
    width: 95%;
    height: 50px;
    left: 0px;
    top: 35px;
    position: absolute;
    background: white;
    border-radius: 30px;
    border: 0;
    right: 2.5%;
    padding-right: 10px;
}

#email-notification-text {
    position: relative;
    height: 50px;
    top: 55px;
}

.form-check-label {
    font-size: 2.5vw;
    width: 4vw;
}

#check-frm-group {
    position: relative;
    font-family: Cairo;
    height: 100px;
    right: 5%;
    top: 50px;
    font-style: normal;
    font-weight: 500;
    width: 94%;
}

.last-pass-edit-text {
    top: 225px;
    position: relative;
    right: 20%;
    height: 100px;
    color: rgba(11, 92, 153, 0.25);
    font-size: 2.8vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

#pass-form {
    bottom: 150px;
    position: absolute;
}

@media(min-width:600px) {
    .form-labe1 {
        border: 0;
        background-color: #ffffff;
        outline-color: #ff0000;
        position: relative;
        /* top: 371px; */
        /* left: 12.5%; */
        border-radius: 20px;
        width: 280%;
        height: 90px;
        display: flex;
        flex-direction: row;
        padding: 0 25px;
        box-sizing: border-box;
        align-items: center;
        font-size: 25px;
        color: #12517F;
        font-family: 'Cairo';
    }

    .profileimg {
        border-radius: 50%;
        border: 2px solid blue;
    }

    .ul-profile {
        float: right;
    }

    #email-notification-text {
        position: relative;
        height: 150px;
        top: 100px;
    }

    .ul-profile {
        float: right;
    }

    #slidparRight {
        width: 121px;
        font-size: 12px;
    }

    .ul-profile {
        list-style: none;
    }

    .ulpnl {
        list-style: none;
        padding: 2%;
        margin-top: 14px;
    }

    .ulpnl li {
        margin-top: 24px;
    }

    .input-form-group {
        width: 100%;
        height: 140px;
        position: relative;
        top: 50px;
        /* right: 22.5%; */

    }

    .input-form-group-field {
        width: 100%;
        height: 92px;
        top: 48px;
        position: relative;
        background: white;
        border-radius: 30px;
        border: 0;
        right: 0%;
    }

    .input-form-group-label {
        right: 1.5%;
        position: absolute;
        color: #12517F;
        font-size: 20px;
        font-family: Cairo;
        font-weight: 500;
        word-wrap: break-word;
        text-align: right;
        top: 15px;
    }

    .update-pass-profile-btn,
    .update-profile-btn {
        width: 400px;
        height: 90px;
        right: 40%;
        position: relative;
        background: #12517F;
        box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
        border-radius: 40px;
        font-size: 25px;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word;
        border: 0;
        color: white;
    }

    .pass-field-label {
        color: #12517F;
        font-size: 20px;
        font-family: Cairo;
        font-weight: 500;
        word-wrap: break-word;
        text-align: right;
    }

    #edit-profile-image {
        width: 150px;
        height: 150px;
        left: 25%;
    }

    .profile-image-style {
        right: 45%;
        top: 30px;
        position: relative;
    }

    .dir-selection-box-style {
        width: 100%;
        height: 92px;
        left: 0px;
        top: 48px;
        position: absolute;
        background: white;
        border-radius: 30px;
        border: 0;
    }

    #check-frm-group {
        position: relative;
        font-family: Cairo;
        height: 150px;
        right: 7.5%;
        top: 50px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    .form-check-label {
        all: unset;
    }

    #change-pass-text {
        height: 100px
    }

    #oldinputPassword,
    #newinputPassword,
    #confirmnewinputPassword {
        top: 0;
        width: 80%;
        margin-top: 0;
    }

    .last-pass-edit-text {
        top: 40px;
        position: relative;
        right: 45%;
        height: 100px;
        color: rgba(11, 92, 153, 0.25);
        font-size: 16px;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word
    }

    #pass-form {
        right: 3%;
        position: relative;
        bottom: 0;
    }

    .update-pass-profile-btn-div {
        height: 100px;
        position: relative;
        top: 25px;
    }
}