.body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}



.ul-profile {
    float: right;
    list-style: none;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}




.random-ticket-group {
    position: relative;
    top: 4%;
    right: 10px;
}

.random-ticket-group-rect {
    width: 93.5%;
    height: 300px;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.random-ticket-group-label {
    top: 25px;
    position: relative;
    color: #12517F;
    font-size: 4.5vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    left: 10px;
}

.random-ticket-group-var {
    position: relative;
    color: #12517F;
    font-size: 3vw;
    font-family: Cairo;
    font-weight: 600;
    word-wrap: break-word;
    text-align: right;
    /* right: 5%; */
    /* margin-bottom: 15%; */
    top: 100%;
}

.random-ticket-group-val {
    position: relative;
    color: #F8456F;
    font-size: 3vw;
    font-family: Cairo;
    font-weight: 400;
    word-wrap: break-word;
    /* right: 65%; */
    /* margin-top: 15%; */
    text-align: left;
    top: 100%;
}

.add-ticket-respond-group {
    width: 93.5%;
    height: 25%;
    position: relative;
    top: 33%;
    right: 3.5%;
}

.add-ticket-respond-group-rect {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.add-ticket-respond-group-label {
    /* left: 160px; */
    /* right: 25%; */
    top: 29px;
    position: relative;
    color: #12517F;
    font-size: 3.5vw;
    font-family: Cairo;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
}

.add-ticket-respond-group-input-field {
    top: 70px;
    position: absolute;
    color: #455A64;
    font-size: 16px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
    right: 7.5%;
    width: 100%;
}

.ticket-feedback-input-field {
    width: 85%;
    height: 110px;
    border-radius: 20px;
    border: 5;
    border-color: #F2FAFF;
    outline-color: #F2FAFF;
    outline-width: 5;
    padding-right: 10px;
    padding-top: 10px;
}

.add-ticket-respond-group-files {
    top: 165px;
    position: relative;
    right: 10%;
}

.add-respond-submit-button-group {
    position: relative;
    text-align: center;
}

.add-respond-submit-button-group-rect {
    width: 60%;
    height: 50px;
    right: 18%;
    top: 290px;
    position: absolute;
    background: #12517F;
    border-radius: 40px;
    border: 0;
}


.add-file-btn-square {
    border: 0;
    position: relative;
    right: 15px;
    top: 15px;
    align-self: center;

}

.add-ticket-respond-group-file-square {
    width: 60px;
    height: 60px;
    position: relative;
    background: rgba(217, 217, 217, 0.20);
    border-radius: 20px;
}

.footer-group {
    width: 93.5%;
    height: 421px;
    position: relative;
    top: 42%;
    right: 3.5%;
}

.footer-group-rect {
    width: 100%;
    height: 300px;
    position: relative;
    background: white;
    border-radius: 50px
}

.footer-group-rect-label {
    position: relative;
    font-size: 3.5vw;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    top: 32.5%;
}

.offcanvas-backdrop {
    /* background-color: transparent; */
    all: unset;
}

.Rectangle1301 {
    width: 93%;
    height: 60px;
    top: 46px;
    right: 3.5%;
    position: relative;
    background: #12517F;
    border-radius: 50px
}

.Rectangle1302 {
    width: 93%;
    height: 60px;
    top: 60px;
    right: 3.5%;
    position: relative;
    background: #FFE9E9;
    border-radius: 50px
}

.Rectangle1303 {
    width: 93%;
    height: 60px;
    top: 74px;
    right: 3.5%;
    position: relative;
    background: #F2FFF9;
    border-radius: 50px
}

@media (min-width:600px) {
    .body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .profileimg {
        border-radius: 50%;
        border: 2px solid blue;
    }

    .ul-profile {
        float: right;
    }



    .ul-profile {
        float: right;
        list-style: none;
    }

    #slidparRight {
        width: 121px;
        font-size: 12px;
    }

    .ulpnl {
        list-style: none;
        padding: 2%;
        margin-top: 14px;
    }

    .ulpnl li {
        margin-top: 24px;
    }




    .random-ticket-group {
        position: relative;
        top: 7%;
        right: 50px;
    }

    .random-ticket-group-rect {
        width: 22%;
        height: 522px;
        position: absolute;
        background: white;
        border-radius: 50px;
    }

    .random-ticket-group-label {
        top: 35px;
        position: relative;
        color: #12517F;
        font-size: 30px;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word;
        text-align: center;
        left: 0;
    }

    .random-ticket-group-var {
        position: relative;
        color: #12517F;
        font-size: 1vw;
        font-family: Cairo;
        font-weight: 600;
        word-wrap: break-word;
        left: 3%;
        /* right: 4%; */
        text-align: right;
        margin-top: 8%;
        top: 100%;
    }

    .random-ticket-group-val {
        position: relative;
        color: #F8456F;
        font-size: 1vw;
        font-family: Cairo;
        font-weight: 400;
        word-wrap: break-word;
        /* right: 40%; */
        margin-top: 8%;
        top: 100%;
        text-align: left;
    }

    .add-ticket-respond-group {
        width: 65%;
        height: 36%;
        position: relative;
        top: 7%;
        right: 30%;
    }

    .add-ticket-respond-group-rect {
        width: 100%;
        height: 100%;
        position: absolute;
        background: white;
        border-radius: 50px;
    }

    .add-ticket-respond-group-label {
        /* left: 160px; */
        /* right: 25%; */
        top: 29px;
        position: relative;
        color: #12517F;
        font-size: 24px;
        font-family: Cairo;
        font-weight: 600;
        word-wrap: break-word;
        text-align: center;
    }

    .add-ticket-respond-group-input-field {
        top: 112px;
        position: absolute;
        color: #455A64;
        font-size: 16px;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word;
        right: 7.5%;
        width: 100%;
    }

    .ticket-feedback-input-field {
        width: 85%;
        height: 110px;
        border-radius: 20px;
        border: 5;
        border-color: #F2FAFF;
        outline-color: #F2FAFF;
        outline-width: 5;
        padding-right: 10px;
        padding-top: 10px;
    }

    .add-ticket-respond-group-files {
        top: 220px;
        position: relative;
        right: 45%;
    }

    .add-respond-submit-button-group {
        position: relative;
        text-align: center;

    }

    .add-respond-submit-button-group-rect {
        width: 50%;
        height: 90px;
        right: 25%;
        top: 450px;
        position: absolute;
        background: #12517F;
        border-radius: 40px;
        border: 0;
    }


    .add-file-btn-square {
        border: 0;
        position: relative;
        right: 38%;
        top: 37.5%;
        align-self: center;

    }

    .add-ticket-respond-group-file-square {
        width: 135px;
        height: 125px;
        position: relative;
        background: rgba(217, 217, 217, 0.20);
        border-radius: 20px;
    }

    .footer-group {
        width: 92.5%;
        height: 421px;
        position: relative;
        top: 21%;
        right: 2.5%;
    }

    .footer-group-rect {
        width: 100%;
        height: 421px;
        position: relative;
        background: white;
        border-radius: 50px
    }

    .footer-group-rect-label {
        position: relative;
        font-size: 30px;
        font-family: Cairo;
        font-weight: 700;
        word-wrap: break-word;
        text-align: center;
        top: 27.5%;
    }

    .Rectangle1301 {
        width: 93%;
        height: 98px;
        top: 46px;
        right: 3.5%;
        position: relative;
        background: #12517F;
        border-radius: 50px
    }

    .Rectangle1302 {
        width: 93%;
        height: 98px;
        top: 60px;
        right: 3.5%;
        position: relative;
        background: #FFE9E9;
        border-radius: 50px
    }

    .Rectangle1303 {
        width: 93%;
        height: 98px;
        top: 74px;
        right: 3.5%;
        position: relative;
        background: #F2FFF9;
        border-radius: 50px
    }
}