.body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

.heading1 {
    position: absolute;
    top: 8%;
    right: 10%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #12517F;
}

.ul-profile {
    float: right;
    list-style: none;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.blueLightBack {
    width: 92.5%;
    height: 120%;
    position: absolute;
    background: #F2FAFF;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 2.5rem;
    top: 7.5rem;
}

.b {
    right: 45px;
    top: 30px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.random-ticket-group {
    position: relative;
    top: 7%;
    right: 50px;
}

.random-ticket-group-rect {
    width: 22%;
    height: 522px;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.random-ticket-group-label {
    top: 35px;
    position: relative;
    color: #12517F;
    font-size: 30px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.random-ticket-group-var {
    position: relative;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 600;
    word-wrap: break-word;
    right: 5%;
}

.random-ticket-group-val {
    position: absolute;
    color: #F8456F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 400;
    word-wrap: break-word;
    right: 65%;
}

.add-ticket-respond-group {
    width: 65%;
    height: 36%;
    position: relative;
    top: 7%;
    right: 30%;
}

.add-ticket-respond-group-rect {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.add-ticket-respond-group-label {
    /* left: 160px; */
    /* right: 25%; */
    top: 29px;
    position: relative;
    color: #12517F;
    font-size: 24px;
    font-family: Cairo;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
}

.add-ticket-respond-group-input-field {
    top: 112px;
    position: absolute;
    color: #455A64;
    font-size: 16px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
    right: 7.5%;
    width: 100%;
}

.ticket-feedback-input-field {
    width: 85%;
    height: 110px;
    border-radius: 20px;
    border: 5;
    border-color: #F2FAFF;
    outline-color: #F2FAFF;
    outline-width: 5;
    padding-right: 10px;
    padding-top: 10px;
}

.add-ticket-respond-group-files {
    top: 220px;
    position: relative;
    right: 45%;
}

.add-respond-submit-button-group {
    position: relative;
    text-align: center;

}

.add-respond-submit-button-group-rect {
    width: 50%;
    height: 90px;
    right: 25%;
    top: 450px;
    position: absolute;
    background: #12517F;
    border-radius: 40px;
    border: 0;
}


.add-file-btn-square {
    border: 0;
    position: relative;
    right: 38%;
    top: 37.5%;
    align-self: center;

}

.add-ticket-respond-group-file-square {
    width: 135px;
    height: 125px;
    position: relative;
    background: rgba(217, 217, 217, 0.20);
    border-radius: 20px;
}

.footer-group {
    width: 92.5%;
    height: 421px;
    position: relative;
    top: 21%;
    right: 2.5%;
}

.footer-group-rect {
    width: 100%;
    height: 421px;
    position: relative;
    background: white;
    border-radius: 50px
}

.footer-group-rect-label {
    position: relative;
    font-size: 30px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    top: 27.5%;
}

.offcanvas-backdrop {
    background-color: transparent;
    /* all: unset; */
}