.body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

 

.ul-profile {
    float: right;
    list-style: none;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

 

.whiteRectBox {
    position: relative;
    width: 95%;
    height: 90%;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
}

.offcanvas-backdrop{
    /* background-color: transparent; */
    all: unset;
}




