.body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

.heading1 {
    position: absolute;
    top: 8%;
    right: 10%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #12517F;
}

.ul-profile {
    float: right;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ul-profile {
    list-style: none;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.blueLightBack {
    width: 92.5%;
    height: 850px;
    position: absolute;
    background: #F2FAFF;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 2.5rem;
    top: 7.5rem;
}

.whiteRectBox {
    position: relative;
    width: 95%;
    height: 85%;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
}

.files-box {
    width: 95%;
    height: 80px;
    background: #F2FAFF;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    top: 17%;
    right: 2.5%;
    margin-top: 1%;
}

.arrow-down-3,
.vector-icon14 {
    position: relative;
    overflow: hidden;
}

.p3 {
    margin: 0;
    position: relative;
    top: 0;
    left: 23px;
    font-weight: 700;
}

.arrow-down-3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 19px;
    left: 0;
    width: 20px;
    height: 20px;
}

.arrow-down-4 {
    top: 11px;
    left: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    position: relative;
}

.b {
    right: 45px;
    top: 30px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.group {
    position: relative;
    /* width: 54px;
    height: 28px; */
    font-size: 15px;
    color: var(--color-darkgray);
}

.search-box {
    border: 0;
    border-radius: 30px;
    outline-color: #F2FAFF;
    width: 27%;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 4.5%;
    left: 18%;
    font-size:20px;
    font-family: Cairo;
    padding-right: 70px;
    color: #12517F;
}

.search-btn{
    border: 0;
    position: absolute;
    background: none;
    left: 43%;
    top: 5.5%;
}

.files-table {
    position: relative;
    top: 15%;
    right: 13%;
}

.tableD {
    width: 11%;
    text-align: center;
}

.tableH {
    width: 11%;
    text-align: center;
}

.filter-group {
    position: relative;
    /* width: 30%; */
    font-size: 16px;
    color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    right: 12%;
    /* bottom: 2%; */ 
}

.selection-box {
    font-size: 15px;
    color: #B2B2B2;
    outline-color: #ffffff;
    background-color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    position: absolute;
    overflow: hidden;
    border: 0;
}

.rectangle-parent61 {
    position: absolute;
    top: 3rem;
    right: 10rem;
    width: 27%;
    height: 15%;
}

.group-child228,
.searchButton {
    border: 0;
    position: absolute;
    top: 79px;
    left: 0;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 534px;
    height: 80px;
}

.searchButton {
    cursor: pointer;
    padding: 0;
    background-color: #12517F;
    width: 237px;
}

.group-child228 {
    background-color: #F2FAFF;
}


.p101 {
    position: absolute;
    top: 101px;
    left: 388px;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.b75 {
    color: white;
    font-size: 25px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
}

.b76 {
    top: 0;
    color: #12517F;
    font-size: 30px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.coDetails {
    position: absolute;
    right: 80rem;
    top: 3rem;
    text-align: center;
}

.ellipse-parent10 {
    position: absolute;
    top: 180px;
    left: 240px;
    width: 50px;
    height: 50px;
}

.ellipse-parent11 {
    position: absolute;
    top: 180px;
    left: 160px;
    width: 50px;
    height: 50px;
}

.ellipse-parent12 {
    position: absolute;
    top: 180px;
    left: 80px;
    width: 50px;
    height: 50px;
}


.group-child225 {
    border-radius: 50%;
    background-color: #F2FAFF;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 50px;
    height: 50px;
}

.mail,
.facebook,
.webPage {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    top: 10px;
}

.page-item {
    padding-right: 7px;
    padding-left: 7px;
}

.page-link {
    background-color: #F2FAFF;
    border-radius: 10px;
    color: #12517F;
}

.page-link-prev {
    top: 15%;
    position: relative;
}

.page-link-next {
    top: 15%;
    position: relative;
}

.add-ticket-support-btn {
    width: 9%;
    height: 50px;
    /* bottom: 5%; */
    top: 4%;
    left: 2%;
    position: absolute;
    background: #F2FAFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 0px 2px 0px rgba(13, 58, 93, 0.25);
    border: 0;
    color: #12517F;
    font-family: Cairo;
    font-size: 18px;
    font-weight: bold;
}

.offcanvas-backdrop{
    /* background-color: transparent; */
    all: unset;
}
