.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}

.heading1 {
    position: absolute;
    top: 8%;
    right: 10%;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: #12517F;
}

.ul-profile {
    float: right;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ul-profile {
    list-style: none;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.blueLightBack {
    width: 95%;
    height: 973px;
    position: absolute;
    background: #F2FAFF;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 2.5rem;
    top: 7.5rem;
}

.whiteRectBox {
    position: relative;
    width: 95%;
    height: 85%;
    background: white;
    border-radius: 30px;
    margin-right: 2.5%;
    margin-top: 2.5%;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
}

.files-box {
    width: 95%;
    height: 80px;
    background: #F2FAFF;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    top: 17%;
    right: 2.5%;
    margin-top: 1%;
}

.arrow-down-3,
.vector-icon14 {
    position: relative;
    overflow: hidden;
}

.p3 {
    margin: 0;
    position: relative;
    top: 0;
    left: 23px;
    font-weight: 700;
}



.b {
    right: 45px;
    top: 30px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    color: #12517F;
}

.filter-group {
    position: relative;
    width: 20%;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    right: 9.8%;
    bottom: 0.7%;
    
}

.selection-box {
    font-size: 15px;
    color: #ff0000;
    outline-color: #ffffff;
    background-color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    position: absolute;
    overflow: hidden;
    border: 0;
}

.search-box {
    border: 0;
    border-radius: 20px;
    outline-color: #F2FAFF;
    width: 27%;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 4.5%;
    left: 9.7%;
    font-family: Cairo;
    padding-right: 50px;
}

.files-table {
    position: relative;
    top: 15%;
    right: 13%;
}

.tableD {
    width: 18%;
    text-align: center;
}

.tableH {
    width: 18%;
    text-align: center;
}

.add-file-btn-square {
    border: 0;
    position: relative;
    right: 94%;
    bottom: 3.5%;
}
.rectangle-parent61 {
    position: absolute;
    top: 3rem;
    right: 10rem;
    width: 27%;
    height: 15%;
}

.group-child228,
.searchButton {
    border: 0;
    position: absolute;
    top: 79px;
    left: 0;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 534px;
    height: 80px;
}

.searchButton {
    cursor: pointer;
    padding: 0;
    background-color: #12517F;
    width: 237px;
}

.group-child228 {
    background-color: #F2FAFF;
}


.p101 {
    position: absolute;
    top: 101px;
    left: 388px;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.b75 {
    color: white;
    font-size: 25px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word;
}

.b76 {
    top: 0;
    color: #12517F;
    font-size: 30px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.coDetails {
    position: absolute;
    right: 80rem;
    top: 3rem;
    text-align: center;
}

.ellipse-parent10 {
    position: absolute;
    top: 180px;
    left: 235px;
    width: 50px;
    height: 50px;
}

.ellipse-parent11 {
    position: absolute;
    top: 180px;
    left: 305px;
    width: 50px;
    height: 50px;
}

.ellipse-parent12 {
    position: absolute;
    top: 180px;
    left: 165px;
    width: 50px;
    height: 50px;
}


.group-child225 {
    border-radius: 50%;
    background-color: #F2FAFF;
    box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
    width: 50px;
    height: 50px;

}

.mail,
.facebook,
.webPage {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    top: 10px;
}

.page-item {
    padding-right: 7px;
    padding-left: 7px;
}

.page-link {
    background-color: #F2FAFF;
    border-radius: 10px;
    color: #12517F;
}

.page-link-prev {
    top: 15%;
    position: relative;
}

.page-link-next {
    top: 15%;
    position: relative;
}