.body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileimg {
    border-radius: 50%;
    border: 2px solid blue;
}

.ul-profile {
    float: right;
}



.ul-profile {
    float: right;
}

#slidparRight {
    width: 121px;
    font-size: 12px;
}

.ul-profile {
    list-style: none;
}

.ulpnl {
    list-style: none;
    padding: 2%;
    margin-top: 14px;
}

.ulpnl li {
    margin-top: 24px;
}

.arrow-down-3,
.vector-icon14 {
    position: relative;
    overflow: hidden;
}

.p3 {
    margin: 0;
    position: relative;
    top: 0;
    left: 23px;
    font-weight: 700;
}

.filter-group {
    position: relative;
    /* width: 30%; */
    font-size: 16px;
    color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    right: 20%;
    /* bottom: 2%; */
    top: 0.5%;

}

.selection-box {
    font-size: 2vw;
    color: #B2B2B2;
    outline-color: #ffffff;
    background-color: #ffffff;
    font-family: 'Cairo';
    font-weight: 700;
    position: absolute;
    overflow: hidden;
    border: 0;
}

.files-box {
    width: 92%;
    height: 60px;
    background: #F2FAFF;
    box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    top: 6%;
    right: 4%;
    margin-top: 5%;
}

.trash-icon {
    width: 5vw;
}

.file-style {
    width: 14vw;
}

.files-box-style {
    width: 100%;
    top: 13%;
    left: 1.6%;
    position: relative;
}

.mm {
    width: 5vw;
}

.files-table {
    position: relative;
    top: 7%;
    right: 13%;
}

.files-table-head-style {
    width: 95%;
    top: 35%;
    left: 12%;
    position: relative;
}


.add-file-btn-square {
    border: 0;
    position: absolute;
    right: 86%;
    top: 3%;
}

.p101 {
    position: absolute;
    top: 101px;
    left: 388px;
    color: #12517F;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 700;
    word-wrap: break-word
}

.ellipse-parent10 {
    position: absolute;
    top: 180px;
    left: 240px;
    width: 50px;
    height: 50px;
}

.ellipse-parent11 {
    position: absolute;
    top: 180px;
    left: 160px;
    width: 50px;
    height: 50px;
}

.ellipse-parent12 {
    position: absolute;
    top: 180px;
    left: 80px;
    width: 50px;
    height: 50px;
}


 

.mail,
.facebook,
.webPage {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    top: 10px;
}

.page-item {
    padding-right: 7px;
    padding-left: 7px;
}



.offcanvas-backdrop {
    /* background-color: transparent; */
    all: unset;
}


@media (min-width:600px) {
    .filter-group {
        position: relative;
        /* width: 30%; */
        font-size: 16px;
        color: #ffffff;
        font-family: 'Cairo';
        font-weight: 700;
        right: 10%;
        /* bottom: 2%; */
        top: 0;

    }

    .selection-box {
        font-size: 15px;
        color: #B2B2B2;
        outline-color: #ffffff;
        background-color: #ffffff;
        font-family: 'Cairo';
        font-weight: 700;
        position: absolute;
        overflow: hidden;
        border: 0;
    }

    .add-file-btn-square {
        border: 0;
        position: relative;
        right: 94%;
        top: .5%;
    }

    .mm {
        width: 2vw;
    }

    .files-table {
        position: relative;
        top: 15%;
        right: 13%;
    }

    .files-box {
        width: 95%;
        height: 8.3vh;
        background: #F2FAFF;
        box-shadow: 0px 0px 4px rgba(11, 92, 153, 0.25);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        position: relative;
        top: 17%;
        right: 2.5%;
        margin-top: 1%;
    }

    .files-box-style {
        width: 100%;
        top: 6%;
        left: 1.6%;
        position: relative;
    }

    .trash-icon {
        width: 2vw;
    }

    .file-style {
        width: 4.7vw;
    }
}