<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component12.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div151" id="container">
      <div class="rectangle-parent163">
        <div class="group-child501"></div>
        <a class="calendar-113">
          <img class="vector-icon662" alt="" src="./public/vector54.svg" />

          <img class="vector-icon663" alt="" src="./public/vector54.svg" />

          <img class="vector-icon664" alt="" src="./public/vector55.svg" />

          <img class="vector-icon665" alt="" src="./public/vector56.svg" />

          <img class="vector-icon666" alt="" src="./public/vector100.svg" />

          <img class="vector-icon667" alt="" src="./public/vector101.svg" />

          <img class="vector-icon668" alt="" src="./public/vector102.svg" />

          <img class="vector-icon669" alt="" src="./public/vector103.svg" />

          <img class="vector-icon670" alt="" src="./public/vector16.svg" />

          <img class="vector-icon671" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent12">
          <img
            class="mask-group-icon16"
            alt=""
            src="./public/mask-group12.svg"
          />

          <p class="p254">ماهيتاب</p>
          <button class="arrow-down-312">
            <img class="vector-icon672" alt="" src="./public/vector104.svg" />
          </button>
        </div>
        <b class="b125">عرض سعر</b>
      </div>
      <div class="rectangle-parent164">
        <div class="group-child502" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3414"> </a>
        <a class="folder-114" href="./Component14.html" id="folder1">
          <img class="vector-icon673" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-114"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon674" alt="" src="./public/vector20.svg" />

          <img class="vector-icon675" alt="" src="./public/vector21.svg" />

          <img class="vector-icon676" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-114" href="Component12.html" id="coin1">
          <img class="vector-icon677" alt="" src="./public/vector23.svg" />

          <img class="vector-icon678" alt="" src="./public/vector24.svg" />

          <img class="vector-icon679" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-114" href="./Component11.html" id="task1">
          <img class="vector-icon680" alt="" src="./public/vector26.svg" />

          <img class="vector-icon681" alt="" src="./public/vector27.svg" />

          <img class="vector-icon682" alt="" src="./public/vector28.svg" />

          <img class="vector-icon683" alt="" src="./public/vector29.svg" />

          <img class="vector-icon684" alt="" src="./public/vector30.svg" />

          <img class="vector-icon685" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-114"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon686" alt="" src="./public/vector32.svg" />

          <img class="vector-icon687" alt="" src="./public/vector33.svg" />

          <img class="vector-icon688" alt="" src="./public/vector34.svg" />

          <img class="vector-icon689" alt="" src="./public/vector35.svg" />

          <img class="vector-icon690" alt="" src="./public/vector36.svg" />

          <img class="vector-icon691" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-114" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon673" alt="" src="./public/vector38.svg" />

          <img class="vector-icon693" alt="" src="./public/vector39.svg" />

          <img class="vector-icon694" alt="" src="./public/vector40.svg" />
        </a>
        <a
          class="document-text-114"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon695" alt="" src="./public/vector41.svg" />

          <img class="vector-icon696" alt="" src="./public/vector42.svg" />

          <img class="vector-icon697" alt="" src="./public/vector43.svg" />

          <img class="vector-icon698" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-114" href="/" id="login1">
          <img class="vector-icon699" alt="" src="./public/vector45.svg" />

          <img class="vector-icon700" alt="" src="./public/vector46.svg" />

          <img class="vector-icon701" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-114" href="./Desktop48.html" id="element31">
          <img class="vector-icon702" alt="" src="./public/vector48.svg" />

          <img class="vector-icon703" alt="" src="./public/vector49.svg" />

          <img class="vector-icon704" alt="" src="./public/vector50.svg" />

          <img class="vector-icon705" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-frame" data-animate-on-scroll>
          <img class="group-child503" alt="" src="./public/polygon-6.svg" />
        </div>
      </div>
      <div class="rectangle-parent165">
        <div class="group-child504"></div>
        <div class="rectangle-parent166">
          <div class="group-child505"></div>
          <b class="b126">عرض سعر</b>
          <div class="parent76">
            <p class="p255">أرسلت</p>
            <select class="arrow-down-214">
              <option value="انخفض">منتهي الصلاحية</option>
              <option value="قبلت">أرسلت</option>
            </select>
          </div>
          <div class="parent77">
            <h1 class="h171">الحالة</h1>
            <h1 class="h172">مرجع</h1>
            <h1 class="h173">كمية</h1>
            <h1 class="h174">تاريخ الانتهاء</h1>
            <h1 class="h175">تاريخ</h1>
            <h1 class="h176">عرض سعر</h1>
          </div>
          <div class="rectangle-parent167">
            <div class="group-child506"></div>
            <p class="p256">عرض _ 1</p>
            <p class="p257">12345</p>
            <p class="p258">أرسلت</p>
            <p class="p259">2500 ريال</p>
            <p class="p260">23 أبريل 2023</p>
            <p class="p261">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent168">
            <div class="group-child507"></div>
            <p class="p256">عرض _ 1</p>
            <p class="p257">12345</p>
            <p class="p258">أرسلت</p>
            <p class="p259">2500 ريال</p>
            <p class="p260">23 أبريل 2023</p>
            <p class="p261">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent169">
            <div class="group-child508"></div>
            <p class="p256">عرض _ 1</p>
            <p class="p257">12345</p>
            <p class="p258">أرسلت</p>
            <p class="p259">2500 ريال</p>
            <p class="p260">23 أبريل 2023</p>
            <p class="p261">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent170">
            <div class="group-child508"></div>
            <p class="p256">عرض _ 1</p>
            <p class="p257">12345</p>
            <p class="p258">أرسلت</p>
            <p class="p259">2500 ريال</p>
            <p class="p260">23 أبريل 2023</p>
            <p class="p261">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent171">
            <div class="group-child508"></div>
            <p class="p256">عرض _ 1</p>
            <p class="p257">12345</p>
            <p class="p258">أرسلت</p>
            <p class="p259">2500 ريال</p>
            <p class="p260">23 أبريل 2023</p>
            <p class="p261">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent172">
            <input class="group-child511" type="text" />

            <img
              class="search-normal-2-icon2"
              alt=""
              src="./public/searchnormal-21.svg"
            />

            <i class="i3">بحث</i>
          </div>
          <div class="group-parent30">
            <div class="rectangle-parent173">
              <div class="group-child512"></div>
              <p class="p286">1</p>
            </div>
            <div class="rectangle-parent174">
              <div class="group-child513"></div>
              <p class="p286">2</p>
            </div>
            <div class="rectangle-parent175">
              <div class="group-child512"></div>
              <p class="p288">3</p>
            </div>
            <button class="arrow-square-right-26">
              <img class="vector-icon673" alt="" src="./public/vector.svg" />

              <img class="vector-icon707" alt="" src="./public/vector98.svg" />
            </button>
            <button class="arrow-square-left-26">
              <img class="vector-icon673" alt="" src="./public/vector.svg" />

              <img class="vector-icon709" alt="" src="./public/vector99.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
