<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component10.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div123" id="container">
      <div class="rectangle-parent138">
        <div class="group-child455"></div>
        <a class="calendar-111">
          <img class="vector-icon566" alt="" src="./public/vector54.svg" />

          <img class="vector-icon567" alt="" src="./public/vector54.svg" />

          <img class="vector-icon568" alt="" src="./public/vector55.svg" />

          <img class="vector-icon569" alt="" src="./public/vector56.svg" />

          <img class="vector-icon570" alt="" src="./public/vector100.svg" />

          <img class="vector-icon571" alt="" src="./public/vector101.svg" />

          <img class="vector-icon572" alt="" src="./public/vector102.svg" />

          <img class="vector-icon573" alt="" src="./public/vector103.svg" />

          <img class="vector-icon574" alt="" src="./public/vector16.svg" />

          <img class="vector-icon575" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent10">
          <img
            class="mask-group-icon14"
            alt=""
            src="./public/mask-group10.svg"
          />

          <p class="p194">ماهيتاب</p>
          <button class="arrow-down-310">
            <img class="vector-icon576" alt="" src="./public/vector104.svg" />
          </button>
        </div>
        <b class="b120">الفواتير</b>
      </div>
      <div class="rectangle-parent139">
        <div class="group-child456" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3412"> </a>
        <a class="folder-112" href="./Component14.html" id="folder1">
          <img class="vector-icon577" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-112"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon578" alt="" src="./public/vector20.svg" />

          <img class="vector-icon579" alt="" src="./public/vector21.svg" />

          <img class="vector-icon580" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-112" href="./Component12.html" id="coin1">
          <img class="vector-icon581" alt="" src="./public/vector23.svg" />

          <img class="vector-icon582" alt="" src="./public/vector24.svg" />

          <img class="vector-icon583" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-112" href="./Component11.html" id="task1">
          <img class="vector-icon584" alt="" src="./public/vector26.svg" />

          <img class="vector-icon585" alt="" src="./public/vector27.svg" />

          <img class="vector-icon586" alt="" src="./public/vector28.svg" />

          <img class="vector-icon587" alt="" src="./public/vector29.svg" />

          <img class="vector-icon588" alt="" src="./public/vector30.svg" />

          <img class="vector-icon589" alt="" src="./public/vector31.svg" />
        </a>
        <a class="document-copy-112" href="Component10.html" id="documentCopy1">
          <img class="vector-icon590" alt="" src="./public/vector32.svg" />

          <img class="vector-icon591" alt="" src="./public/vector33.svg" />

          <img class="vector-icon592" alt="" src="./public/vector34.svg" />

          <img class="vector-icon593" alt="" src="./public/vector35.svg" />

          <img class="vector-icon594" alt="" src="./public/vector36.svg" />

          <img class="vector-icon595" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-112" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon577" alt="" src="./public/vector38.svg" />

          <img class="vector-icon597" alt="" src="./public/vector39.svg" />

          <img class="vector-icon598" alt="" src="./public/vector40.svg" />
        </a>
        <a
          class="document-text-112"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon599" alt="" src="./public/vector41.svg" />

          <img class="vector-icon600" alt="" src="./public/vector42.svg" />

          <img class="vector-icon601" alt="" src="./public/vector43.svg" />

          <img class="vector-icon602" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-112" href="/" id="login1">
          <img class="vector-icon603" alt="" src="./public/vector45.svg" />

          <img class="vector-icon604" alt="" src="./public/vector46.svg" />

          <img class="vector-icon605" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-112" href="./Desktop48.html" id="element31">
          <img class="vector-icon606" alt="" src="./public/vector48.svg" />

          <img class="vector-icon607" alt="" src="./public/vector49.svg" />

          <img class="vector-icon608" alt="" src="./public/vector50.svg" />

          <img class="vector-icon609" alt="" src="./public/vector51.svg" />
        </a>
      </div>
      <div class="rectangle-parent140">
        <div class="group-child457"></div>
        <div class="rectangle-parent141">
          <div class="group-child458"></div>
          <b class="b121">فواتير</b>
          <div class="parent72">
            <p class="p195">مدفوع</p>
            <select class="arrow-down-212">
              <option value="غير مدفوعة ">مدفوع</option>
              <option value="متأخر">مدفوعة جزئيا</option>
            </select>
          </div>
          <div class="parent73">
            <h1 class="h161">الحالة</h1>
            <h1 class="h162">كمية</h1>
            <h1 class="h163">تاريخ الاستحقاق</h1>
            <h1 class="h164">تاريخ</h1>
            <h1 class="h165">فاتورة</h1>
          </div>
          <div class="rectangle-parent142">
            <div class="group-child459" id="rectangleContainer4"></div>
            <b class="b122">عرض كشف حساب</b>
          </div>
          <div class="rectangle-parent143">
            <div class="group-child460"></div>
            <p class="p196">فاتورة _ 1</p>
            <p class="p197">مدفوع</p>
            <p class="p198">23 أبريل 2023</p>
            <p class="p199">23 أبريل 2023</p>
            <p class="p200">2500 ريال</p>
          </div>
          <div class="rectangle-parent144">
            <div class="group-child461"></div>
            <p class="p196">فاتورة _ 1</p>
            <p class="p197">مدفوع</p>
            <p class="p198">23 أبريل 2023</p>
            <p class="p199">23 أبريل 2023</p>
            <p class="p200">2500 ريال</p>
          </div>
          <div class="rectangle-parent145">
            <div class="group-child461"></div>
            <p class="p196">فاتورة _ 1</p>
            <p class="p197">مدفوع</p>
            <p class="p198">23 أبريل 2023</p>
            <p class="p199">23 أبريل 2023</p>
            <p class="p200">2500 ريال</p>
          </div>
          <div class="rectangle-parent146">
            <div class="group-child463"></div>
            <p class="p211">فاتورة _ 1</p>
            <p class="p212">مدفوع</p>
            <p class="p213">23 أبريل 2023</p>
            <p class="p214">23 أبريل 2023</p>
            <p class="p215">2500 ريال</p>
          </div>
          <div class="rectangle-parent147">
            <div class="group-child461"></div>
            <p class="p216">فاتورة _ 1</p>
            <p class="p217">مدفوع</p>
            <p class="p218">23 أبريل 2023</p>
            <p class="p219">23 أبريل 2023</p>
            <p class="p220">2500 ريال</p>
          </div>
          <div class="group-parent28">
            <div class="rectangle-parent148">
              <div class="group-child465"></div>
              <p class="p221">1</p>
            </div>
            <div class="rectangle-parent149">
              <div class="group-child466"></div>
              <p class="p221">2</p>
            </div>
            <div class="rectangle-parent150">
              <div class="group-child465"></div>
              <p class="p223">3</p>
            </div>
            <button class="arrow-square-right-24">
              <img class="vector-icon577" alt="" src="./public/vector.svg" />

              <img class="vector-icon611" alt="" src="./public/vector98.svg" />
            </button>
            <button class="arrow-square-left-24">
              <img class="vector-icon577" alt="" src="./public/vector.svg" />

              <img class="vector-icon613" alt="" src="./public/vector99.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var rectangleContainer4 = document.getElementById("rectangleContainer4");
      if (rectangleContainer4) {
        rectangleContainer4.addEventListener("click", function (e) {
          // Please sync "بيان" to the project
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      </script>
  </body>
</html>
