<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component15.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body class="body">
    <div class="div154">
      <div class="rectangle-parent200">
        <div class="group-child541"></div>
        <div class="mask-group-parent15">
          <img
            class="mask-group-icon19"
            alt=""
            src="./public/mask-group3@2x.png"
          />

          <h6 class="h612">ماهيتاب</h6>
          <img class="calendar-1-icon2" alt="" src="./public/calendar-1.svg" />

          <img
            class="add-square-2-icon2"
            alt=""
            src="./public/addsquare-2.svg"
          />

          <img
            class="arrow-down-3-icon3"
            alt=""
            src="./public/arrowdown-31.svg"
          />
        </div>
        <h3 class="h32">تفاصيل الشركة</h3>
      </div>
      <div class="rectangle-parent201">
        <div class="group-child542"></div>
        <b class="b131">الملف الشخصي</b>
        <div class="parent82">
          <p class="p299">موقع المحل</p>
          <a class="a4" href="./Component2.html">أنقر هنا لإضافة رابط</a>
        </div>
        <div class="parent83">
          <h6 class="h613">شركة</h6>
          <input class="group-child543" type="text" />
        </div>
        <div class="parent84">
          <h6 class="h614">ضريبة الشراء</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent85">
          <h6 class="h615">العنوان</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent86">
          <h6 class="h616">رقم السجل التجاري</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent87">
          <h6 class="h617">الدولة</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent88">
          <h6 class="h618">الرمز البريدي</h6>
          <input class="group-child548" type="text" />
        </div>
        <div class="parent89">
          <h6 class="h619">رقم الهاتف</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent90">
          <h6 class="h620">اسم المنطقة</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent91">
          <h6 class="h621">موقع الكتروني</h6>
          <input class="group-child543" type="text" />
        </div>
        <div class="parent92">
          <h6 class="h622">الرقم الضريبي</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent93">
          <h6 class="h623">اللغة الافتراضية</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent94">
          <h6 class="h624">حاله</h6>
          <input class="group-child548" type="text" />
        </div>
        <div class="parent95">
          <h6 class="h625">المدينة</h6>
          <input class="group-child544" type="text" />
        </div>
        <div class="parent96">
          <h6 class="h626">مالك المنشئة (الكفيل)</h6>
          <input class="group-child544" type="text" />
        </div>
      </div>
      <div class="rectangle-parent202">
        <button class="group-child557"></button>
        <p class="p300">تحديث</p>
      </div>
      <div class="rectangle-parent203">
        <div class="group-child558" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3417"> </a>
        <a class="folder-117" href="./Component14.html" id="folder1">
          <img class="vector-icon806" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-117"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon807" alt="" src="./public/vector20.svg" />

          <img class="vector-icon808" alt="" src="./public/vector21.svg" />

          <img class="vector-icon809" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-117" href="./Component12.html" id="coin1">
          <img class="vector-icon810" alt="" src="./public/vector23.svg" />

          <img class="vector-icon811" alt="" src="./public/vector24.svg" />

          <img class="vector-icon812" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-117" href="./Component11.html" id="task1">
          <img class="vector-icon813" alt="" src="./public/vector26.svg" />

          <img class="vector-icon814" alt="" src="./public/vector27.svg" />

          <img class="vector-icon815" alt="" src="./public/vector28.svg" />

          <img class="vector-icon816" alt="" src="./public/vector29.svg" />

          <img class="vector-icon817" alt="" src="./public/vector30.svg" />

          <img class="vector-icon818" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-117"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon819" alt="" src="./public/vector32.svg" />

          <img class="vector-icon820" alt="" src="./public/vector33.svg" />

          <img class="vector-icon821" alt="" src="./public/vector34.svg" />

          <img class="vector-icon822" alt="" src="./public/vector35.svg" />

          <img class="vector-icon823" alt="" src="./public/vector36.svg" />

          <img class="vector-icon824" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-117" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon806" alt="" src="./public/vector38.svg" />

          <img class="vector-icon826" alt="" src="./public/vector39.svg" />

          <img class="vector-icon827" alt="" src="./public/vector40.svg" />
        </a>
        <a
          class="document-text-117"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon828" alt="" src="./public/vector41.svg" />

          <img class="vector-icon829" alt="" src="./public/vector42.svg" />

          <img class="vector-icon830" alt="" src="./public/vector43.svg" />

          <img class="vector-icon831" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-117" href="/" id="login1">
          <img class="vector-icon832" alt="" src="./public/vector45.svg" />

          <img class="vector-icon833" alt="" src="./public/vector46.svg" />

          <img class="vector-icon834" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-117" href="./Desktop48.html" id="element31">
          <img class="vector-icon835" alt="" src="./public/vector48.svg" />

          <img class="vector-icon836" alt="" src="./public/vector49.svg" />

          <img class="vector-icon837" alt="" src="./public/vector50.svg" />

          <img class="vector-icon838" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-parent14" data-animate-on-scroll>
          <img class="group-child559" alt="" src="./public/polygon-61.svg" />

          <div class="group-child560"></div>
          <img class="group-child561" alt="" src="./public/polygon-1.svg" />

          <div class="div155">اللوحة الرئيسية</div>
        </div>
        <img
          class="ef98ad7010f26031b617516aa4cd34-icon3"
          alt=""
          src="./public/ef98ad7010f26031b617516aa4cd3417-11@3x.png"
        />
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
