.group-child455 {
  position: absolute;
  top: 0;
  left: 1439.99px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-white);
  width: 119px;
  height: 1439.99px;
  transform: rotate(89.98deg);
  transform-origin: 0 0;
}
.vector-icon566,
.vector-icon567,
.vector-icon568,
.vector-icon569 {
  position: absolute;
  height: 17.5%;
  width: 5%;
  top: 5.83%;
  right: 64.17%;
  bottom: 76.67%;
  left: 30.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon567,
.vector-icon568,
.vector-icon569 {
  right: 30.83%;
  left: 64.17%;
}
.vector-icon568,
.vector-icon569 {
  height: 5%;
  width: 75.83%;
  top: 35.37%;
  right: 12.08%;
  bottom: 59.63%;
  left: 12.08%;
}
.vector-icon569 {
  height: 82.08%;
  width: 80%;
  top: 12.08%;
  right: 10%;
  bottom: 5.83%;
  left: 10%;
}
.vector-icon570 {
  height: 6.67%;
  width: 6.71%;
  top: 53.75%;
  right: 31.23%;
  bottom: 39.58%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon570,
.vector-icon571,
.vector-icon572 {
  position: absolute;
  overflow: hidden;
}
.vector-icon571 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 31.23%;
  bottom: 27.08%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon572 {
  top: 53.75%;
  right: 46.65%;
  bottom: 39.58%;
  left: 46.65%;
}
.vector-icon572,
.vector-icon573,
.vector-icon574 {
  height: 6.67%;
  width: 6.71%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon573 {
  position: absolute;
  top: 66.25%;
  right: 46.65%;
  bottom: 27.08%;
  left: 46.65%;
  overflow: hidden;
}
.vector-icon574 {
  top: 53.75%;
  right: 62.07%;
  bottom: 39.58%;
  left: 31.22%;
}
.calendar-111,
.vector-icon574,
.vector-icon575 {
  position: absolute;
  overflow: hidden;
}
.vector-icon575 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 62.07%;
  bottom: 27.08%;
  left: 31.22%;
  max-width: 100%;
  max-height: 100%;
}
.calendar-111 {
  text-decoration: none;
  top: 44px;
  left: 247px;
  width: 30px;
  height: 30px;
}
.mask-group-icon14 {
  position: absolute;
  top: -3px;
  left: 129px;
  width: 56px;
  height: 56px;
}
.p194 {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: 600;
}
.arrow-down-310,
.vector-icon576 {
  position: absolute;
  overflow: hidden;
}
.vector-icon576 {
  height: 37.07%;
  width: 73.5%;
  top: 33.54%;
  right: 13.25%;
  bottom: 29.38%;
  left: 13.25%;
  max-width: 100%;
  max-height: 100%;
}
.arrow-down-310 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 0;
  width: 20px;
  height: 20px;
}
.mask-group-parent10 {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 182px;
  height: 50px;
}
.b120 {
  position: absolute;
  top: 30px;
  left: 1165px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  display: inline-block;
  width: 109px;
}
.group-child456,
.rectangle-parent138 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440.02px;
  height: 119.47px;
}
.group-child456 {
  left: 34px;
  border-radius: var(--br-11xl) 0 var(--br-11xl) 0;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0 2px rgba(11, 92, 153, 0.25);
  width: 121px;
  height: 1148px;
}
.ef98ad7010f26031b617516aa4cd3412 {
  text-decoration: none;
  position: absolute;
  top: 47px;
  left: 70px;
  width: 50px;
  height: 50px;
  background-image: url(./public/ef98ad7010f26031b617516aa4cd3417-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.folder-112,
.vector-icon577 {
  position: absolute;
  overflow: hidden;
}
.vector-icon577 {
  height: 90%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.folder-112 {
  text-decoration: none;
  top: 282px;
  left: 80px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon578,
.vector-icon579,
.vector-icon580 {
  position: absolute;
  height: 90.25%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 4.75%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon579,
.vector-icon580 {
  height: 6.67%;
  width: 48.33%;
  top: 30%;
  right: 25.83%;
  bottom: 63.33%;
  left: 25.83%;
}
.vector-icon580 {
  width: 31.67%;
  top: 50.83%;
  right: 42.5%;
  bottom: 42.5%;
}
.message-text-1-112 {
  text-decoration: none;
  position: absolute;
  top: 392px;
  left: 80px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon581,
.vector-icon582 {
  width: 60.83%;
  right: 19.58%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon581 {
  position: absolute;
  height: 45.63%;
  top: 49.38%;
  bottom: 5%;
  overflow: hidden;
}
.vector-icon582 {
  height: 52.5%;
  top: 5%;
  bottom: 42.5%;
}
.coin-112,
.vector-icon582,
.vector-icon583 {
  position: absolute;
  overflow: hidden;
}
.vector-icon583 {
  height: 73.33%;
  width: 60.83%;
  top: 5%;
  right: 19.58%;
  bottom: 21.67%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.coin-112 {
  text-decoration: none;
  top: 502px;
  left: 80px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon584,
.vector-icon585,
.vector-icon586 {
  position: absolute;
  height: 6.67%;
  width: 48.33%;
  top: 77.92%;
  right: 9.17%;
  bottom: 15.42%;
  left: 42.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon585,
.vector-icon586 {
  top: 48.75%;
  bottom: 44.58%;
}
.vector-icon586 {
  top: 19.58%;
  bottom: 73.75%;
}
.vector-icon587,
.vector-icon588 {
  height: 19.17%;
  width: 23.33%;
  right: 67.5%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon587 {
  position: absolute;
  top: 11.25%;
  bottom: 69.58%;
  overflow: hidden;
}
.vector-icon588 {
  top: 40.42%;
  bottom: 40.42%;
}
.task-112,
.vector-icon588,
.vector-icon589 {
  position: absolute;
  overflow: hidden;
}
.vector-icon589 {
  height: 19.17%;
  width: 23.33%;
  top: 69.58%;
  right: 67.5%;
  bottom: 11.25%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.task-112 {
  text-decoration: none;
  top: 612px;
  left: 80px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon590,
.vector-icon591,
.vector-icon592,
.vector-icon593,
.vector-icon594,
.vector-icon595 {
  position: absolute;
  height: 69.17%;
  width: 69.17%;
  top: 25.83%;
  right: 25.83%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon591,
.vector-icon592,
.vector-icon593,
.vector-icon594,
.vector-icon595 {
  height: 33.33%;
  width: 33.33%;
  bottom: 40.83%;
  left: 40.83%;
}
.vector-icon592,
.vector-icon593,
.vector-icon594,
.vector-icon595 {
  height: 6.67%;
  width: 23.33%;
  top: 5%;
  right: 31.67%;
  bottom: 88.33%;
  left: 45%;
}
.vector-icon593,
.vector-icon594,
.vector-icon595 {
  height: 19.17%;
  width: 30.08%;
  right: 44.08%;
  bottom: 75.83%;
  left: 25.83%;
}
.vector-icon594,
.vector-icon595 {
  height: 44.17%;
  width: 18.37%;
  top: 30%;
  right: 5%;
  bottom: 25.83%;
  left: 76.63%;
}
.vector-icon595 {
  height: 31.67%;
  width: 31.67%;
  top: 5%;
  bottom: 63.33%;
  left: 63.33%;
}
.document-copy-112 {
  text-decoration: none;
  position: absolute;
  top: 722px;
  left: 80px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon597,
.vector-icon598 {
  position: absolute;
  height: 31.69%;
  width: 30.96%;
  top: 25.82%;
  right: 34.5%;
  bottom: 42.5%;
  left: 34.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon598 {
  height: 6.67%;
  width: 6.71%;
  top: 67.5%;
  right: 46.63%;
  bottom: 25.83%;
  left: 46.67%;
}
.help-circle-112 {
  text-decoration: none;
  position: absolute;
  top: 832px;
  left: 80px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon599,
.vector-icon600,
.vector-icon601,
.vector-icon602 {
  position: absolute;
  height: 90%;
  width: 81.67%;
  top: 5%;
  right: 9.17%;
  bottom: 5%;
  left: 9.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon600,
.vector-icon601,
.vector-icon602 {
  height: 23.33%;
  width: 23.33%;
  top: 15.42%;
  right: 19.58%;
  bottom: 61.25%;
  left: 57.08%;
}
.vector-icon601,
.vector-icon602 {
  height: 6.67%;
  top: 50.83%;
  right: 46.67%;
  bottom: 42.5%;
  left: 30%;
}
.vector-icon602 {
  width: 40%;
  top: 67.5%;
  right: 30%;
  bottom: 25.83%;
}
.document-text-112 {
  text-decoration: none;
  position: absolute;
  top: 942px;
  left: 80px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon603,
.vector-icon604 {
  position: absolute;
  height: 86%;
  width: 59.17%;
  top: 7.04%;
  right: 7.08%;
  bottom: 6.96%;
  left: 33.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon604 {
  height: 6.67%;
  width: 60.33%;
  top: 46.67%;
  right: 34.67%;
  bottom: 46.67%;
  left: 5%;
}
.vector-icon605 {
  height: 34.58%;
  width: 20.63%;
  top: 32.71%;
  right: 30%;
  bottom: 32.71%;
  left: 49.38%;
  max-width: 100%;
  max-height: 100%;
}
.login-112,
.vector-icon605,
.vector-icon606 {
  position: absolute;
  overflow: hidden;
}
.login-112 {
  text-decoration: none;
  top: 1052px;
  left: 80px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon606 {
  height: 42.04%;
  top: 5%;
  right: 5%;
  bottom: 52.96%;
  left: 52.92%;
}
.vector-icon606,
.vector-icon607,
.vector-icon608 {
  width: 42.08%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon607 {
  position: absolute;
  height: 42.08%;
  top: 52.92%;
  right: 5%;
  bottom: 5%;
  left: 52.92%;
  overflow: hidden;
}
.vector-icon608 {
  height: 42.04%;
  top: 5%;
  right: 52.92%;
  bottom: 52.96%;
  left: 5%;
}
.element-3-112,
.vector-icon608,
.vector-icon609 {
  position: absolute;
  overflow: hidden;
}
.vector-icon609 {
  height: 42.08%;
  width: 42.08%;
  top: 52.92%;
  right: 52.92%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.element-3-112 {
  text-decoration: none;
  top: 172px;
  left: 80px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rectangle-parent139 {
  position: absolute;
  top: 0;
  left: 1285px;
  width: 155px;
  height: 1148px;
}
.group-child457,
.group-child458 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--color-lightblue);
  width: 1275px;
  height: 972px;
}
.group-child458 {
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 1233px;
  height: 883px;
}
.b121,
.p195 {
  position: absolute;
  font-weight: 700;
}
.b121 {
  top: 31px;
  left: 1091px;
  font-size: var(--font-size-11xl);
}
.p195 {
  margin: 0;
  top: 0;
  left: 17px;
}
.arrow-down-212 {
  position: absolute;
  top: 13px;
  left: 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.parent72 {
  top: 51px;
  left: 1015px;
  width: 66px;
  height: 30px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.h161,
.h162,
.parent72 {
  position: absolute;
}
.h161 {
  margin: 0;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h162 {
  left: 787px;
}
.h162,
.h163,
.h164 {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h163 {
  position: absolute;
  left: 238px;
}
.h164 {
  left: 560px;
}
.h164,
.h165,
.parent73 {
  position: absolute;
}
.h165 {
  margin: 0;
  top: 0;
  left: 1022px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.parent73 {
  top: 151px;
  left: 73px;
  width: 1076px;
  height: 37px;
  color: var(--color-crimson);
}
.group-child459 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) 0 var(--br-xl) 0;
  background-color: var(--color-aliceblue);
  width: 185px;
  height: 50px;
  cursor: pointer;
}
.b122 {
  position: absolute;
  top: 14px;
  left: 44px;
  font-weight: 700;
}
.rectangle-parent142 {
  position: absolute;
  top: 26px;
  left: 30px;
  width: 185px;
  height: 50px;
  font-size: var(--font-size-xs);
}
.group-child460 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) var(--br-xl) var(--br-xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 1185px;
  height: 78px;
}
.p196,
.p197,
.p198,
.p199,
.p200 {
  margin: 0;
  position: absolute;
  top: 21px;
  left: 1059px;
}
.p197,
.p198,
.p199,
.p200 {
  left: 42px;
}
.p198,
.p199,
.p200 {
  left: 295px;
}
.p199,
.p200 {
  left: 570px;
}
.p200 {
  left: 817px;
}
.group-child461,
.rectangle-parent143 {
  position: absolute;
  top: 208px;
  left: 24px;
  width: 1185px;
  height: 78px;
}
.group-child461 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.group-child463,
.rectangle-parent144,
.rectangle-parent145 {
  position: absolute;
  top: 404px;
  left: 24px;
  width: 1185px;
  height: 78px;
}
.group-child463,
.rectangle-parent145 {
  top: 502px;
}
.group-child463 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) var(--br-21xl) var(--br-21xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.p211,
.p212,
.p213,
.p214,
.p215 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 1059px;
}
.p212,
.p213,
.p214,
.p215 {
  left: 42px;
}
.p213,
.p214,
.p215 {
  left: 295px;
}
.p214,
.p215 {
  left: 570px;
}
.p215 {
  left: 817px;
}
.rectangle-parent146 {
  position: absolute;
  top: 600px;
  left: 24px;
  width: 1185px;
  height: 78px;
}
.p216,
.p217,
.p218,
.p219,
.p220 {
  margin: 0;
  position: absolute;
  top: 21px;
  left: 1058px;
}
.p217,
.p218,
.p219,
.p220 {
  left: 41px;
}
.p218,
.p219,
.p220 {
  left: 294px;
}
.p219,
.p220 {
  left: 569px;
}
.p220 {
  left: 816px;
}
.group-child465,
.rectangle-parent147 {
  position: absolute;
  top: 306px;
  left: 24px;
  width: 1185px;
  height: 78px;
}
.group-child465 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 50px;
  height: 50px;
}
.p221 {
  margin: 0;
  position: absolute;
  top: 13px;
  left: 20px;
}
.rectangle-parent148 {
  left: 52px;
}
.group-child466,
.rectangle-parent148,
.rectangle-parent149 {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
}
.group-child466 {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 4px #c4d3df;
}
.rectangle-parent149 {
  left: 124px;
}
.p223 {
  margin: 0;
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent150,
.vector-icon611 {
  position: absolute;
  top: 0;
  left: 196px;
  width: 50px;
  height: 50px;
}
.vector-icon611 {
  height: 36.08%;
  width: 21.33%;
  top: 31.96%;
  right: 37.25%;
  bottom: 31.96%;
  left: 41.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-square-right-24 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 268px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vector-icon613 {
  position: absolute;
  height: 36.08%;
  width: 21.33%;
  top: 31.96%;
  right: 41.41%;
  bottom: 31.96%;
  left: 37.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-square-left-24 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.group-parent28 {
  position: absolute;
  top: 783px;
  left: 468px;
  width: 298px;
  height: 50px;
  font-family: var(--font-inter);
}
.rectangle-parent141 {
  position: absolute;
  top: 45px;
  left: 20px;
  width: 1233px;
  height: 883px;
}
.rectangle-parent140 {
  position: absolute;
  top: 144px;
  left: 22px;
  width: 1275px;
  height: 972px;
  font-size: var(--font-size-xl);
}
.div123 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1168px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-cairo);
}
