<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component8.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body class="body">
    <div class="div121" id="container">
      <div class="rectangle-parent118">
        <div class="group-child435"></div>
        <b class="b110">إنشاء تذكرة</b>
        <div class="rectangle-parent119">
          <input class="group-child436" type="text" />

          <b class="b111">الموضوع</b>
        </div>
        <div class="rectangle-parent120">
          <input class="group-child437" type="text" />

          <b class="b112">ملخص التذكرة</b>
        </div>
        <div class="rectangle-parent121">
          <div class="group-child438"></div>
          <b class="b113">قسم</b>
          <select class="arrow-square-down-1">
            <option value="OraxLite">OraxRest</option>
            <option value="OraxGold">OraxOil</option>
          </select>
          <h1 class="oraxrest1">OraxRest</h1>
        </div>
        <div class="rectangle-parent122">
          <div class="group-child439"></div>
          <b class="b114">المرفقات</b>
          <button class="add-square-32">
            <img class="vector-icon471" alt="" src="./public/vector95.svg" />

            <img class="vector-icon472" alt="" src="./public/vector96.svg" />

            <img class="vector-icon473" alt="" src="./public/vector97.svg" />
          </button>
          <h1 class="no-file-chosen">No file Chosen</h1>
        </div>
        <div class="rectangle-parent123">
          <div class="group-child440" id="rectangleContainer3"></div>
          <b class="b115">يقدم</b>
        </div>
      </div>
      <div class="rectangle-parent124">
        <div class="group-child441"></div>
        <a class="calendar-19">
          <img class="vector-icon474" alt="" src="./public/vector54.svg" />

          <img class="vector-icon475" alt="" src="./public/vector54.svg" />

          <img class="vector-icon476" alt="" src="./public/vector55.svg" />

          <img class="vector-icon477" alt="" src="./public/vector56.svg" />

          <img class="vector-icon478" alt="" src="./public/vector12.svg" />

          <img class="vector-icon479" alt="" src="./public/vector13.svg" />

          <img class="vector-icon480" alt="" src="./public/vector57.svg" />

          <img class="vector-icon481" alt="" src="./public/vector58.svg" />

          <img class="vector-icon482" alt="" src="./public/vector16.svg" />

          <img class="vector-icon483" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent8">
          <img
            class="mask-group-icon12"
            alt=""
            src="./public/mask-group8.svg"
          />

          <p class="p168">ماهيتاب</p>
          <button class="arrow-down-38">
            <img class="vector-icon484" alt="" src="./public/vector59.svg" />
          </button>
        </div>
        <b class="b116">تذاكر الدعم الفني</b>
      </div>
      <div class="rectangle-parent125">
        <div class="group-child442" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3410"> </a>
        <a class="folder-110" href="./Component14.html" id="folder1">
          <img class="vector-icon485" alt="" src="./public/vector60.svg" />
        </a>
        <a
          class="message-text-1-110"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon486" alt="" src="./public/vector61.svg" />

          <img class="vector-icon487" alt="" src="./public/vector62.svg" />

          <img class="vector-icon488" alt="" src="./public/vector63.svg" />
        </a>
        <a class="coin-110" href="./Component12.html" id="coin1">
          <img class="vector-icon489" alt="" src="./public/vector64.svg" />

          <img class="vector-icon490" alt="" src="./public/vector65.svg" />

          <img class="vector-icon491" alt="" src="./public/vector66.svg" />
        </a>
        <a class="task-110" href="./Component11.html" id="task1">
          <img class="vector-icon492" alt="" src="./public/vector67.svg" />

          <img class="vector-icon493" alt="" src="./public/vector68.svg" />

          <img class="vector-icon494" alt="" src="./public/vector69.svg" />

          <img class="vector-icon495" alt="" src="./public/vector70.svg" />

          <img class="vector-icon496" alt="" src="./public/vector71.svg" />

          <img class="vector-icon497" alt="" src="./public/vector72.svg" />
        </a>
        <a
          class="document-copy-110"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon498" alt="" src="./public/vector73.svg" />

          <img class="vector-icon499" alt="" src="./public/vector74.svg" />

          <img class="vector-icon500" alt="" src="./public/vector75.svg" />

          <img class="vector-icon501" alt="" src="./public/vector76.svg" />

          <img class="vector-icon502" alt="" src="./public/vector77.svg" />

          <img class="vector-icon503" alt="" src="./public/vector78.svg" />
        </a>
        <a class="help-circle-110" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon485" alt="" src="./public/vector79.svg" />

          <img class="vector-icon505" alt="" src="./public/vector80.svg" />

          <img class="vector-icon506" alt="" src="./public/vector81.svg" />
        </a>
        <a
          class="document-text-110"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon507" alt="" src="./public/vector82.svg" />

          <img class="vector-icon508" alt="" src="./public/vector83.svg" />

          <img class="vector-icon509" alt="" src="./public/vector84.svg" />

          <img class="vector-icon510" alt="" src="./public/vector85.svg" />
        </a>
        <a class="login-110" href="/" id="login1">
          <img class="vector-icon511" alt="" src="./public/vector86.svg" />

          <img class="vector-icon512" alt="" src="./public/vector87.svg" />

          <img class="vector-icon513" alt="" src="./public/vector88.svg" />
        </a>
        <a class="element-3-110" href="./Desktop48.html" id="element31">
          <img class="vector-icon514" alt="" src="./public/vector89.svg" />

          <img class="vector-icon515" alt="" src="./public/vector90.svg" />

          <img class="vector-icon516" alt="" src="./public/vector91.svg" />

          <img class="vector-icon517" alt="" src="./public/vector92.svg" />
        </a>
      </div>
    </div>

    <script>
      var rectangleContainer3 = document.getElementById("rectangleContainer3");
      if (rectangleContainer3) {
        rectangleContainer3.addEventListener("click", function (e) {
          window.location.href = "./Component7.html";
        });
      }
      
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      </script>
  </body>
</html>
