<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div53" id="container">
      <div class="rectangle-parent35">
        <div class="group-child177"></div>
        <b class="b60">تذاكر الدعم الفني</b>
        <div class="rectangle-parent36">
          <div class="group-child178"></div>
          <div class="rectangle-parent37">
            <div class="group-child179"></div>
            <b class="b61">تذكرة ( طلب دعم فني )</b>
          </div>
          <div class="rectangle-parent38">
            <div class="group-child180"></div>
            <h1 class="h119">السلام عليكم</h1>
          </div>
          <div class="rectangle-parent39">
            <div class="group-child181"></div>
            <h1 class="h120">عليكم السلام</h1>
          </div>
        </div>
        <div class="rectangle-parent40">
          <div class="group-child182"></div>
          <b class="b62">أضف الرد علي هذه التذكرة ( طلب الدعم الفني )</b>
          <h1 class="h121">مرحباً...</h1>
          <div class="rectangle-parent41">
            <div class="group-child183"></div>
            <b class="b63">إضافة الرد</b>
          </div>
          <div class="parent25">
            <img class="icon" alt="" src="./public/----6@2x.png" />

            <img
              class="group-child184"
              alt=""
              src="./public/group-150@2x.png"
            />

            <div class="rectangle-parent42">
              <div class="group-child185"></div>
              <button class="add-square-3">
                <img class="vector-icon75" alt="" src="./public/vector52.svg" />

                <img class="vector-icon76" alt="" src="./public/vector53.svg" />

                <img class="vector-icon77" alt="" src="./public/vector.svg" />
              </button>
            </div>
          </div>
        </div>
        <div class="rectangle-parent43">
          <div class="group-child186"></div>
          <b class="b64">تذكرة عشوائية</b>
          <p class="p89">اوراكس لايت</p>
          <p class="p90">ماهيتاب عادل</p>
          <p class="p91">22 أبريل 2023</p>
          <p class="p92">مفتوح</p>
          <div class="rectangle-parent44">
            <button class="group-child187"></button>
            <b class="b65">قييم</b>
          </div>
          <p class="p93">منخفض</p>
          <h1 class="h122">القسم</h1>
          <h1 class="h123">تم التقديم</h1>
          <h1 class="h124">جهة الاتصال</h1>
          <h1 class="h125">الحالة</h1>
          <h1 class="h126">الرد بواسطة : أحمد</h1>
          <h1 class="h127">الاولوية</h1>
        </div>
      </div>
      <div class="rectangle-parent45">
        <div class="group-child188"></div>
        <a class="calendar-12">
          <img class="vector-icon78" alt="" src="./public/vector54.svg" />

          <img class="vector-icon79" alt="" src="./public/vector54.svg" />

          <img class="vector-icon80" alt="" src="./public/vector55.svg" />

          <img class="vector-icon81" alt="" src="./public/vector56.svg" />

          <img class="vector-icon82" alt="" src="./public/vector12.svg" />

          <img class="vector-icon83" alt="" src="./public/vector13.svg" />

          <img class="vector-icon84" alt="" src="./public/vector57.svg" />

          <img class="vector-icon85" alt="" src="./public/vector58.svg" />

          <img class="vector-icon86" alt="" src="./public/vector16.svg" />

          <img class="vector-icon87" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-group">
          <img class="mask-group-icon3" alt="" src="./public/mask-group2.svg" />

          <p class="p94">ماهيتاب</p>
          <button class="arrow-down-31">
            <img class="vector-icon88" alt="" src="./public/vector59.svg" />
          </button>
        </div>
        <b class="b66">تذاكر الدعم الفني</b>
      </div>
      <div class="rectangle-parent46">
        <div class="group-child189" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd341"> </a>
        <a class="folder-11" href="./Component14.html" id="folder1">
          <img class="vector-icon89" alt="" src="./public/vector60.svg" />
        </a>
        <a
          class="message-text-1-11"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon90" alt="" src="./public/vector61.svg" />

          <img class="vector-icon91" alt="" src="./public/vector62.svg" />

          <img class="vector-icon92" alt="" src="./public/vector63.svg" />
        </a>
        <a class="coin-11" href="./Component12.html" id="coin1">
          <img class="vector-icon93" alt="" src="./public/vector64.svg" />

          <img class="vector-icon94" alt="" src="./public/vector65.svg" />

          <img class="vector-icon95" alt="" src="./public/vector66.svg" />
        </a>
        <a class="task-11" href="./Component11.html" id="task1">
          <img class="vector-icon96" alt="" src="./public/vector67.svg" />

          <img class="vector-icon97" alt="" src="./public/vector68.svg" />

          <img class="vector-icon98" alt="" src="./public/vector69.svg" />

          <img class="vector-icon99" alt="" src="./public/vector70.svg" />

          <img class="vector-icon100" alt="" src="./public/vector71.svg" />

          <img class="vector-icon101" alt="" src="./public/vector72.svg" />
        </a>
        <a
          class="document-copy-11"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon102" alt="" src="./public/vector73.svg" />

          <img class="vector-icon103" alt="" src="./public/vector74.svg" />

          <img class="vector-icon104" alt="" src="./public/vector75.svg" />

          <img class="vector-icon105" alt="" src="./public/vector76.svg" />

          <img class="vector-icon106" alt="" src="./public/vector77.svg" />

          <img class="vector-icon107" alt="" src="./public/vector78.svg" />
        </a>
        <a class="help-circle-11" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon89" alt="" src="./public/vector79.svg" />

          <img class="vector-icon109" alt="" src="./public/vector80.svg" />

          <img class="vector-icon110" alt="" src="./public/vector81.svg" />
        </a>
        <a class="document-text-11" href="./Component6.html" id="documentText1">
          <img class="vector-icon111" alt="" src="./public/vector82.svg" />

          <img class="vector-icon112" alt="" src="./public/vector83.svg" />

          <img class="vector-icon113" alt="" src="./public/vector84.svg" />

          <img class="vector-icon114" alt="" src="./public/vector85.svg" />
        </a>
        <a class="login-11" href="/" id="login1">
          <img class="vector-icon115" alt="" src="./public/vector86.svg" />

          <img class="vector-icon116" alt="" src="./public/vector87.svg" />

          <img class="vector-icon117" alt="" src="./public/vector88.svg" />
        </a>
        <a class="element-3-11" href="./Desktop48.html" id="element31">
          <img class="vector-icon118" alt="" src="./public/vector89.svg" />

          <img class="vector-icon119" alt="" src="./public/vector90.svg" />

          <img class="vector-icon120" alt="" src="./public/vector91.svg" />

          <img class="vector-icon121" alt="" src="./public/vector92.svg" />
        </a>
      </div>
      <div class="rectangle-parent47">
        <div class="group-child190"></div>
        <b class="b67">تقييمك للدعم الفني يحسن من عمل موظفينا</b>
        <div class="rectangle-parent48">
          <div class="group-child191"></div>
          <b class="b68">❤️</b>
          <h1 class="h128">ممتاز</h1>
        </div>
        <div class="rectangle-parent49">
          <div class="group-child191"></div>
          <h1 class="h129">جيد</h1>
          <b class="b69">🙂</b>
        </div>
        <div class="rectangle-parent50">
          <div class="group-child191"></div>
          <h1 class="h130">سئ</h1>
          <b class="b69">☹️</b>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      </script>
  </body>
</html>
