.child2,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 720px;
  height: 1024px;
}
.group-child {
  border-radius: 0 0 var(--br-81xl) 0;
  width: 546px;
  height: 715px;
}
.forgot-password-pana-1 {
  position: absolute;
  top: 158px;
  left: 73px;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.logo-dark-2-icon {
  position: absolute;
  top: 70px;
  left: 128px;
  width: 289px;
  height: 51px;
}
.rectangle-parent {
  position: absolute;
  top: 154px;
  left: 720px;
  width: 546px;
  height: 715px;
}
.group-item,
.p2 {
  position: absolute;
}
.group-item {
  top: 0;
  left: 0;
  border-radius: var(--br-81xl) 0 0 0;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0 4px #fff;
  width: 546px;
  height: 715px;
}
.p2 {
  margin: 0;
  top: 188px;
  left: 140px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
}
.group-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  box-shadow: 0 0 4px rgba(248, 69, 111, 0.25);
  width: 250px;
  height: 70px;
}
.b1 {
  position: absolute;
  top: 19px;
  left: 104px;
  font-weight: 700;
}
.rectangle-container {
  position: absolute;
  top: 456px;
  left: 148px;
  width: 250px;
  height: 70px;
  color: var(--color-steelblue-100);
}
.rectangle-input {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  box-shadow: 0 0 4px rgba(248, 69, 111, 0.25);
  width: 390px;
  height: 70px;
}
.p3 {
  margin: 0;
  position: absolute;
  top: 18px;
  left: 163px;
  display: inline-block;
  width: 136px;
  height: 35px;
}
.mail-1-icon {
  position: absolute;
  top: 15px;
  left: 319px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.group-div {
  position: absolute;
  top: 311px;
  left: 78px;
  width: 390px;
  height: 70px;
  color: var(--color-steelblue-200);
}
.rectangle-group {
  position: absolute;
  top: 154px;
  left: 174px;
  width: 546px;
  height: 715px;
}
.div2 {
  position: absolute;
  top: 749px;
  left: 396px;
  font-size: var(--font-size-mini);
}
.div1 {
  position: relative;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-thesansarab);
}
