.group-child443 {
  position: absolute;
  top: 0;
  left: 1439.99px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-white);
  width: 119px;
  height: 1439.99px;
  transform: rotate(89.98deg);
  transform-origin: 0 0;
}
.vector-icon518,
.vector-icon519,
.vector-icon520,
.vector-icon521 {
  position: absolute;
  height: 17.5%;
  width: 5%;
  top: 5.83%;
  right: 64.17%;
  bottom: 76.67%;
  left: 30.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon519,
.vector-icon520,
.vector-icon521 {
  right: 30.83%;
  left: 64.17%;
}
.vector-icon520,
.vector-icon521 {
  height: 5%;
  width: 75.83%;
  top: 35.37%;
  right: 12.08%;
  bottom: 59.63%;
  left: 12.08%;
}
.vector-icon521 {
  height: 82.08%;
  width: 80%;
  top: 12.08%;
  right: 10%;
  bottom: 5.83%;
  left: 10%;
}
.vector-icon522 {
  height: 6.67%;
  width: 6.71%;
  top: 53.75%;
  right: 31.24%;
  bottom: 39.58%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon522,
.vector-icon523,
.vector-icon524 {
  position: absolute;
  overflow: hidden;
}
.vector-icon523 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 31.24%;
  bottom: 27.08%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon524 {
  top: 53.75%;
  right: 46.64%;
  bottom: 39.58%;
  left: 46.65%;
}
.vector-icon524,
.vector-icon525,
.vector-icon526 {
  height: 6.67%;
  width: 6.71%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon525 {
  position: absolute;
  top: 66.25%;
  right: 46.64%;
  bottom: 27.08%;
  left: 46.65%;
  overflow: hidden;
}
.vector-icon526 {
  top: 53.75%;
  right: 62.07%;
  bottom: 39.58%;
  left: 31.22%;
}
.calendar-110,
.vector-icon526,
.vector-icon527 {
  position: absolute;
  overflow: hidden;
}
.vector-icon527 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 62.07%;
  bottom: 27.08%;
  left: 31.22%;
  max-width: 100%;
  max-height: 100%;
}
.calendar-110 {
  text-decoration: none;
  top: 44px;
  left: 247px;
  width: 30px;
  height: 30px;
}
.mask-group-icon13 {
  position: absolute;
  top: -3px;
  left: 129px;
  width: 56px;
  height: 56px;
}
.p169 {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: 600;
}
.arrow-down-39,
.vector-icon528 {
  position: absolute;
  overflow: hidden;
}
.vector-icon528 {
  height: 37.07%;
  width: 73.5%;
  top: 33.54%;
  right: 13.26%;
  bottom: 29.38%;
  left: 13.24%;
  max-width: 100%;
  max-height: 100%;
}
.arrow-down-39 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 0;
  width: 20px;
  height: 20px;
}
.mask-group-parent9 {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 182px;
  height: 50px;
}
.b117 {
  position: absolute;
  top: 30px;
  left: 1102px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
}
.group-child444,
.rectangle-parent126 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1440.02px;
  height: 119.47px;
}
.group-child444 {
  left: 0;
  border-radius: var(--br-11xl) 0 var(--br-11xl) 0;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0 2px rgba(11, 92, 153, 0.25);
  width: 121px;
  height: 1148px;
}
.ef98ad7010f26031b617516aa4cd3411 {
  text-decoration: none;
  position: absolute;
  top: 47px;
  left: 36px;
  width: 50px;
  height: 50px;
  background-image: url(./public/ef98ad7010f26031b617516aa4cd3417-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.folder-111,
.vector-icon529 {
  position: absolute;
  overflow: hidden;
}
.vector-icon529 {
  height: 90%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.folder-111 {
  text-decoration: none;
  top: 282px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon530,
.vector-icon531,
.vector-icon532 {
  position: absolute;
  height: 90.25%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 4.75%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon531,
.vector-icon532 {
  height: 6.67%;
  width: 48.33%;
  top: 30%;
  right: 25.83%;
  bottom: 63.33%;
  left: 25.83%;
}
.vector-icon532 {
  width: 31.67%;
  top: 50.83%;
  right: 42.5%;
  bottom: 42.5%;
}
.message-text-1-111 {
  text-decoration: none;
  position: absolute;
  top: 392px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon533,
.vector-icon534 {
  width: 60.83%;
  right: 19.58%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon533 {
  position: absolute;
  height: 45.63%;
  top: 49.38%;
  bottom: 5%;
  overflow: hidden;
}
.vector-icon534 {
  height: 52.5%;
  top: 5%;
  bottom: 42.5%;
}
.coin-111,
.vector-icon534,
.vector-icon535 {
  position: absolute;
  overflow: hidden;
}
.vector-icon535 {
  height: 73.33%;
  width: 60.83%;
  top: 5%;
  right: 19.58%;
  bottom: 21.67%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.coin-111 {
  text-decoration: none;
  top: 502px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon536,
.vector-icon537,
.vector-icon538 {
  position: absolute;
  height: 6.67%;
  width: 48.33%;
  top: 77.92%;
  right: 9.17%;
  bottom: 15.42%;
  left: 42.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon537,
.vector-icon538 {
  top: 48.75%;
  bottom: 44.58%;
}
.vector-icon538 {
  top: 19.58%;
  bottom: 73.75%;
}
.vector-icon539,
.vector-icon540 {
  height: 19.17%;
  width: 23.33%;
  right: 67.5%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon539 {
  position: absolute;
  top: 11.25%;
  bottom: 69.58%;
  overflow: hidden;
}
.vector-icon540 {
  top: 40.42%;
  bottom: 40.42%;
}
.task-111,
.vector-icon540,
.vector-icon541 {
  position: absolute;
  overflow: hidden;
}
.vector-icon541 {
  height: 19.17%;
  width: 23.33%;
  top: 69.58%;
  right: 67.5%;
  bottom: 11.25%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.task-111 {
  text-decoration: none;
  top: 612px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon542,
.vector-icon543,
.vector-icon544,
.vector-icon545,
.vector-icon546,
.vector-icon547 {
  position: absolute;
  height: 69.17%;
  width: 69.17%;
  top: 25.83%;
  right: 25.83%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon543,
.vector-icon544,
.vector-icon545,
.vector-icon546,
.vector-icon547 {
  height: 33.33%;
  width: 33.33%;
  bottom: 40.83%;
  left: 40.83%;
}
.vector-icon544,
.vector-icon545,
.vector-icon546,
.vector-icon547 {
  height: 6.67%;
  width: 23.33%;
  top: 5%;
  right: 31.67%;
  bottom: 88.33%;
  left: 45%;
}
.vector-icon545,
.vector-icon546,
.vector-icon547 {
  height: 19.17%;
  width: 30.08%;
  right: 44.09%;
  bottom: 75.83%;
  left: 25.83%;
}
.vector-icon546,
.vector-icon547 {
  height: 44.17%;
  width: 18.37%;
  top: 30%;
  right: 5%;
  bottom: 25.83%;
  left: 76.63%;
}
.vector-icon547 {
  height: 31.67%;
  width: 31.67%;
  top: 5%;
  bottom: 63.33%;
  left: 63.33%;
}
.document-copy-111 {
  text-decoration: none;
  position: absolute;
  top: 722px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon549,
.vector-icon550 {
  position: absolute;
  height: 31.69%;
  width: 30.96%;
  top: 25.82%;
  right: 34.49%;
  bottom: 42.5%;
  left: 34.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon550 {
  height: 6.67%;
  width: 6.71%;
  top: 67.5%;
  right: 46.63%;
  bottom: 25.83%;
  left: 46.67%;
}
.help-circle-111 {
  text-decoration: none;
  position: absolute;
  top: 832px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon551,
.vector-icon552,
.vector-icon553,
.vector-icon554 {
  position: absolute;
  height: 90%;
  width: 81.67%;
  top: 5%;
  right: 9.17%;
  bottom: 5%;
  left: 9.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon552,
.vector-icon553,
.vector-icon554 {
  height: 23.33%;
  width: 23.33%;
  top: 15.42%;
  right: 19.58%;
  bottom: 61.25%;
  left: 57.08%;
}
.vector-icon553,
.vector-icon554 {
  height: 6.67%;
  top: 50.83%;
  right: 46.67%;
  bottom: 42.5%;
  left: 30%;
}
.vector-icon554 {
  width: 40%;
  top: 67.5%;
  right: 30%;
  bottom: 25.83%;
}
.document-text-111 {
  text-decoration: none;
  position: absolute;
  top: 942px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon555,
.vector-icon556 {
  position: absolute;
  height: 86%;
  width: 59.17%;
  top: 7.04%;
  right: 7.08%;
  bottom: 6.96%;
  left: 33.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon556 {
  height: 6.67%;
  width: 60.34%;
  top: 46.67%;
  right: 34.66%;
  bottom: 46.67%;
  left: 5%;
}
.vector-icon557 {
  height: 34.58%;
  width: 20.63%;
  top: 32.71%;
  right: 30%;
  bottom: 32.71%;
  left: 49.38%;
  max-width: 100%;
  max-height: 100%;
}
.login-111,
.vector-icon557,
.vector-icon558 {
  position: absolute;
  overflow: hidden;
}
.login-111 {
  text-decoration: none;
  top: 1052px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon558 {
  height: 42.04%;
  top: 5%;
  right: 5%;
  bottom: 52.96%;
  left: 52.92%;
}
.vector-icon558,
.vector-icon559,
.vector-icon560 {
  width: 42.08%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon559 {
  position: absolute;
  height: 42.08%;
  top: 52.92%;
  right: 5%;
  bottom: 5%;
  left: 52.92%;
  overflow: hidden;
}
.vector-icon560 {
  height: 42.04%;
  top: 5%;
  right: 52.92%;
  bottom: 52.96%;
  left: 5%;
}
.element-3-111,
.vector-icon560,
.vector-icon561 {
  position: absolute;
  overflow: hidden;
}
.vector-icon561 {
  height: 42.08%;
  width: 42.08%;
  top: 52.92%;
  right: 52.92%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.element-3-111 {
  text-decoration: none;
  top: 172px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rectangle-parent127 {
  position: absolute;
  top: 0;
  left: 1319px;
  width: 121px;
  height: 1148px;
}
.group-child445,
.group-child446 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--color-aliceblue);
  width: 1275px;
  height: 881px;
}
.group-child446 {
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 1233px;
  height: 710px;
}
.b118,
.p170 {
  position: absolute;
  font-weight: 700;
}
.b118 {
  top: 35px;
  left: 968px;
  font-size: var(--font-size-11xl);
}
.p170 {
  margin: 0;
  top: 0;
  left: 28px;
}
.arrow-down-211 {
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.arrow-down-211,
.h153,
.parent70 {
  position: absolute;
}
.parent70 {
  top: 60px;
  left: 864px;
  width: 89px;
  height: 28px;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
}
.h153 {
  left: 0;
}
.h153,
.h154,
.h155 {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h154 {
  position: absolute;
  left: 160px;
}
.h155 {
  left: 293px;
}
.h155,
.h156,
.h157 {
  position: absolute;
}
.h156 {
  margin: 0;
  top: 0;
  left: 438px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h157 {
  left: 582px;
}
.h157,
.h158,
.h159 {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h158 {
  position: absolute;
  left: 711px;
}
.h159 {
  left: 899px;
}
.h159,
.h160,
.parent71 {
  position: absolute;
}
.h160 {
  margin: 0;
  top: 0;
  left: 1049px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.parent71 {
  top: 135px;
  left: 68px;
  width: 1097px;
  height: 37px;
  color: var(--color-crimson);
}
.group-child447 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) var(--br-xl) var(--br-xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 1185px;
  height: 78px;
}
.p171,
.p172,
.usertemp12 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 1075px;
}
.p172,
.usertemp12 {
  left: 917px;
}
.usertemp12 {
  left: 768px;
}
.oraxlite12,
.p173,
.p174,
.p175,
.test12 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 602px;
}
.p173,
.p174,
.p175,
.test12 {
  left: 485px;
}
.p173,
.p174,
.p175 {
  left: 327px;
}
.p174,
.p175 {
  left: 200px;
}
.p175 {
  left: 20px;
}
.group-child448,
.rectangle-parent130 {
  position: absolute;
  top: 192px;
  left: 30px;
  width: 1185px;
  height: 78px;
}
.group-child448 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.p176,
.p177,
.usertemp13 {
  margin: 0;
  position: absolute;
  top: 21px;
  left: 1075px;
}
.p177,
.usertemp13 {
  left: 917px;
}
.usertemp13 {
  left: 768px;
}
.oraxlite13,
.p178,
.p179,
.p180,
.test13 {
  margin: 0;
  position: absolute;
  top: 21px;
  left: 602px;
}
.p178,
.p179,
.p180,
.test13 {
  left: 485px;
}
.p178,
.p179,
.p180 {
  left: 327px;
}
.p179,
.p180 {
  left: 200px;
}
.p180 {
  left: 20px;
}
.group-child450,
.rectangle-parent131,
.rectangle-parent132 {
  position: absolute;
  top: 287px;
  left: 30px;
  width: 1185px;
  height: 78px;
}
.group-child450,
.rectangle-parent132 {
  top: 382px;
}
.group-child450 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) var(--br-21xl) var(--br-21xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.group-child451,
.rectangle-parent133 {
  position: absolute;
  top: 477px;
  left: 30px;
  width: 1185px;
  height: 78px;
}
.group-child451 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) 0 var(--br-xl) 0;
  background-color: var(--color-aliceblue);
  width: 185px;
  height: 50px;
}
.b119 {
  position: absolute;
  top: 11px;
  left: 10px;
  font-weight: 600;
  cursor: pointer;
}
.rectangle-parent134 {
  position: absolute;
  top: 41px;
  left: 24px;
  width: 185px;
  height: 50px;
  font-size: var(--font-size-mini);
}
.group-child452 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 50px;
  height: 50px;
}
.p191 {
  margin: 0;
  position: absolute;
  top: 13px;
  left: 20px;
}
.rectangle-parent135 {
  left: 52px;
}
.group-child453,
.rectangle-parent135,
.rectangle-parent136 {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
}
.group-child453 {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 4px #c4d3df;
}
.rectangle-parent136 {
  left: 124px;
}
.p193 {
  margin: 0;
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent137,
.vector-icon563 {
  position: absolute;
  top: 0;
  left: 196px;
  width: 50px;
  height: 50px;
}
.vector-icon563 {
  height: 36.08%;
  width: 21.33%;
  top: 31.96%;
  right: 37.25%;
  bottom: 31.96%;
  left: 41.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-square-right-23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 268px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vector-icon565 {
  position: absolute;
  height: 36.08%;
  width: 21.33%;
  top: 31.96%;
  right: 41.42%;
  bottom: 31.96%;
  left: 37.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-square-left-23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.group-parent27 {
  position: absolute;
  top: 610px;
  left: 468px;
  width: 298px;
  height: 50px;
  font-family: var(--font-inter);
}
.rectangle-parent129 {
  position: absolute;
  top: 49px;
  left: 21px;
  width: 1233px;
  height: 710px;
}
.rectangle-parent128 {
  position: absolute;
  top: 144px;
  left: 22px;
  width: 1275px;
  height: 881px;
  font-size: var(--font-size-xl);
}
.div122 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1141px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-cairo);
}
