<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component13.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div152" id="container">
      <img class="folder-1-icon1" alt="" src="./public/folder-11.svg" />

      <img class="coin-1-icon1" alt="" src="./public/coin-11.svg" />

      <img class="task-1-icon1" alt="" src="./public/task-11.svg" />

      <img
        class="document-copy-1-icon1"
        alt=""
        src="./public/documentcopy-11.svg"
      />

      <img
        class="help-circle-1-icon1"
        alt=""
        src="./public/helpcircle-11.svg"
      />

      <img
        class="document-text-1-icon1"
        alt=""
        src="./public/documenttext-11.svg"
      />

      <img class="login-1-icon1" alt="" src="./public/login-11.svg" />

      <img class="element-3-1-icon1" alt="" src="./public/element3-11.svg" />

      <img
        class="message-text-1-1-icon1"
        alt=""
        src="./public/messagetext1-11.svg"
      />

      <div class="rectangle-parent176">
        <div class="group-child515"></div>
        <a class="calendar-114">
          <img class="vector-icon710" alt="" src="./public/vector54.svg" />

          <img class="vector-icon711" alt="" src="./public/vector54.svg" />

          <img class="vector-icon712" alt="" src="./public/vector55.svg" />

          <img class="vector-icon713" alt="" src="./public/vector56.svg" />

          <img class="vector-icon714" alt="" src="./public/vector100.svg" />

          <img class="vector-icon715" alt="" src="./public/vector101.svg" />

          <img class="vector-icon716" alt="" src="./public/vector102.svg" />

          <img class="vector-icon717" alt="" src="./public/vector103.svg" />

          <img class="vector-icon718" alt="" src="./public/vector16.svg" />

          <img class="vector-icon719" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent13">
          <img
            class="mask-group-icon17"
            alt=""
            src="./public/mask-group13.svg"
          />

          <p class="p289">ماهيتاب</p>
          <button class="arrow-down-313">
            <img class="vector-icon720" alt="" src="./public/vector104.svg" />
          </button>
        </div>
        <b class="b127">اقتراحات</b>
      </div>
      <div class="rectangle-parent177">
        <div class="group-child516" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3415"> </a>
        <a class="folder-115" href="./Component14.html" id="folder1">
          <img class="vector-icon721" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-115"
          href="Component13.html"
          id="messageText11"
        >
          <img class="vector-icon722" alt="" src="./public/vector20.svg" />

          <img class="vector-icon723" alt="" src="./public/vector21.svg" />

          <img class="vector-icon724" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-115" href="./Component12.html" id="coin1">
          <img class="vector-icon725" alt="" src="./public/vector23.svg" />

          <img class="vector-icon726" alt="" src="./public/vector24.svg" />

          <img class="vector-icon727" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-115" href="./Component11.html" id="task1">
          <img class="vector-icon728" alt="" src="./public/vector26.svg" />

          <img class="vector-icon729" alt="" src="./public/vector27.svg" />

          <img class="vector-icon730" alt="" src="./public/vector28.svg" />

          <img class="vector-icon731" alt="" src="./public/vector29.svg" />

          <img class="vector-icon732" alt="" src="./public/vector30.svg" />

          <img class="vector-icon733" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-115"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon734" alt="" src="./public/vector32.svg" />

          <img class="vector-icon735" alt="" src="./public/vector33.svg" />

          <img class="vector-icon736" alt="" src="./public/vector34.svg" />

          <img class="vector-icon737" alt="" src="./public/vector35.svg" />

          <img class="vector-icon738" alt="" src="./public/vector36.svg" />

          <img class="vector-icon739" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-115" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon721" alt="" src="./public/vector38.svg" />

          <img class="vector-icon741" alt="" src="./public/vector39.svg" />

          <img class="vector-icon742" alt="" src="./public/vector40.svg" />
        </a>
        <a
          class="document-text-115"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon743" alt="" src="./public/vector41.svg" />

          <img class="vector-icon744" alt="" src="./public/vector42.svg" />

          <img class="vector-icon745" alt="" src="./public/vector43.svg" />

          <img class="vector-icon746" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-115" href="/" id="login1">
          <img class="vector-icon747" alt="" src="./public/vector45.svg" />

          <img class="vector-icon748" alt="" src="./public/vector46.svg" />

          <img class="vector-icon749" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-115" href="./Desktop48.html" id="element31">
          <img class="vector-icon750" alt="" src="./public/vector48.svg" />

          <img class="vector-icon751" alt="" src="./public/vector49.svg" />

          <img class="vector-icon752" alt="" src="./public/vector50.svg" />

          <img class="vector-icon753" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-wrapper1" data-animate-on-scroll>
          <img class="group-child517" alt="" src="./public/polygon-61.svg" />
        </div>
      </div>
      <div class="rectangle-parent178">
        <div class="group-child518"></div>
        <div class="rectangle-parent179">
          <div class="group-child519"></div>
          <b class="b128">اقتراحات</b>
          <div class="parent78">
            <p class="p290">الكل</p>
            <select class="arrow-down-215">
              <option value="الكل">10</option>
              <option value="30">20</option>
            </select>
          </div>
          <div class="parent79">
            <h1 class="h177">الحالة</h1>
            <h1 class="h178">تاريخ</h1>
            <h1 class="h179">افتح حتي</h1>
            <h1 class="h180">المجموع</h1>
            <h1 class="h181">الموضوع</h1>
            <h1 class="h182">اقتراح</h1>
          </div>
          <div class="rectangle-parent180">
            <div class="group-child520"></div>
            <i class="i4">أرسلت</i>
            <i class="i5">2500 ريال</i>
            <i class="i6">#اقتراج_1</i>
            <i class="i7">تجربة اقتراح</i>
            <i class="i8">23 أبريل 2023</i>
            <i class="i9">23 أبريل 2023</i>
          </div>
          <div class="rectangle-parent181">
            <div class="group-child521"></div>
            <i class="i10">أرسلت</i>
            <i class="i11">تجربة اقتراح</i>
            <i class="i12">2500 ريال</i>
            <i class="i13">#اقتراج_1</i>
            <i class="i14">23 أبريل 2023</i>
            <i class="i15">23 أبريل 2023</i>
          </div>
          <div class="rectangle-parent182">
            <div class="group-child522"></div>
            <i class="i4">أرسلت</i>
            <i class="i17">2500 ريال</i>
            <i class="i7">تجربة اقتراح</i>
            <i class="i6">#اقتراج_1</i>
            <i class="i8">23 أبريل 2023</i>
            <i class="i9">23 أبريل 2023</i>
          </div>
          <div class="rectangle-parent183">
            <div class="group-child522"></div>
            <i class="i4">أرسلت</i>
            <i class="i17">2500 ريال</i>
            <i class="i24">تجربة اقتراح</i>
            <i class="i6">#اقتراج_1</i>
            <i class="i9">23 أبريل 2023</i>
            <i class="i8">23 أبريل 2023</i>
          </div>
          <div class="rectangle-parent184">
            <input class="group-child524" type="text" />

            <img
              class="search-normal-2-icon3"
              alt=""
              src="./public/searchnormal-21.svg"
            />

            <i class="i28">بحث</i>
          </div>
          <div class="group-parent31">
            <div class="rectangle-parent185">
              <div class="group-child525"></div>
              <p class="p291">1</p>
            </div>
            <div class="rectangle-parent186">
              <div class="group-child526"></div>
              <p class="p291">2</p>
            </div>
            <div class="rectangle-parent187">
              <div class="group-child525"></div>
              <p class="p293">3</p>
            </div>
            <button class="arrow-square-right-27">
              <img class="vector-icon721" alt="" src="./public/vector.svg" />

              <img class="vector-icon755" alt="" src="./public/vector98.svg" />
            </button>
            <button class="arrow-square-left-27">
              <img class="vector-icon721" alt="" src="./public/vector.svg" />

              <img class="vector-icon757" alt="" src="./public/vector99.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
