<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body class="body">
    <div class="div65" id="round_6">
      <div class="rectangle-parent60">
        <div class="group-child223" id="round_7"></div>
        <a class="calendar-13">
          <img class="vector-icon188" alt="" src="./public/vector9.svg" />

          <img class="vector-icon189" alt="" src="./public/vector9.svg" />

          <img class="vector-icon190" alt="" src="./public/vector10.svg" />

          <img class="vector-icon191" alt="" src="./public/vector11.svg" />

          <img class="vector-icon192" alt="" src="./public/vector12.svg" />

          <img class="vector-icon193" alt="" src="./public/vector13.svg" />

          <img class="vector-icon194" alt="" src="./public/vector14.svg" />

          <img class="vector-icon195" alt="" src="./public/vector15.svg" />

          <img class="vector-icon196" alt="" src="./public/vector16.svg" />

          <img class="vector-icon197" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent2">
          <img
            class="mask-group-icon6"
            alt=""
            src="./public/mask-group@2x.png"
          />

          <p class="p97">ماهيتاب</p>
          <button class="arrow-down-32">
            <img class="vector-icon198" alt="" src="./public/vector18.svg" />
          </button>
        </div>
        <b class="b74">اللوحة الرئيسية</b>
      </div>
      <div class="vector-parent18">
        <img class="group-child224" alt="" src="./public/vector-2.svg" />

        <div class="group-parent13">
          <div class="parent41">
            <p class="p98">الرقم الضريبي:300480975800003430365478</p>
            <p class="p99">المركز الرئيسي - جدة - شارع خالد بن الوليد</p>
            <p class="p100">شركة الحلول الذهبية لتقنية المعلومات</p>
            <img
              class="logo-dark-1-icon3"
              alt=""
              src="./public/logo-dark-1@2x.png"
            />
          </div>
          <div class="ellipse-parent10">
            <div class="group-child225"></div>
            <button class="facebook-12">
              <img class="vector-icon199" alt="" src="./public/vector3.svg" />
            </button>
          </div>
          <div class="ellipse-parent11">
            <div class="group-child225"></div>
            <button class="facebook-12">
              <img class="vector-icon200" alt="" src="./public/vector4.svg" />

              <img class="vector-icon201" alt="" src="./public/vector5.svg" />
            </button>
          </div>
          <div class="ellipse-parent12">
            <div class="group-child225"></div>
            <button class="facebook-12">
              <img class="vector-icon202" alt="" src="./public/vector6.svg" />

              <img class="vector-icon203" alt="" src="./public/vector7.svg" />

              <img class="vector-icon204" alt="" src="./public/vector8.svg" />
            </button>
          </div>
        </div>
        <div class="rectangle-parent61">
          <input class="group-child228" type="text" id="have_question" />

          <button class="group-child229" id="rectangleButton"></button>
          <p class="p101">لدي سؤال ؟</p>
          <b class="b75">بحث</b>
          <b class="b76">منتدي الشروحات</b>
        </div>
      </div>
      <div class="vector-parent19">
        <img class="group-child224" alt="" src="./public/vector-2.svg" />

        <div class="copyright-1-container">
          <img
            class="copyright-1-icon2"
            alt=""
            src="./public/copyright-1.svg"
          />

          <p class="p102">
            جميع حقوق النشر محفوظة لشركة الحلول الذهبية لتقنية المعلومات 2023
          </p>
        </div>
        <a class="oraxsoft2" href="www.oraxsoft.com">OraxSoft</a>
        <a class="designed-by2" href="www.oraxsoft.com">Designed by :</a>
      </div>
      <div class="rectangle-parent62">
        <div class="group-child231" id="round_9"></div>
        <div class="rectangle-parent63">
          <div class="group-child232" id="round_10"></div>
          <p class="p103">صباح الخير ماهيتاب !</p>
          <img
            class="hello-rafiki-1-icon2"
            alt=""
            src="./public/hellorafiki-1.svg"
          />
        </div>
        <div class="rectangle-parent64">
          <div class="group-child233" id="round_11"></div>
          <div class="parent42">
            <p class="p104">تم الأنتهاء</p>
            <p class="text10"></p>
            <b class="b77">72</b>
          </div>
          <div class="parent43">
            <p class="p104">ألغيت</p>
            <p class="text11"></p>
            <b class="b78">72</b>
          </div>
          <div class="text-parent2">
            <p class="text12"></p>
            <p class="p104">في الانتظار</p>
            <b class="b79">72</b>
          </div>
          <div class="parent44">
            <p class="p104">لم يبدأ</p>
            <p class="text13"></p>
            <b class="b80">72</b>
          </div>
          <div class="text-parent3">
            <p class="text14"></p>
            <p class="p104">في تقدم</p>
            <b class="b81">72</b>
          </div>
          <p class="p109">ملخص المشاريع</p>
        </div>
        <div class="rectangle-parent65">
          <div class="group-child234"></div>
          <img class="group-child235" alt="" src="./public/vector-22.svg" />

          <img class="group-child236" alt="" src="./public/group-131.svg" />

          <img class="group-child237" alt="" src="./public/vector-33.svg" />

          <img class="group-child238" alt="" src="./public/vector-531.svg" />

          <img class="group-child239" alt="" src="./public/vector-581.svg" />

          <img class="group-child240" alt="" src="./public/vector-28.svg" />

          <img class="group-child241" alt="" src="./public/vector-33.svg" />

          <img class="group-child242" alt="" src="./public/vector-531.svg" />

          <img class="group-child243" alt="" src="./public/vector-581.svg" />

          <img class="group-child244" alt="" src="./public/vector-28.svg" />

          <img class="group-child245" alt="" src="./public/vector-33.svg" />

          <img class="group-child246" alt="" src="./public/vector-531.svg" />

          <img class="group-child247" alt="" src="./public/vector-581.svg" />

          <img class="group-child248" alt="" src="./public/vector-28.svg" />

          <img class="group-child249" alt="" src="./public/vector-33.svg" />

          <img class="group-child250" alt="" src="./public/vector-531.svg" />

          <img class="group-child251" alt="" src="./public/vector-581.svg" />

          <img class="group-child252" alt="" src="./public/vector-28.svg" />

          <img class="group-child253" alt="" src="./public/vector-33.svg" />

          <img class="group-child254" alt="" src="./public/vector-531.svg" />

          <img class="group-child255" alt="" src="./public/vector-581.svg" />

          <img class="group-child256" alt="" src="./public/vector-28.svg" />

          <img class="group-child257" alt="" src="./public/vector-33.svg" />

          <img class="group-child258" alt="" src="./public/vector-531.svg" />

          <img class="group-child259" alt="" src="./public/vector-581.svg" />

          <img class="group-child260" alt="" src="./public/vector-28.svg" />

          <img class="group-child261" alt="" src="./public/vector-33.svg" />

          <img class="group-child262" alt="" src="./public/vector-531.svg" />

          <img class="group-child263" alt="" src="./public/vector-581.svg" />

          <img class="group-child264" alt="" src="./public/vector-28.svg" />

          <img class="group-child265" alt="" src="./public/vector-33.svg" />

          <img class="group-child266" alt="" src="./public/vector-531.svg" />

          <img class="group-child267" alt="" src="./public/vector-581.svg" />

          <img class="group-child268" alt="" src="./public/vector-28.svg" />

          <div class="parent45">
            <div class="div66">0</div>
            <div class="div67">500</div>
            <div class="div68">1000</div>
            <div class="div69">1500</div>
            <div class="div70">2000</div>
            <div class="div71">2500</div>
            <div class="div72">3000</div>
            <div class="div73">3500</div>
          </div>
          <img class="group-child269" alt="" src="./public/vector-33.svg" />

          <img class="group-child270" alt="" src="./public/vector-531.svg" />

          <img class="group-child271" alt="" src="./public/vector-581.svg" />

          <img class="group-child272" alt="" src="./public/vector-28.svg" />

          <div class="apr-container">
            <div class="apr2">Apr</div>
            <div class="mar2">Mar</div>
            <div class="div73">Jan</div>
            <div class="feb2">Feb</div>
            <div class="may2">May</div>
            <div class="jun2">Jun</div>
            <div class="jul2">Jul</div>
            <div class="aug2">Aug</div>
            <div class="sep2">Sep</div>
          </div>
          <div class="group-parent14">
            <div class="paid-container">
              <div class="paid2">Paid</div>
              <img
                class="group-child273"
                alt=""
                src="./public/ellipse-48.svg"
              />
            </div>
            <div class="partially-paid-container">
              <div class="paid2">Partially Paid</div>
              <div class="group-child274"></div>
            </div>
            <div class="overdue-container">
              <p class="overdue2">Overdue</p>
              <div class="group-child275"></div>
            </div>
            <div class="unpaid-container">
              <div class="paid2">Unpaid</div>
              <div class="group-child276"></div>
            </div>
          </div>
          <p class="p110">معلومات سريعة عن الفواتير</p>
          <div class="parent46">
            <div class="div74">هذا العام</div>
            <div class="div75">ريال سعودي</div>
            <select class="arrow-down-14">
              <option value="يورو">ريال سعودي</option>
              <option value="دينار">دولار</option>
            </select>
            <select class="arrow-down-26">
              <option value="2022">هذا العام</option>
              <option value="2020">2021</option>
            </select>
          </div>
        </div>
        <div class="rectangle-parent66">
          <div class="group-child277" id="round_12"></div>
          <b class="b82">معلومات سريعة</b>
          <div class="group-parent15">
            <div class="parent47">
              <div class="div73">25% متأخر</div>
              <img
                class="group-child278"
                alt=""
                src="./public/ellipse-49.svg"
              />
            </div>
            <div class="parent48">
              <div class="div73">25% مدفوع جزئياً</div>
              <img
                class="group-child279"
                alt=""
                src="./public/ellipse-50.svg"
              />
            </div>
            <div class="group-parent16">
              <div class="ellipse-parent13">
                <div class="group-child280"></div>
                <div class="vector-parent20">
                  <img
                    class="group-child281"
                    alt=""
                    src="./public/ellipse-501.svg"
                  />

                  <div class="group-child282"></div>
                </div>
                <div class="vector-parent21">
                  <img
                    class="group-child283"
                    alt=""
                    src="./public/ellipse-481.svg"
                  />

                  <div class="group-child284"></div>
                </div>
                <div class="vector-parent22">
                  <img
                    class="group-child285"
                    alt=""
                    src="./public/ellipse-47.svg"
                  />

                  <div class="group-child286"></div>
                </div>
                <div class="vector-parent23">
                  <img
                    class="group-child287"
                    alt=""
                    src="./public/ellipse-491.svg"
                  />

                  <div class="group-child288"></div>
                </div>
              </div>
              <div class="ellipse-parent14">
                <div class="group-child289"></div>
                <p class="p111">100%</p>
              </div>
            </div>
            <div class="parent49">
              <div class="div73">25% مدفوع</div>
              <img
                class="group-child290"
                alt=""
                src="./public/ellipse-48.svg"
              />
            </div>
            <div class="ellipse-parent15">
              <img
                class="group-child291"
                alt=""
                src="./public/ellipse-51.svg"
              />

              <div class="div73">25% غير مدفوع</div>
            </div>
          </div>
          <div class="group-parent17">
            <div class="vector-parent24">
              <img
                class="group-child292"
                alt=""
                src="./public/vector-114.svg"
              />

              <div class="div80">25%</div>
            </div>
            <div class="vector-parent25">
              <img
                class="group-child292"
                alt=""
                src="./public/vector-113.svg"
              />

              <div class="div81">25%</div>
            </div>
            <div class="vector-parent26">
              <img
                class="group-child292"
                alt=""
                src="./public/vector-115.svg"
              />

              <div class="div82">25%</div>
            </div>
            <div class="vector-parent27">
              <img
                class="group-child295"
                alt=""
                src="./public/vector-116.svg"
              />

              <div class="div83">25%</div>
            </div>
          </div>
          <div class="polygon-parent6">
            <img class="group-child296" alt="" src="./public/polygon-2.svg" />

            <p class="p112">مدفوع</p>
            <div class="div84">( 1/3 )</div>
          </div>
          <div class="polygon-parent7">
            <img class="group-child297" alt="" src="./public/polygon-3.svg" />

            <p class="p113">غير مدفوع</p>
            <div class="div85">( 1/3 )</div>
          </div>
          <div class="polygon-parent8">
            <img class="group-child297" alt="" src="./public/polygon-4.svg" />

            <div class="div86">متأخر</div>
            <div class="div87">( 1/3 )</div>
          </div>
          <div class="parent50">
            <p class="p114">مدفوع جزئياً</p>
            <img class="group-child297" alt="" src="./public/polygon-5.svg" />

            <div class="div87">( 1/3 )</div>
          </div>
          <div class="group-parent18">
            <button class="parent51">
              <h1 class="h132">ريال سعودي</h1>
              <select class="arrow-down-15">
                <option value="دولار امريكي">ريال سعودي</option>
                <option value="دينار كويتي">يورو</option>
              </select>
            </button>
            <button class="parent52">
              <div class="div89">هذا العام</div>
              <select class="arrow-down-26">
                <option value="2022">هذا العام</option>
                <option value="2021">2020</option>
              </select>
            </button>
          </div>
        </div>
      </div>
      <div class="rectangle-parent67">
        <div class="group-child300" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd344"> </a>
        <a class="folder-14" href="./Component14.html" id="folder1">
          <img class="vector-icon202" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-14"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon206" alt="" src="./public/vector20.svg" />

          <img class="vector-icon207" alt="" src="./public/vector21.svg" />

          <img class="vector-icon208" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-14" href="./Component12.html" id="coin1">
          <img class="vector-icon209" alt="" src="./public/vector23.svg" />

          <img class="vector-icon210" alt="" src="./public/vector24.svg" />

          <img class="vector-icon211" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-14" href="./Component11.html" id="task1">
          <img class="vector-icon212" alt="" src="./public/vector26.svg" />

          <img class="vector-icon213" alt="" src="./public/vector27.svg" />

          <img class="vector-icon214" alt="" src="./public/vector28.svg" />

          <img class="vector-icon215" alt="" src="./public/vector29.svg" />

          <img class="vector-icon216" alt="" src="./public/vector30.svg" />

          <img class="vector-icon217" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-14"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon218" alt="" src="./public/vector32.svg" />

          <img class="vector-icon219" alt="" src="./public/vector33.svg" />

          <img class="vector-icon220" alt="" src="./public/vector34.svg" />

          <img class="vector-icon221" alt="" src="./public/vector35.svg" />

          <img class="vector-icon222" alt="" src="./public/vector93.svg" />

          <img class="vector-icon223" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-14" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon202" alt="" src="./public/vector38.svg" />

          <img class="vector-icon225" alt="" src="./public/vector94.svg" />

          <img class="vector-icon226" alt="" src="./public/vector40.svg" />
        </a>
        <a class="document-text-14" href="./Component6.html" id="documentText1">
          <img class="vector-icon227" alt="" src="./public/vector41.svg" />

          <img class="vector-icon228" alt="" src="./public/vector42.svg" />

          <img class="vector-icon229" alt="" src="./public/vector43.svg" />

          <img class="vector-icon230" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-14" href="/" id="login1">
          <img class="vector-icon231" alt="" src="./public/vector45.svg" />

          <img class="vector-icon232" alt="" src="./public/vector46.svg" />

          <img class="vector-icon233" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-14" href="./Desktop48.html" id="element31">
          <img class="vector-icon234" alt="" src="./public/vector48.svg" />

          <img class="vector-icon235" alt="" src="./public/vector49.svg" />

          <img class="vector-icon236" alt="" src="./public/vector50.svg" />

          <img class="vector-icon237" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-parent9" data-animate-on-scroll>
          <img class="group-child301" alt="" src="./public/polygon-6.svg" />

          <div class="group-child302"></div>
          <img class="group-child303" alt="" src="./public/polygon-1.svg" />

          <div class="div90">اللوحة الرئيسية</div>
        </div>
      </div>
    </div>

    <script>
      var rectangleButton = document.getElementById("rectangleButton");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var container = document.getElementById("round_6");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
