.group-child401 {
  position: absolute;
  top: 0;
  left: 1439.99px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-white);
  width: 119px;
  height: 1439.99px;
  transform: rotate(89.98deg);
  transform-origin: 0 0;
}
.vector-icon336,
.vector-icon337,
.vector-icon338,
.vector-icon339 {
  position: absolute;
  height: 17.5%;
  width: 5%;
  top: 5.83%;
  right: 64.17%;
  bottom: 76.67%;
  left: 30.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon337,
.vector-icon338,
.vector-icon339 {
  right: 30.83%;
  left: 64.17%;
}
.vector-icon338,
.vector-icon339 {
  height: 5%;
  width: 75.83%;
  top: 35.37%;
  right: 12.08%;
  bottom: 59.63%;
  left: 12.08%;
}
.vector-icon339 {
  height: 82.08%;
  width: 80%;
  top: 12.08%;
  right: 10%;
  bottom: 5.83%;
  left: 10%;
}
.vector-icon340 {
  height: 6.67%;
  width: 6.71%;
  top: 53.75%;
  right: 31.24%;
  bottom: 39.58%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon340,
.vector-icon341,
.vector-icon342 {
  position: absolute;
  overflow: hidden;
}
.vector-icon341 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 31.24%;
  bottom: 27.08%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon342 {
  top: 53.75%;
  right: 46.64%;
  bottom: 39.58%;
  left: 46.65%;
}
.vector-icon342,
.vector-icon343,
.vector-icon344 {
  height: 6.67%;
  width: 6.71%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon343 {
  position: absolute;
  top: 66.25%;
  right: 46.64%;
  bottom: 27.08%;
  left: 46.65%;
  overflow: hidden;
}
.vector-icon344 {
  top: 53.75%;
  right: 62.07%;
  bottom: 39.58%;
  left: 31.22%;
}
.calendar-16,
.vector-icon344,
.vector-icon345 {
  position: absolute;
  overflow: hidden;
}
.vector-icon345 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 62.07%;
  bottom: 27.08%;
  left: 31.22%;
  max-width: 100%;
  max-height: 100%;
}
.calendar-16 {
  text-decoration: none;
  top: 44px;
  left: 247px;
  width: 30px;
  height: 30px;
}
.mask-group-icon9 {
  position: absolute;
  top: -3px;
  left: 129px;
  width: 56px;
  height: 56px;
}
.p158 {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: 600;
}
.arrow-down-35,
.vector-icon346 {
  position: absolute;
  overflow: hidden;
}
.vector-icon346 {
  height: 37.07%;
  width: 73.5%;
  top: 33.54%;
  right: 13.26%;
  bottom: 29.38%;
  left: 13.24%;
  max-width: 100%;
  max-height: 100%;
}
.arrow-down-35 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 0;
  width: 20px;
  height: 20px;
}
.mask-group-parent5 {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 182px;
  height: 50px;
}
.b99 {
  position: absolute;
  top: 30px;
  left: 1036px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
}
.group-child402,
.rectangle-parent89 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440.02px;
  height: 119.47px;
}
.group-child402 {
  border-radius: var(--br-11xl) 0 var(--br-11xl) 0;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0 2px rgba(11, 92, 153, 0.25);
  width: 121px;
  height: 1148px;
}
.ef98ad7010f26031b617516aa4cd347 {
  text-decoration: none;
  position: absolute;
  top: 47px;
  left: 36px;
  width: 50px;
  height: 50px;
  background-image: url(./public/ef98ad7010f26031b617516aa4cd3417-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.folder-17,
.vector-icon347 {
  position: absolute;
  overflow: hidden;
}
.vector-icon347 {
  height: 90%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.folder-17 {
  text-decoration: none;
  top: 282px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon348,
.vector-icon349,
.vector-icon350 {
  position: absolute;
  height: 90.25%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 4.75%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon349,
.vector-icon350 {
  height: 6.67%;
  width: 48.33%;
  top: 30%;
  right: 25.83%;
  bottom: 63.33%;
  left: 25.83%;
}
.vector-icon350 {
  width: 31.67%;
  top: 50.83%;
  right: 42.5%;
  bottom: 42.5%;
}
.message-text-1-17 {
  text-decoration: none;
  position: absolute;
  top: 392px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon351,
.vector-icon352 {
  width: 60.83%;
  right: 19.58%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon351 {
  position: absolute;
  height: 45.63%;
  top: 49.38%;
  bottom: 5%;
  overflow: hidden;
}
.vector-icon352 {
  height: 52.5%;
  top: 5%;
  bottom: 42.5%;
}
.coin-17,
.vector-icon352,
.vector-icon353 {
  position: absolute;
  overflow: hidden;
}
.vector-icon353 {
  height: 73.33%;
  width: 60.83%;
  top: 5%;
  right: 19.58%;
  bottom: 21.67%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.coin-17 {
  text-decoration: none;
  top: 502px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon354,
.vector-icon355,
.vector-icon356 {
  position: absolute;
  height: 6.67%;
  width: 48.33%;
  top: 77.92%;
  right: 9.17%;
  bottom: 15.42%;
  left: 42.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon355,
.vector-icon356 {
  top: 48.75%;
  bottom: 44.58%;
}
.vector-icon356 {
  top: 19.58%;
  bottom: 73.75%;
}
.vector-icon357,
.vector-icon358 {
  height: 19.17%;
  width: 23.33%;
  right: 67.5%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon357 {
  position: absolute;
  top: 11.25%;
  bottom: 69.58%;
  overflow: hidden;
}
.vector-icon358 {
  top: 40.42%;
  bottom: 40.42%;
}
.task-17,
.vector-icon358,
.vector-icon359 {
  position: absolute;
  overflow: hidden;
}
.vector-icon359 {
  height: 19.17%;
  width: 23.33%;
  top: 69.58%;
  right: 67.5%;
  bottom: 11.25%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.task-17 {
  text-decoration: none;
  top: 612px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon360,
.vector-icon361,
.vector-icon362,
.vector-icon363,
.vector-icon364,
.vector-icon365 {
  position: absolute;
  height: 69.17%;
  width: 69.17%;
  top: 25.83%;
  right: 25.83%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon361,
.vector-icon362,
.vector-icon363,
.vector-icon364,
.vector-icon365 {
  height: 33.33%;
  width: 33.33%;
  bottom: 40.83%;
  left: 40.83%;
}
.vector-icon362,
.vector-icon363,
.vector-icon364,
.vector-icon365 {
  height: 6.67%;
  width: 23.33%;
  top: 5%;
  right: 31.67%;
  bottom: 88.33%;
  left: 45%;
}
.vector-icon363,
.vector-icon364,
.vector-icon365 {
  height: 19.17%;
  width: 30.08%;
  right: 44.09%;
  bottom: 75.83%;
  left: 25.83%;
}
.vector-icon364,
.vector-icon365 {
  height: 44.17%;
  width: 18.37%;
  top: 30%;
  right: 5%;
  bottom: 25.83%;
  left: 76.63%;
}
.vector-icon365 {
  height: 31.67%;
  width: 31.67%;
  top: 5%;
  bottom: 63.33%;
  left: 63.33%;
}
.document-copy-17 {
  text-decoration: none;
  position: absolute;
  top: 722px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon367 {
  height: 31.69%;
  width: 30.96%;
  top: 25.82%;
  right: 34.49%;
  bottom: 42.5%;
  left: 34.54%;
  max-width: 100%;
  max-height: 100%;
}
.help-circle-17,
.vector-icon367,
.vector-icon368 {
  position: absolute;
  overflow: hidden;
}
.vector-icon368 {
  height: 6.67%;
  width: 6.71%;
  top: 67.5%;
  right: 46.63%;
  bottom: 25.83%;
  left: 46.67%;
  max-width: 100%;
  max-height: 100%;
}
.help-circle-17 {
  text-decoration: none;
  top: 832px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon369,
.vector-icon370,
.vector-icon371,
.vector-icon372 {
  position: absolute;
  height: 90%;
  width: 81.67%;
  top: 5%;
  right: 9.17%;
  bottom: 5%;
  left: 9.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon370,
.vector-icon371,
.vector-icon372 {
  height: 23.33%;
  width: 23.33%;
  top: 15.42%;
  right: 19.58%;
  bottom: 61.25%;
  left: 57.08%;
}
.vector-icon371,
.vector-icon372 {
  height: 6.67%;
  top: 50.83%;
  right: 46.67%;
  bottom: 42.5%;
  left: 30%;
}
.vector-icon372 {
  width: 40%;
  top: 67.5%;
  right: 30%;
  bottom: 25.83%;
}
.document-text-17 {
  text-decoration: none;
  position: absolute;
  top: 942px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon373,
.vector-icon374 {
  position: absolute;
  height: 86%;
  width: 59.17%;
  top: 7.04%;
  right: 7.08%;
  bottom: 6.96%;
  left: 33.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon374 {
  height: 6.67%;
  width: 60.34%;
  top: 46.67%;
  right: 34.66%;
  bottom: 46.67%;
  left: 5%;
}
.vector-icon375 {
  height: 34.58%;
  width: 20.63%;
  top: 32.71%;
  right: 30%;
  bottom: 32.71%;
  left: 49.38%;
  max-width: 100%;
  max-height: 100%;
}
.login-17,
.vector-icon375,
.vector-icon376 {
  position: absolute;
  overflow: hidden;
}
.login-17 {
  text-decoration: none;
  top: 1052px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon376 {
  height: 42.04%;
  top: 5%;
  right: 5%;
  bottom: 52.96%;
  left: 52.92%;
}
.vector-icon376,
.vector-icon377,
.vector-icon378 {
  width: 42.08%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon377 {
  position: absolute;
  height: 42.08%;
  top: 52.92%;
  right: 5%;
  bottom: 5%;
  left: 52.92%;
  overflow: hidden;
}
.vector-icon378 {
  height: 42.04%;
  top: 5%;
  right: 52.92%;
  bottom: 52.96%;
  left: 5%;
}
.element-3-17,
.vector-icon378,
.vector-icon379 {
  position: absolute;
  overflow: hidden;
}
.vector-icon379 {
  height: 42.08%;
  width: 42.08%;
  top: 52.92%;
  right: 52.92%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.element-3-17 {
  text-decoration: none;
  top: 172px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rectangle-parent90 {
  position: absolute;
  top: 0;
  left: 1318px;
  width: 121px;
  height: 1148px;
}
.group-child403,
.group-child404 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--color-aliceblue);
  width: 1275px;
  height: 1005px;
}
.group-child404 {
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 1233px;
  height: 796px;
}
.b100 {
  position: absolute;
  top: 35px;
  left: 1049px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-crimson);
}
.group-child405 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 463px;
  height: 50px;
}
.search-normal-2-icon {
  position: absolute;
  top: 10px;
  left: 418px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.i1 {
  position: absolute;
  top: 12px;
  left: 373px;
  font-weight: 600;
}
.rectangle-parent93 {
  position: absolute;
  top: 38px;
  left: 45px;
  width: 463px;
  height: 50px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.rectangle-iframe {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 391px;
  height: 402px;
  cursor: pointer;
}
.h142 {
  margin: 0;
  position: absolute;
  top: 335px;
  left: 68px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.front-view-man-website-hosting-icon {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-11xl);
  width: 391px;
  height: 315px;
  object-fit: cover;
}
.group-child406,
.rectangle-parent94 {
  position: absolute;
  top: 188px;
  left: 807px;
  width: 391px;
  height: 402px;
}
.group-child406 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.h143 {
  margin: 0;
  position: absolute;
  top: 335px;
  left: 107px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.front-view-man-website-hosting-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 391px;
  height: 315px;
  object-fit: cover;
}
.rectangle-parent95 {
  position: absolute;
  top: 188px;
  left: 376px;
  width: 391px;
  height: 402px;
}
.rectangle-parent92 {
  position: absolute;
  top: 60px;
  left: 21px;
  width: 1233px;
  height: 796px;
}
.rectangle-parent91 {
  position: absolute;
  top: 144px;
  left: 22px;
  width: 1275px;
  height: 1005px;
}
.div118 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1191px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-cairo);
}
