<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component9.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div122" id="container">
      <div class="rectangle-parent126">
        <div class="group-child443"></div>
        <a class="calendar-110">
          <img class="vector-icon518" alt="" src="./public/vector54.svg" />

          <img class="vector-icon519" alt="" src="./public/vector54.svg" />

          <img class="vector-icon520" alt="" src="./public/vector55.svg" />

          <img class="vector-icon521" alt="" src="./public/vector56.svg" />

          <img class="vector-icon522" alt="" src="./public/vector12.svg" />

          <img class="vector-icon523" alt="" src="./public/vector13.svg" />

          <img class="vector-icon524" alt="" src="./public/vector57.svg" />

          <img class="vector-icon525" alt="" src="./public/vector58.svg" />

          <img class="vector-icon526" alt="" src="./public/vector16.svg" />

          <img class="vector-icon527" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent9">
          <img
            class="mask-group-icon13"
            alt=""
            src="./public/mask-group9.svg"
          />

          <p class="p169">ماهيتاب</p>
          <button class="arrow-down-39">
            <img class="vector-icon528" alt="" src="./public/vector59.svg" />
          </button>
        </div>
        <b class="b117">الدعم الفني</b>
      </div>
      <div class="rectangle-parent127">
        <div class="group-child444" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3411"> </a>
        <a class="folder-111" href="./Component14.html" id="folder1">
          <img class="vector-icon529" alt="" src="./public/vector60.svg" />
        </a>
        <a
          class="message-text-1-111"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon530" alt="" src="./public/vector61.svg" />

          <img class="vector-icon531" alt="" src="./public/vector62.svg" />

          <img class="vector-icon532" alt="" src="./public/vector63.svg" />
        </a>
        <a class="coin-111" href="./Component12.html" id="coin1">
          <img class="vector-icon533" alt="" src="./public/vector64.svg" />

          <img class="vector-icon534" alt="" src="./public/vector65.svg" />

          <img class="vector-icon535" alt="" src="./public/vector66.svg" />
        </a>
        <a class="task-111" href="./Component11.html" id="task1">
          <img class="vector-icon536" alt="" src="./public/vector67.svg" />

          <img class="vector-icon537" alt="" src="./public/vector68.svg" />

          <img class="vector-icon538" alt="" src="./public/vector69.svg" />

          <img class="vector-icon539" alt="" src="./public/vector70.svg" />

          <img class="vector-icon540" alt="" src="./public/vector71.svg" />

          <img class="vector-icon541" alt="" src="./public/vector72.svg" />
        </a>
        <a
          class="document-copy-111"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon542" alt="" src="./public/vector73.svg" />

          <img class="vector-icon543" alt="" src="./public/vector74.svg" />

          <img class="vector-icon544" alt="" src="./public/vector75.svg" />

          <img class="vector-icon545" alt="" src="./public/vector76.svg" />

          <img class="vector-icon546" alt="" src="./public/vector77.svg" />

          <img class="vector-icon547" alt="" src="./public/vector78.svg" />
        </a>
        <a class="help-circle-111" href="Component9.html" id="helpCircle1">
          <img class="vector-icon529" alt="" src="./public/vector79.svg" />

          <img class="vector-icon549" alt="" src="./public/vector80.svg" />

          <img class="vector-icon550" alt="" src="./public/vector81.svg" />
        </a>
        <a
          class="document-text-111"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon551" alt="" src="./public/vector82.svg" />

          <img class="vector-icon552" alt="" src="./public/vector83.svg" />

          <img class="vector-icon553" alt="" src="./public/vector84.svg" />

          <img class="vector-icon554" alt="" src="./public/vector85.svg" />
        </a>
        <a class="login-111" href="/" id="login1">
          <img class="vector-icon555" alt="" src="./public/vector86.svg" />

          <img class="vector-icon556" alt="" src="./public/vector87.svg" />

          <img class="vector-icon557" alt="" src="./public/vector88.svg" />
        </a>
        <a class="element-3-111" href="./Desktop48.html" id="element31">
          <img class="vector-icon558" alt="" src="./public/vector89.svg" />

          <img class="vector-icon559" alt="" src="./public/vector90.svg" />

          <img class="vector-icon560" alt="" src="./public/vector91.svg" />

          <img class="vector-icon561" alt="" src="./public/vector92.svg" />
        </a>
      </div>
      <div class="rectangle-parent128">
        <div class="group-child445"></div>
        <div class="rectangle-parent129">
          <div class="group-child446"></div>
          <b class="b118">تذاكر الدعم الفني</b>
          <div class="parent70">
            <p class="p170">في تقدم</p>
            <select class="arrow-down-211">
              <option value="في تقدم">1</option>
              <option value="4">3</option>
            </select>
          </div>
          <div class="parent71">
            <h1 class="h153">الرد الأخير</h1>
            <h1 class="h154">الحالة</h1>
            <h1 class="h155">أفضلية</h1>
            <h1 class="h156">مشروع</h1>
            <h1 class="h157">قسم</h1>
            <h1 class="h158">جهة الاتصال</h1>
            <h1 class="h159">موضوع</h1>
            <h1 class="h160">تذكرة</h1>
          </div>
          <div class="rectangle-parent130">
            <div class="group-child447"></div>
            <p class="p171">#12345</p>
            <p class="p172">تذكرة عشوائية</p>
            <p class="usertemp12">Usertemp</p>
            <p class="oraxlite12">OraxLite</p>
            <p class="test12">Test</p>
            <p class="p173">منخفض</p>
            <p class="p174">مغلق</p>
            <p class="p175">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent131">
            <div class="group-child448"></div>
            <p class="p176">#12345</p>
            <p class="p177">تذكرة عشوائية</p>
            <p class="usertemp13">Usertemp</p>
            <p class="oraxlite13">OraxLite</p>
            <p class="test13">Test</p>
            <p class="p178">منخفض</p>
            <p class="p179">مغلق</p>
            <p class="p180">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent132">
            <div class="group-child448"></div>
            <p class="p176">#12345</p>
            <p class="p177">تذكرة عشوائية</p>
            <p class="usertemp13">Usertemp</p>
            <p class="oraxlite13">OraxLite</p>
            <p class="test13">Test</p>
            <p class="p178">منخفض</p>
            <p class="p179">مغلق</p>
            <p class="p180">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent133">
            <div class="group-child450"></div>
            <p class="p171">#12345</p>
            <p class="p172">تذكرة عشوائية</p>
            <p class="usertemp12">Usertemp</p>
            <p class="oraxlite12">OraxLite</p>
            <p class="test12">Test</p>
            <p class="p173">منخفض</p>
            <p class="p174">مغلق</p>
            <p class="p175">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent134">
            <div class="group-child451"></div>
            <b class="b119" id="text32">إنشاء تذكرة طلب دعم فني</b>
          </div>
          <div class="group-parent27">
            <div class="rectangle-parent135">
              <div class="group-child452"></div>
              <p class="p191">1</p>
            </div>
            <div class="rectangle-parent136">
              <div class="group-child453"></div>
              <p class="p191">2</p>
            </div>
            <div class="rectangle-parent137">
              <div class="group-child452"></div>
              <p class="p193">3</p>
            </div>
            <button class="arrow-square-right-23">
              <img class="vector-icon529" alt="" src="./public/vector.svg" />

              <img class="vector-icon563" alt="" src="./public/vector98.svg" />
            </button>
            <button class="arrow-square-left-23">
              <img class="vector-icon529" alt="" src="./public/vector.svg" />

              <img class="vector-icon565" alt="" src="./public/vector99.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var text32 = document.getElementById("text32");
      if (text32) {
        text32.addEventListener("click", function (e) {
          window.location.href = "./Component8.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      </script>
  </body>
</html>
