<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component11.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body class="body">
    <div class="div124">
      <div class="rectangle-parent151">
        <div class="group-child468"></div>
        <a class="calendar-112">
          <img class="vector-icon614" alt="" src="./public/vector54.svg" />

          <img class="vector-icon615" alt="" src="./public/vector54.svg" />

          <img class="vector-icon616" alt="" src="./public/vector55.svg" />

          <img class="vector-icon617" alt="" src="./public/vector56.svg" />

          <img class="vector-icon618" alt="" src="./public/vector100.svg" />

          <img class="vector-icon619" alt="" src="./public/vector101.svg" />

          <img class="vector-icon620" alt="" src="./public/vector102.svg" />

          <img class="vector-icon621" alt="" src="./public/vector103.svg" />

          <img class="vector-icon622" alt="" src="./public/vector16.svg" />

          <img class="vector-icon623" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent11">
          <img
            class="mask-group-icon15"
            alt=""
            src="./public/mask-group11.svg"
          />

          <p class="p224">ماهيتاب</p>
          <button class="arrow-down-311">
            <img class="vector-icon624" alt="" src="./public/vector104.svg" />
          </button>
        </div>
        <b class="b123">العقود</b>
      </div>
      <div class="rectangle-parent152">
        <div class="group-child469" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3413"> </a>
        <a class="folder-113" href="./Component14.html" id="folder1">
          <img class="vector-icon625" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-113"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon626" alt="" src="./public/vector20.svg" />

          <img class="vector-icon627" alt="" src="./public/vector21.svg" />

          <img class="vector-icon628" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-113" href="./Component12.html" id="coin1">
          <img class="vector-icon629" alt="" src="./public/vector23.svg" />

          <img class="vector-icon630" alt="" src="./public/vector24.svg" />

          <img class="vector-icon631" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-113" href="Component11.html" id="task1">
          <img class="vector-icon632" alt="" src="./public/vector26.svg" />

          <img class="vector-icon633" alt="" src="./public/vector27.svg" />

          <img class="vector-icon634" alt="" src="./public/vector28.svg" />

          <img class="vector-icon635" alt="" src="./public/vector29.svg" />

          <img class="vector-icon636" alt="" src="./public/vector30.svg" />

          <img class="vector-icon637" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-113"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon638" alt="" src="./public/vector32.svg" />

          <img class="vector-icon639" alt="" src="./public/vector33.svg" />

          <img class="vector-icon640" alt="" src="./public/vector34.svg" />

          <img class="vector-icon641" alt="" src="./public/vector35.svg" />

          <img class="vector-icon642" alt="" src="./public/vector36.svg" />

          <img class="vector-icon643" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-113" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon625" alt="" src="./public/vector38.svg" />

          <img class="vector-icon645" alt="" src="./public/vector39.svg" />

          <img class="vector-icon646" alt="" src="./public/vector40.svg" />
        </a>
        <a
          class="document-text-113"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon647" alt="" src="./public/vector41.svg" />

          <img class="vector-icon648" alt="" src="./public/vector42.svg" />

          <img class="vector-icon649" alt="" src="./public/vector43.svg" />

          <img class="vector-icon650" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-113" href="/" id="login1">
          <img class="vector-icon651" alt="" src="./public/vector45.svg" />

          <img class="vector-icon652" alt="" src="./public/vector46.svg" />

          <img class="vector-icon653" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-113" href="./Desktop48.html" id="element31">
          <img class="vector-icon654" alt="" src="./public/vector48.svg" />

          <img class="vector-icon655" alt="" src="./public/vector49.svg" />

          <img class="vector-icon656" alt="" src="./public/vector50.svg" />

          <img class="vector-icon657" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-wrapper" data-animate-on-scroll>
          <img class="group-child470" alt="" src="./public/polygon-61.svg" />
        </div>
      </div>
      <div class="rectangle-parent153">
        <div class="group-child471"></div>
        <div class="rectangle-parent154">
          <div class="group-child472"></div>
          <b class="b124">العقود</b>
          <div class="parent74">
            <p class="p225">أرسلت</p>
            <select class="arrow-down-213">
              <option value="ليست مرسلة">أرسلت</option>
            </select>
          </div>
          <div class="parent75">
            <h1 class="h166">تاريخ الانتهاء</h1>
            <h1 class="h167">تاريخ البدء</h1>
            <h1 class="h168">التوقيع</h1>
            <h1 class="h169">نوع العقد</h1>
            <h1 class="h170">الموضوع</h1>
          </div>
          <div class="rectangle-parent155">
            <div class="group-child473"></div>
            <p class="p226">عقد تركيب</p>
            <p class="p227">تم توقيع العقد</p>
            <p class="p228">عقد _1</p>
            <p class="p229">23 أبريل 2023</p>
            <p class="p230">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent156">
            <div class="group-child474"></div>
            <p class="p231">عقد تركيب</p>
            <p class="p232">تم توقيع العقد</p>
            <p class="p233">عقد _1</p>
            <p class="p234">23 أبريل 2023</p>
            <p class="p235">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent157">
            <div class="group-child475"></div>
            <p class="p236">عقد تركيب</p>
            <p class="p237">تم توقيع العقد</p>
            <p class="p238">عقد _1</p>
            <p class="p239">23 أبريل 2023</p>
            <p class="p240">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent158">
            <div class="group-child475"></div>
            <p class="p226">عقد تركيب</p>
            <p class="p227">تم توقيع العقد</p>
            <p class="p228">عقد _1</p>
            <p class="p229">23 أبريل 2023</p>
            <p class="p230">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent159">
            <div class="group-child475"></div>
            <p class="p226">عقد تركيب</p>
            <p class="p227">تم توقيع العقد</p>
            <p class="p228">عقد _1</p>
            <p class="p229">23 أبريل 2023</p>
            <p class="p230">23 أبريل 2023</p>
          </div>
          <div class="vector-parent38">
            <img class="group-child478" alt="" src="./public/vector-221.svg" />

            <img class="group-child479" alt="" src="./public/group-1311.svg" />

            <div class="div125">0</div>
            <div class="div126">500</div>
            <div class="div127">1000</div>
            <div class="div128">1500</div>
            <div class="div129">2000</div>
            <div class="div130">2500</div>
            <div class="div131">3000</div>
            <div class="div132">3500</div>
            <div class="div133">عقد 1</div>
            <div class="div134">عقد 2</div>
            <div class="div135">عقد 4</div>
            <div class="div136">عقد 5</div>
            <div class="div137">عقد 6</div>
            <div class="div138">عقد 7</div>
            <div class="div139">عقد 8</div>
            <div class="div140">عقد 9</div>
            <div class="div141">عقد 10</div>
            <div class="div142">عقد 11</div>
            <div class="div143">عقد 12</div>
            <div class="div144">عقد 13</div>
            <div class="div145">عقد 14</div>
            <div class="div146">عقد 15</div>
            <div class="div147">عقد 16</div>
            <div class="div148">عقد 17</div>
            <div class="div149">عقد 18</div>
            <div class="div150">عقد 19</div>
            <img class="group-child480" alt="" src="./public/vector-71.svg" />

            <img class="group-child481" alt="" src="./public/vector-72.svg" />

            <img class="group-child482" alt="" src="./public/vector-69.svg" />

            <img class="group-child483" alt="" src="./public/vector-70.svg" />

            <img class="group-child484" alt="" src="./public/vector-85.svg" />

            <img class="group-child485" alt="" src="./public/vector-86.svg" />

            <img class="group-child486" alt="" src="./public/vector-85.svg" />

            <img class="group-child487" alt="" src="./public/vector-86.svg" />

            <img class="group-child488" alt="" src="./public/vector-69.svg" />

            <img class="group-child489" alt="" src="./public/vector-70.svg" />

            <img class="group-child490" alt="" src="./public/vector-69.svg" />

            <img class="group-child491" alt="" src="./public/vector-70.svg" />

            <img class="group-child492" alt="" src="./public/vector-85.svg" />

            <img class="group-child493" alt="" src="./public/vector-86.svg" />

            <img class="group-child494" alt="" src="./public/vector-85.svg" />

            <img class="group-child495" alt="" src="./public/vector-86.svg" />

            <img class="group-child496" alt="" src="./public/vector-85.svg" />

            <img class="group-child497" alt="" src="./public/vector-86.svg" />
          </div>
          <div class="group-parent29">
            <div class="rectangle-parent160">
              <div class="group-child498"></div>
              <p class="p251">1</p>
            </div>
            <div class="rectangle-parent161">
              <div class="group-child499"></div>
              <p class="p251">2</p>
            </div>
            <div class="rectangle-parent162">
              <div class="group-child498"></div>
              <p class="p253">3</p>
            </div>
            <button class="arrow-square-right-25">
              <img class="vector-icon625" alt="" src="./public/vector.svg" />

              <img class="vector-icon659" alt="" src="./public/vector98.svg" />
            </button>
            <button class="arrow-square-left-25">
              <img class="vector-icon625" alt="" src="./public/vector.svg" />

              <img class="vector-icon661" alt="" src="./public/vector99.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
