<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component14.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div153" id="container">
      <div class="rectangle-parent188">
        <div class="group-child528"></div>
        <div class="rectangle-parent189">
          <div class="group-child529"></div>
          <div class="rectangle-parent190">
            <input class="group-child530" type="text" />

            <img
              class="search-normal-2-icon4"
              alt=""
              src="./public/searchnormal-21.svg"
            />

            <i class="i29">بحث</i>
          </div>
          <div class="parent80">
            <h1 class="h183">خيارات</h1>
            <h1 class="h184">تاريخ الرفع</h1>
            <h1 class="h185">الملفات</h1>
          </div>
          <div class="group-parent32">
            <div class="rectangle-parent191">
              <div class="group-child531"></div>
              <p class="p294">1</p>
            </div>
            <div class="rectangle-parent192">
              <div class="group-child532"></div>
              <p class="p294">2</p>
            </div>
            <div class="rectangle-parent193">
              <div class="group-child531"></div>
              <p class="p296">3</p>
            </div>
            <button class="arrow-square-right-28">
              <img class="vector-icon758" alt="" src="./public/vector.svg" />

              <img class="vector-icon759" alt="" src="./public/vector98.svg" />
            </button>
            <button class="arrow-square-left-28">
              <img class="vector-icon758" alt="" src="./public/vector.svg" />

              <img class="vector-icon761" alt="" src="./public/vector99.svg" />
            </button>
          </div>
          <button class="add-square-1-wrapper">
            <img
              class="add-square-1-icon"
              alt=""
              src="./public/addsquare-2.svg"
            />
          </button>
          <div class="parent81">
            <p class="p297">الكل</p>
            <select class="arrow-down-4">
              <option value="20">10</option>
              <option value="40">30</option>
            </select>
          </div>
          <b class="b129">الملفات</b>
          <div class="rectangle-parent194">
            <div class="group-child534"></div>
            <i class="i30">22 أبريل 2023</i>
            <img
              class="daily-ui-001-sign-up-1"
              alt=""
              src="./public/daily-ui-001-sign-up-1@2x.png"
            />

            <img class="trash-3-icon" alt="" src="./public/trash-3.svg" />
          </div>
          <div class="rectangle-parent195">
            <div class="group-child535"></div>
            <i class="i30">23 أبريل 2023</i>
            <img
              class="sign-in-screen-for-a-web-app-1"
              alt=""
              src="./public/sign-in-screen-for-a-web-app-1@2x.png"
            />

            <img class="trash-3-icon" alt="" src="./public/trash-3.svg" />
          </div>
          <div class="rectangle-parent196">
            <div class="group-child536"></div>
            <i class="i30">22 أبريل 2023</i>
            <img
              class="daily-ui-001-sign-up-1"
              alt=""
              src="./public/crm--dashboard-1@2x.png"
            />

            <img class="trash-3-icon" alt="" src="./public/trash-4.svg" />
          </div>
          <div class="rectangle-parent197">
            <div class="group-child536"></div>
            <i class="i30">22 أبريل 2023</i>
            <img
              class="daily-ui-001-sign-up-1"
              alt=""
              src="./public/----61@2x.png"
            />

            <img class="trash-3-icon1" alt="" src="./public/trash-3.svg" />
          </div>
        </div>
      </div>
      <div class="rectangle-parent198">
        <div class="group-child538"></div>
        <a class="calendar-115">
          <img class="vector-icon762" alt="" src="./public/vector54.svg" />

          <img class="vector-icon763" alt="" src="./public/vector54.svg" />

          <img class="vector-icon764" alt="" src="./public/vector55.svg" />

          <img class="vector-icon765" alt="" src="./public/vector56.svg" />

          <img class="vector-icon766" alt="" src="./public/vector100.svg" />

          <img class="vector-icon767" alt="" src="./public/vector101.svg" />

          <img class="vector-icon768" alt="" src="./public/vector102.svg" />

          <img class="vector-icon769" alt="" src="./public/vector103.svg" />

          <img class="vector-icon770" alt="" src="./public/vector16.svg" />

          <img class="vector-icon771" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent14">
          <img
            class="mask-group-icon18"
            alt=""
            src="./public/mask-group14.svg"
          />

          <p class="p298">ماهيتاب</p>
          <button class="arrow-down-314">
            <img class="vector-icon772" alt="" src="./public/vector104.svg" />
          </button>
        </div>
        <b class="b130">الملفات</b>
      </div>
      <div class="rectangle-parent199">
        <div class="group-child539" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3416"> </a>
        <a class="folder-116" href="Component14.html" id="folder1">
          <img class="vector-icon758" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-116"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon774" alt="" src="./public/vector20.svg" />

          <img class="vector-icon775" alt="" src="./public/vector21.svg" />

          <img class="vector-icon776" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-116" href="./Component12.html" id="coin1">
          <img class="vector-icon777" alt="" src="./public/vector23.svg" />

          <img class="vector-icon778" alt="" src="./public/vector24.svg" />

          <img class="vector-icon779" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-116" href="./Component11.html" id="task1">
          <img class="vector-icon780" alt="" src="./public/vector26.svg" />

          <img class="vector-icon781" alt="" src="./public/vector27.svg" />

          <img class="vector-icon782" alt="" src="./public/vector28.svg" />

          <img class="vector-icon783" alt="" src="./public/vector29.svg" />

          <img class="vector-icon784" alt="" src="./public/vector30.svg" />

          <img class="vector-icon785" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-116"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon786" alt="" src="./public/vector32.svg" />

          <img class="vector-icon787" alt="" src="./public/vector33.svg" />

          <img class="vector-icon788" alt="" src="./public/vector34.svg" />

          <img class="vector-icon789" alt="" src="./public/vector35.svg" />

          <img class="vector-icon790" alt="" src="./public/vector36.svg" />

          <img class="vector-icon791" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-116" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon758" alt="" src="./public/vector38.svg" />

          <img class="vector-icon793" alt="" src="./public/vector39.svg" />

          <img class="vector-icon794" alt="" src="./public/vector40.svg" />
        </a>
        <a
          class="document-text-116"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon795" alt="" src="./public/vector41.svg" />

          <img class="vector-icon796" alt="" src="./public/vector42.svg" />

          <img class="vector-icon797" alt="" src="./public/vector43.svg" />

          <img class="vector-icon798" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-116" href="/" id="login1">
          <img class="vector-icon799" alt="" src="./public/vector45.svg" />

          <img class="vector-icon800" alt="" src="./public/vector46.svg" />

          <img class="vector-icon801" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-116" href="./Desktop48.html" id="element31">
          <img class="vector-icon802" alt="" src="./public/vector48.svg" />

          <img class="vector-icon803" alt="" src="./public/vector49.svg" />

          <img class="vector-icon804" alt="" src="./public/vector50.svg" />

          <img class="vector-icon805" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-wrapper2" data-animate-on-scroll>
          <img class="group-child540" alt="" src="./public/polygon-61.svg" />
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
