.group-child394 {
  position: absolute;
  top: 0;
  left: 1439.99px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-white);
  width: 119px;
  height: 1439.99px;
  transform: rotate(89.98deg);
  transform-origin: 0 0;
}
.vector-icon292,
.vector-icon293,
.vector-icon294,
.vector-icon295 {
  position: absolute;
  height: 17.5%;
  width: 5%;
  top: 5.83%;
  right: 64.17%;
  bottom: 76.67%;
  left: 30.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon293,
.vector-icon294,
.vector-icon295 {
  right: 30.83%;
  left: 64.17%;
}
.vector-icon294,
.vector-icon295 {
  height: 5%;
  width: 75.83%;
  top: 35.37%;
  right: 12.08%;
  bottom: 59.63%;
  left: 12.08%;
}
.vector-icon295 {
  height: 82.08%;
  width: 80%;
  top: 12.08%;
  right: 10%;
  bottom: 5.83%;
  left: 10%;
}
.vector-icon296 {
  height: 6.67%;
  width: 6.71%;
  top: 53.75%;
  right: 31.24%;
  bottom: 39.58%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon296,
.vector-icon297,
.vector-icon298 {
  position: absolute;
  overflow: hidden;
}
.vector-icon297 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 31.24%;
  bottom: 27.08%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon298 {
  top: 53.75%;
  right: 46.64%;
  bottom: 39.58%;
  left: 46.65%;
}
.vector-icon298,
.vector-icon299,
.vector-icon300 {
  height: 6.67%;
  width: 6.71%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon299 {
  position: absolute;
  top: 66.25%;
  right: 46.64%;
  bottom: 27.08%;
  left: 46.65%;
  overflow: hidden;
}
.vector-icon300 {
  top: 53.75%;
  right: 62.07%;
  bottom: 39.58%;
  left: 31.22%;
}
.calendar-15,
.vector-icon300,
.vector-icon301 {
  position: absolute;
  overflow: hidden;
}
.vector-icon301 {
  height: 6.67%;
  width: 6.71%;
  top: 66.25%;
  right: 62.07%;
  bottom: 27.08%;
  left: 31.22%;
  max-width: 100%;
  max-height: 100%;
}
.calendar-15 {
  text-decoration: none;
  top: 44px;
  left: 247px;
  width: 30px;
  height: 30px;
}
.mask-group-icon8 {
  position: absolute;
  top: -3px;
  left: 129px;
  width: 56px;
  height: 56px;
}
.p157 {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: 600;
}
.arrow-down-34,
.vector-icon302 {
  position: absolute;
  overflow: hidden;
}
.vector-icon302 {
  height: 37.07%;
  width: 73.5%;
  top: 33.54%;
  right: 13.26%;
  bottom: 29.38%;
  left: 13.24%;
  max-width: 100%;
  max-height: 100%;
}
.arrow-down-34 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 0;
  width: 20px;
  height: 20px;
}
.mask-group-parent4 {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 182px;
  height: 50px;
}
.b94 {
  position: absolute;
  top: 30px;
  left: 1036px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
}
.group-child395,
.rectangle-parent85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440.02px;
  height: 119.47px;
}
.group-child395 {
  border-radius: var(--br-11xl) 0 var(--br-11xl) 0;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0 2px rgba(11, 92, 153, 0.25);
  width: 121px;
  height: 1148px;
}
.ef98ad7010f26031b617516aa4cd346 {
  text-decoration: none;
  position: absolute;
  top: 47px;
  left: 36px;
  width: 50px;
  height: 50px;
  background-image: url(./public/ef98ad7010f26031b617516aa4cd3417-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.folder-16,
.vector-icon303 {
  position: absolute;
  overflow: hidden;
}
.vector-icon303 {
  height: 90%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.folder-16 {
  text-decoration: none;
  top: 282px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon304,
.vector-icon305,
.vector-icon306 {
  position: absolute;
  height: 90.25%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 4.75%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon305,
.vector-icon306 {
  height: 6.67%;
  width: 48.33%;
  top: 30%;
  right: 25.83%;
  bottom: 63.33%;
  left: 25.83%;
}
.vector-icon306 {
  width: 31.67%;
  top: 50.83%;
  right: 42.5%;
  bottom: 42.5%;
}
.message-text-1-16 {
  text-decoration: none;
  position: absolute;
  top: 392px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon307,
.vector-icon308 {
  width: 60.83%;
  right: 19.58%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon307 {
  position: absolute;
  height: 45.63%;
  top: 49.38%;
  bottom: 5%;
  overflow: hidden;
}
.vector-icon308 {
  height: 52.5%;
  top: 5%;
  bottom: 42.5%;
}
.coin-16,
.vector-icon308,
.vector-icon309 {
  position: absolute;
  overflow: hidden;
}
.vector-icon309 {
  height: 73.33%;
  width: 60.83%;
  top: 5%;
  right: 19.58%;
  bottom: 21.67%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.coin-16 {
  text-decoration: none;
  top: 502px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon310,
.vector-icon311,
.vector-icon312 {
  position: absolute;
  height: 6.67%;
  width: 48.33%;
  top: 77.92%;
  right: 9.17%;
  bottom: 15.42%;
  left: 42.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon311,
.vector-icon312 {
  top: 48.75%;
  bottom: 44.58%;
}
.vector-icon312 {
  top: 19.58%;
  bottom: 73.75%;
}
.vector-icon313,
.vector-icon314 {
  height: 19.17%;
  width: 23.33%;
  right: 67.5%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon313 {
  position: absolute;
  top: 11.25%;
  bottom: 69.58%;
  overflow: hidden;
}
.vector-icon314 {
  top: 40.42%;
  bottom: 40.42%;
}
.task-16,
.vector-icon314,
.vector-icon315 {
  position: absolute;
  overflow: hidden;
}
.vector-icon315 {
  height: 19.17%;
  width: 23.33%;
  top: 69.58%;
  right: 67.5%;
  bottom: 11.25%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.task-16 {
  text-decoration: none;
  top: 612px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon316,
.vector-icon317,
.vector-icon318,
.vector-icon319,
.vector-icon320,
.vector-icon321 {
  position: absolute;
  height: 69.17%;
  width: 69.17%;
  top: 25.83%;
  right: 25.83%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon317,
.vector-icon318,
.vector-icon319,
.vector-icon320,
.vector-icon321 {
  height: 33.33%;
  width: 33.33%;
  bottom: 40.83%;
  left: 40.83%;
}
.vector-icon318,
.vector-icon319,
.vector-icon320,
.vector-icon321 {
  height: 6.67%;
  width: 23.33%;
  top: 5%;
  right: 31.67%;
  bottom: 88.33%;
  left: 45%;
}
.vector-icon319,
.vector-icon320,
.vector-icon321 {
  height: 19.17%;
  width: 30.08%;
  right: 44.09%;
  bottom: 75.83%;
  left: 25.83%;
}
.vector-icon320,
.vector-icon321 {
  height: 44.17%;
  width: 18.37%;
  top: 30%;
  right: 5%;
  bottom: 25.83%;
  left: 76.63%;
}
.vector-icon321 {
  height: 31.67%;
  width: 31.67%;
  top: 5%;
  bottom: 63.33%;
  left: 63.33%;
}
.document-copy-16 {
  text-decoration: none;
  position: absolute;
  top: 722px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon323 {
  height: 31.69%;
  width: 30.96%;
  top: 25.82%;
  right: 34.49%;
  bottom: 42.5%;
  left: 34.54%;
  max-width: 100%;
  max-height: 100%;
}
.help-circle-16,
.vector-icon323,
.vector-icon324 {
  position: absolute;
  overflow: hidden;
}
.vector-icon324 {
  height: 6.67%;
  width: 6.71%;
  top: 67.5%;
  right: 46.63%;
  bottom: 25.83%;
  left: 46.67%;
  max-width: 100%;
  max-height: 100%;
}
.help-circle-16 {
  text-decoration: none;
  top: 832px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon325,
.vector-icon326,
.vector-icon327,
.vector-icon328 {
  position: absolute;
  height: 90%;
  width: 81.67%;
  top: 5%;
  right: 9.17%;
  bottom: 5%;
  left: 9.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon326,
.vector-icon327,
.vector-icon328 {
  height: 23.33%;
  width: 23.33%;
  top: 15.42%;
  right: 19.58%;
  bottom: 61.25%;
  left: 57.08%;
}
.vector-icon327,
.vector-icon328 {
  height: 6.67%;
  top: 50.83%;
  right: 46.67%;
  bottom: 42.5%;
  left: 30%;
}
.vector-icon328 {
  width: 40%;
  top: 67.5%;
  right: 30%;
  bottom: 25.83%;
}
.document-text-16 {
  text-decoration: none;
  position: absolute;
  top: 942px;
  left: 46px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon329,
.vector-icon330 {
  position: absolute;
  height: 86%;
  width: 59.17%;
  top: 7.04%;
  right: 7.08%;
  bottom: 6.96%;
  left: 33.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon330 {
  height: 6.67%;
  width: 60.34%;
  top: 46.67%;
  right: 34.66%;
  bottom: 46.67%;
  left: 5%;
}
.vector-icon331 {
  height: 34.58%;
  width: 20.63%;
  top: 32.71%;
  right: 30%;
  bottom: 32.71%;
  left: 49.38%;
  max-width: 100%;
  max-height: 100%;
}
.login-16,
.vector-icon331,
.vector-icon332 {
  position: absolute;
  overflow: hidden;
}
.login-16 {
  text-decoration: none;
  top: 1052px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon332 {
  height: 42.04%;
  top: 5%;
  right: 5%;
  bottom: 52.96%;
  left: 52.92%;
}
.vector-icon332,
.vector-icon333,
.vector-icon334 {
  width: 42.08%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon333 {
  position: absolute;
  height: 42.08%;
  top: 52.92%;
  right: 5%;
  bottom: 5%;
  left: 52.92%;
  overflow: hidden;
}
.vector-icon334 {
  height: 42.04%;
  top: 5%;
  right: 52.92%;
  bottom: 52.96%;
  left: 5%;
}
.element-3-16,
.vector-icon334,
.vector-icon335 {
  position: absolute;
  overflow: hidden;
}
.vector-icon335 {
  height: 42.08%;
  width: 42.08%;
  top: 52.92%;
  right: 52.92%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.element-3-16 {
  text-decoration: none;
  top: 172px;
  left: 46px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.group-child396,
.rectangle-parent86 {
  position: absolute;
  top: 0;
  left: 1318px;
  width: 121px;
  height: 1148px;
}
.group-child396 {
  left: 0;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--color-aliceblue);
  width: 1275px;
  height: 1393px;
}
.group-child397,
.group-child398 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.group-child397 {
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 1233px;
  height: 1143px;
}
.group-child398 {
  border-radius: 50%;
  background-color: var(--color-crimson);
  width: 80px;
  height: 80px;
}
.b95 {
  position: absolute;
  top: 18px;
  left: 32px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-cairo);
  color: var(--color-white);
  text-align: left;
}
.ellipse-parent22,
.group-child399 {
  position: absolute;
  width: 80px;
  height: 80px;
}
.ellipse-parent22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 60px;
  left: 63px;
}
.group-child399 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #009506;
}
.b96 {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-cairo);
  color: var(--color-white);
  text-align: left;
}
.ellipse-parent23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60px;
  left: 173px;
  width: 80px;
  height: 80px;
}
.b97 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
}
.group-parent26 {
  position: absolute;
  top: 1158px;
  left: 459px;
  width: 316px;
  height: 140px;
  font-size: var(--font-size-5xl);
}
.b98 {
  position: absolute;
  top: 0;
  left: 786px;
  font-weight: 600;
}
.group-iframe,
.parent67 {
  position: absolute;
  top: 76px;
  left: 0;
  width: 834px;
  height: 469px;
}
.parent67 {
  top: 35px;
  left: 199px;
  width: 999px;
  height: 545px;
}
.div117 {
  position: absolute;
  top: 0;
  left: 196px;
  font-weight: 600;
}
.group-child400,
.parent68 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 391px;
  height: 402px;
}
.parent68 {
  top: 613px;
  left: 797px;
  width: 401px;
  height: 483px;
}
.rectangle-parent88 {
  position: absolute;
  top: 70px;
  left: 21px;
  width: 1233px;
  height: 1298px;
}
.rectangle-parent87 {
  position: absolute;
  top: 144px;
  left: 22px;
  width: 1275px;
  height: 1393px;
  font-size: var(--font-size-11xl);
}
.div116 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1557px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-cairo);
}
