<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Component6.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div119" id="container">
      <div class="rectangle-parent96">
        <div class="group-child407"></div>
        <a class="calendar-17">
          <img class="vector-icon380" alt="" src="./public/vector54.svg" />

          <img class="vector-icon381" alt="" src="./public/vector54.svg" />

          <img class="vector-icon382" alt="" src="./public/vector55.svg" />

          <img class="vector-icon383" alt="" src="./public/vector56.svg" />

          <img class="vector-icon384" alt="" src="./public/vector12.svg" />

          <img class="vector-icon385" alt="" src="./public/vector13.svg" />

          <img class="vector-icon386" alt="" src="./public/vector57.svg" />

          <img class="vector-icon387" alt="" src="./public/vector58.svg" />

          <img class="vector-icon388" alt="" src="./public/vector16.svg" />

          <img class="vector-icon389" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent6">
          <img
            class="mask-group-icon10"
            alt=""
            src="./public/mask-group6.svg"
          />

          <p class="p159">ماهيتاب</p>
          <button class="arrow-down-36">
            <img class="vector-icon390" alt="" src="./public/vector59.svg" />
          </button>
        </div>
        <b class="b101">منتدي الشروحات</b>
      </div>
      <div class="rectangle-parent97">
        <div class="group-child408" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd348"> </a>
        <a class="folder-18" href="./Component14.html" id="folder1">
          <img class="vector-icon391" alt="" src="./public/vector60.svg" />
        </a>
        <a
          class="message-text-1-18"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon392" alt="" src="./public/vector61.svg" />

          <img class="vector-icon393" alt="" src="./public/vector62.svg" />

          <img class="vector-icon394" alt="" src="./public/vector63.svg" />
        </a>
        <a class="coin-18" href="./Component12.html" id="coin1">
          <img class="vector-icon395" alt="" src="./public/vector64.svg" />

          <img class="vector-icon396" alt="" src="./public/vector65.svg" />

          <img class="vector-icon397" alt="" src="./public/vector66.svg" />
        </a>
        <a class="task-18" href="./Component11.html" id="task1">
          <img class="vector-icon398" alt="" src="./public/vector67.svg" />

          <img class="vector-icon399" alt="" src="./public/vector68.svg" />

          <img class="vector-icon400" alt="" src="./public/vector69.svg" />

          <img class="vector-icon401" alt="" src="./public/vector70.svg" />

          <img class="vector-icon402" alt="" src="./public/vector71.svg" />

          <img class="vector-icon403" alt="" src="./public/vector72.svg" />
        </a>
        <a
          class="document-copy-18"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon404" alt="" src="./public/vector73.svg" />

          <img class="vector-icon405" alt="" src="./public/vector74.svg" />

          <img class="vector-icon406" alt="" src="./public/vector75.svg" />

          <img class="vector-icon407" alt="" src="./public/vector76.svg" />

          <img class="vector-icon408" alt="" src="./public/vector77.svg" />

          <img class="vector-icon409" alt="" src="./public/vector78.svg" />
        </a>
        <a class="help-circle-18" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon391" alt="" src="./public/vector79.svg" />

          <img class="vector-icon411" alt="" src="./public/vector80.svg" />

          <img class="vector-icon412" alt="" src="./public/vector81.svg" />
        </a>
        <a class="document-text-18" href="Component6.html" id="documentText1">
          <img class="vector-icon413" alt="" src="./public/vector82.svg" />

          <img class="vector-icon414" alt="" src="./public/vector83.svg" />

          <img class="vector-icon415" alt="" src="./public/vector84.svg" />

          <img class="vector-icon416" alt="" src="./public/vector85.svg" />
        </a>
        <a class="login-18" href="/" id="login1">
          <img class="vector-icon417" alt="" src="./public/vector86.svg" />

          <img class="vector-icon418" alt="" src="./public/vector87.svg" />

          <img class="vector-icon419" alt="" src="./public/vector88.svg" />
        </a>
        <a class="element-3-18" href="./Desktop48.html" id="element31">
          <img class="vector-icon420" alt="" src="./public/vector89.svg" />

          <img class="vector-icon421" alt="" src="./public/vector90.svg" />

          <img class="vector-icon422" alt="" src="./public/vector91.svg" />

          <img class="vector-icon423" alt="" src="./public/vector92.svg" />
        </a>
      </div>
      <div class="rectangle-parent98">
        <div class="group-child409" id="rectangle"></div>
        <div class="rectangle-parent99">
          <div class="group-child410"></div>
          <b class="b102">منتدي الشروحات</b>
          <div class="rectangle-parent100">
            <button class="group-child411"></button>
            <button class="group-child412" id="rectangleButton1"></button>
            <h6 class="h67">الدعم الفني</h6>
            <p class="p160">كيفية طلب دعم فني لمساعدتك</p>
          </div>
          <div class="rectangle-parent101">
            <button class="group-child411"></button>
            <button class="group-child412"></button>
            <p class="p161">
              برنامج أوراكس لايت النظام الأسهل إستخداما مقارنه بالأنظمة
              المحاسبية الأخرى
            </p>
            <h6 class="h68">اوراكس لايت</h6>
          </div>
          <div class="rectangle-parent102">
            <button class="group-child411"></button>
            <button class="group-child412"></button>
            <h6 class="h69">الدليل السريع لأحتراف البرنامج</h6>
            <p class="pdf">ملفات PDF للأقسام</p>
          </div>
          <div class="rectangle-parent103">
            <button class="group-child411"></button>
            <button class="group-child412"></button>
            <h6 class="h610">اوراكس ريست</h6>
            <p class="oraxrest">
              يعد نظام أدارة المطاعم (oraxRest) من الأنظمة التي أعدت لتنمو
              وتتطور فوق مستوى توقعاتك
            </p>
          </div>
          <div class="rectangle-parent104">
            <button class="group-child411"></button>
            <button class="group-child412"></button>
            <h6 class="h611">الكتب</h6>
            <p class="pdf1">
              مجموعة تحتوي على كتب شرح PDF يمكنك من خلالها الاطلاع على العديد من
              الكتب للقراءة
            </p>
          </div>
          <div class="rectangle-parent105">
            <input class="group-child421" type="text" />

            <img
              class="search-normal-2-icon1"
              alt=""
              src="./public/searchnormal-2.svg"
            />

            <i class="i2">بحث</i>
          </div>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      
      var rectangleButton1 = document.getElementById("rectangleButton1");
      if (rectangleButton1) {
        rectangleButton1.addEventListener("click", function (e) {
          window.location.href = "./Component5.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      </script>
  </body>
</html>
