<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Desktop34.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body class="body">
    <div class="desktop-34">
      <div class="rectangle-parent204">
        <div class="group-child562"></div>
        <a class="calendar-116">
          <img class="vector-icon839" alt="" src="./public/vector54.svg" />

          <img class="vector-icon840" alt="" src="./public/vector54.svg" />

          <img class="vector-icon841" alt="" src="./public/vector55.svg" />

          <img class="vector-icon842" alt="" src="./public/vector56.svg" />

          <img class="vector-icon843" alt="" src="./public/vector100.svg" />

          <img class="vector-icon844" alt="" src="./public/vector101.svg" />

          <img class="vector-icon845" alt="" src="./public/vector102.svg" />

          <img class="vector-icon846" alt="" src="./public/vector103.svg" />

          <img class="vector-icon847" alt="" src="./public/vector16.svg" />

          <img class="vector-icon848" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent16">
          <img
            class="mask-group-icon20"
            alt=""
            src="./public/mask-group15.svg"
          />

          <p class="p301">ماهيتاب</p>
          <button class="arrow-down-315">
            <img class="vector-icon849" alt="" src="./public/vector104.svg" />
          </button>
        </div>
        <b class="b132">الملف الشخصي</b>
      </div>
      <div class="desktop-34-child"></div>
      <b class="b133">الملف الشخصي</b>
      <div class="mask-group-parent17">
        <img class="mask-group-icon21" alt="" src="./public/mask-group16.svg" />

        <div class="ellipse-parent24">
          <div class="group-child563"></div>
          <button class="add-1">
            <img class="vector-icon850" alt="" src="./public/vector105.svg" />

            <img class="vector-icon851" alt="" src="./public/vector106.svg" />
          </button>
        </div>
      </div>
      <div class="parent97">
        <h2 class="h2">اشعارات البريد الالكتروني</h2>
        <div class="group-parent33">
          <div class="rectangle-parent205">
            <input class="group-child564" type="checkbox" name="bill" />

            <img
              class="tick-square-1-icon"
              alt=""
              src="./public/ticksquare-1.svg"
            />
          </div>
          <div class="div156">فاتورة</div>
        </div>
        <div class="rectangle-parent206">
          <input class="group-child565" type="checkbox" name="creditor" />

          <div class="div156">اشعار دائن</div>
        </div>
        <div class="rectangle-parent207">
          <input class="group-child566" type="checkbox" name="price_offer" />

          <div class="div158">عرض سعر</div>
        </div>
        <div class="rectangle-parent208">
          <input class="group-child567" type="checkbox" name="tickets" />

          <div class="div158">التذاكر</div>
        </div>
        <div class="rectangle-parent209">
          <input
            class="group-child568"
            type="checkbox"
            tabindex="{0}"
            name="contract"
          />

          <div class="div158">عقد</div>
        </div>
      </div>
      <img class="desktop-34-item" alt="" src="./public/vector-67.svg" />

      <div class="rectangle-parent210">
        <div class="group-child569"></div>
        <b class="b134">تحديث</b>
      </div>
      <div class="rectangle-parent211">
        <div class="group-child570" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd3418"> </a>
        <a class="folder-118" href="./Component14.html" id="folder1">
          <img class="vector-icon852" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-118"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon853" alt="" src="./public/vector20.svg" />

          <img class="vector-icon854" alt="" src="./public/vector21.svg" />

          <img class="vector-icon855" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-118" href="./Component12.html" id="coin1">
          <img class="vector-icon856" alt="" src="./public/vector23.svg" />

          <img class="vector-icon857" alt="" src="./public/vector24.svg" />

          <img class="vector-icon858" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-118" href="./Component11.html" id="task1">
          <img class="vector-icon859" alt="" src="./public/vector26.svg" />

          <img class="vector-icon860" alt="" src="./public/vector27.svg" />

          <img class="vector-icon861" alt="" src="./public/vector28.svg" />

          <img class="vector-icon862" alt="" src="./public/vector29.svg" />

          <img class="vector-icon863" alt="" src="./public/vector30.svg" />

          <img class="vector-icon864" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-118"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon865" alt="" src="./public/vector32.svg" />

          <img class="vector-icon866" alt="" src="./public/vector33.svg" />

          <img class="vector-icon867" alt="" src="./public/vector34.svg" />

          <img class="vector-icon868" alt="" src="./public/vector35.svg" />

          <img class="vector-icon869" alt="" src="./public/vector36.svg" />

          <img class="vector-icon870" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-118" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon852" alt="" src="./public/vector38.svg" />

          <img class="vector-icon872" alt="" src="./public/vector39.svg" />

          <img class="vector-icon873" alt="" src="./public/vector40.svg" />
        </a>
        <a
          class="document-text-118"
          href="./Component6.html"
          id="documentText1"
        >
          <img class="vector-icon874" alt="" src="./public/vector41.svg" />

          <img class="vector-icon875" alt="" src="./public/vector42.svg" />

          <img class="vector-icon876" alt="" src="./public/vector43.svg" />

          <img class="vector-icon877" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-118" href="/" id="login1">
          <img class="vector-icon878" alt="" src="./public/vector45.svg" />

          <img class="vector-icon879" alt="" src="./public/vector46.svg" />

          <img class="vector-icon880" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-118" href="./Desktop48.html" id="element31">
          <img class="vector-icon881" alt="" src="./public/vector48.svg" />

          <img class="vector-icon882" alt="" src="./public/vector49.svg" />

          <img class="vector-icon883" alt="" src="./public/vector50.svg" />

          <img class="vector-icon884" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-parent15" data-animate-on-scroll>
          <img class="group-child571" alt="" src="./public/polygon-61.svg" />

          <div class="group-child572"></div>
          <img class="group-child573" alt="" src="./public/polygon-1.svg" />

          <div class="div161">اللوحة الرئيسية</div>
        </div>
      </div>
      <div class="parent98">
        <p class="p302">الأسم الأول</p>
        <input class="group-child574" type="text" />

        <i class="i34">ماهيتاب</i>
      </div>
      <div class="parent99">
        <p class="p303">عنوان البريد الألكتروني</p>
        <input class="group-child574" type="text" />

        <i class="ex-mahytabadel25gmailcom">Ex; mahytabadel25@gmail.com</i>
      </div>
      <div class="parent100">
        <p class="p304">الأسم الأخير</p>
        <input class="group-child574" type="text" />

        <i class="i35">عادل</i>
      </div>
      <div class="parent101">
        <p class="p305">رقم الهاتف</p>
        <input class="group-child574" type="text" />

        <i class="i36">9245420.15664</i>
      </div>
      <div class="parent102">
        <p class="p306">اتجاه</p>
        <input class="group-child578" type="text" />

        <select class="arrow-square-down-2">
          <option value="zeyad">Zeyad</option>
          <option value="mahy">Mahytab</option>
          <option value="7assan">kabsa</option>
          <option value="abo kalba">abo kalba</option>
        </select>
      </div>
      <div class="parent102">
        <p class="p306">اتجاه</p>
        <input class="group-child578" type="text" />

        <select class="arrow-square-down-2">
          <option value="zeyad">Zeyad</option>
          <option value="mahy">Mahytab</option>
          <option value="7assan">kabsa</option>
          <option value="abo kalba">abo kalba</option>
        </select>
      </div>
      <div class="parent104">
        <p class="p308">المنصب</p>
        <input class="group-child578" type="text" />
      </div>
      <div class="parent105">
        <b class="b135">تغيير الباسورد</b>
        <i class="i37">اّخر تغيير لكلمة المرور قبل 6 شهور</i>
        <div class="rectangle-parent212">
          <button class="group-child581"></button>
          <b class="b136">تغيير كلمة السر</b>
        </div>
        <div class="group-wrapper">
          <div class="parent106">
            <p class="p309">كلمة السر القديمة</p>
            <input class="group-child582" type="text" />
          </div>
        </div>
        <div class="parent107">
          <p class="p310">كلمة السر الجديدة</p>
          <input class="group-child583" type="text" />
        </div>
        <div class="parent108">
          <p class="p311">تكرار كلمة السر</p>
          <input class="group-child583" type="text" />
        </div>
      </div>
      <div class="vector-parent39">
        <img class="group-child585" alt="" src="./public/vector-2.svg" />

        <div class="group-parent34">
          <div class="parent109">
            <p class="p312">الرقم الضريبي:300480975800003430365478</p>
            <p class="p313">المركز الرئيسي - جدة - شارع خالد بن الوليد</p>
            <p class="p314">شركة الحلول الذهبية لتقنية المعلومات</p>
            <img
              class="logo-dark-1-icon5"
              alt=""
              src="./public/logo-dark-1@2x.png"
            />
          </div>
          <div class="ellipse-parent25">
            <div class="group-child586"></div>
            <button class="facebook-14">
              <img class="vector-icon885" alt="" src="./public/vector3.svg" />
            </button>
          </div>
          <div class="ellipse-parent26">
            <div class="group-child586"></div>
            <button class="facebook-14">
              <img class="vector-icon886" alt="" src="./public/vector4.svg" />

              <img class="vector-icon887" alt="" src="./public/vector5.svg" />
            </button>
          </div>
          <div class="ellipse-parent27">
            <div class="group-child586"></div>
            <button class="facebook-14">
              <img class="vector-icon852" alt="" src="./public/vector6.svg" />

              <img class="vector-icon889" alt="" src="./public/vector7.svg" />

              <img class="vector-icon890" alt="" src="./public/vector8.svg" />
            </button>
          </div>
        </div>
        <div class="rectangle-parent213">
          <input class="group-child589" type="text" id="have_question" />

          <button class="group-child590" id="rectangleButton1"></button>
          <p class="p315">لدي سؤال ؟</p>
          <b class="b137">بحث</b>
          <b class="b138">منتدي الشروحات</b>
        </div>
      </div>
      <div class="vector-parent40">
        <img class="group-child585" alt="" src="./public/vector-2.svg" />

        <div class="copyright-1-parent2">
          <img
            class="copyright-1-icon4"
            alt=""
            src="./public/copyright-11.svg"
          />

          <p class="p316">
            جميع حقوق النشر محفوظة لشركة الحلول الذهبية لتقنية المعلومات 2023
          </p>
        </div>
      </div>
    </div>

    <script>
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "./Desktop48.html";
        });
      }
      
      var rectangleButton1 = document.getElementById("rectangleButton1");
      if (rectangleButton1) {
        rectangleButton1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
