<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Desktop53.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body class="body">
    <div class="desktop-53" id="desktop53">
      <div class="rectangle-parent1">
        <div class="group-child1" id="round_13"></div>
        <div class="rectangle-parent2">
          <div class="group-child2" id="round_10"></div>
          <p class="p4">صباح الخير ماهيتاب !</p>
          <img
            class="hello-rafiki-1-icon"
            alt=""
            src="./public/hellorafiki-1.svg"
          />
        </div>
        <div class="rectangle-parent3">
          <div class="group-child3" id="round_11"></div>
          <div class="parent">
            <p class="p5">تم الأنتهاء</p>
            <p class="text"></p>
            <b class="b2">72</b>
          </div>
          <div class="group">
            <p class="p5">ألغيت</p>
            <p class="text1"></p>
            <b class="b3">72</b>
          </div>
          <div class="text-parent">
            <p class="text2"></p>
            <p class="p5">في الانتظار</p>
            <b class="b4">72</b>
          </div>
          <div class="container">
            <p class="p5">لم يبدأ</p>
            <p class="text3"></p>
            <b class="b5">72</b>
          </div>
          <div class="text-group">
            <p class="text4"></p>
            <p class="p5">في تقدم</p>
            <b class="b6">72</b>
          </div>
          <p class="p10">ملخص المشاريع</p>
        </div>
        <div class="rectangle-parent4">
          <div class="group-child4"></div>
          <img class="vector-icon" alt="" src="./public/vector-22.svg" />

          <img class="group-icon" alt="" src="./public/group-131.svg" />

          <img class="group-child5" alt="" src="./public/vector-33.svg" />

          <img class="group-child6" alt="" src="./public/vector-53.svg" />

          <img class="group-child7" alt="" src="./public/vector-58.svg" />

          <img class="group-child8" alt="" src="./public/vector-28.svg" />

          <img class="group-child9" alt="" src="./public/vector-33.svg" />

          <img class="group-child10" alt="" src="./public/vector-53.svg" />

          <img class="group-child11" alt="" src="./public/vector-58.svg" />

          <img class="group-child12" alt="" src="./public/vector-28.svg" />

          <img class="group-child13" alt="" src="./public/vector-33.svg" />

          <img class="group-child14" alt="" src="./public/vector-53.svg" />

          <img class="group-child15" alt="" src="./public/vector-58.svg" />

          <img class="group-child16" alt="" src="./public/vector-28.svg" />

          <img class="group-child17" alt="" src="./public/vector-33.svg" />

          <img class="group-child18" alt="" src="./public/vector-53.svg" />

          <img class="group-child19" alt="" src="./public/vector-58.svg" />

          <img class="group-child20" alt="" src="./public/vector-28.svg" />

          <img class="group-child21" alt="" src="./public/vector-33.svg" />

          <img class="group-child22" alt="" src="./public/vector-53.svg" />

          <img class="group-child23" alt="" src="./public/vector-58.svg" />

          <img class="group-child24" alt="" src="./public/vector-28.svg" />

          <img class="group-child25" alt="" src="./public/vector-33.svg" />

          <img class="group-child26" alt="" src="./public/vector-53.svg" />

          <img class="group-child27" alt="" src="./public/vector-58.svg" />

          <img class="group-child28" alt="" src="./public/vector-28.svg" />

          <img class="group-child29" alt="" src="./public/vector-33.svg" />

          <img class="group-child30" alt="" src="./public/vector-53.svg" />

          <img class="group-child31" alt="" src="./public/vector-58.svg" />

          <img class="group-child32" alt="" src="./public/vector-28.svg" />

          <img class="group-child33" alt="" src="./public/vector-33.svg" />

          <img class="group-child34" alt="" src="./public/vector-53.svg" />

          <img class="group-child35" alt="" src="./public/vector-58.svg" />

          <img class="group-child36" alt="" src="./public/vector-28.svg" />

          <div class="parent1">
            <div class="div3">0</div>
            <div class="div4">500</div>
            <div class="div5">1000</div>
            <div class="div6">1500</div>
            <div class="div7">2000</div>
            <div class="div8">2500</div>
            <div class="div9">3000</div>
            <div class="jan">3500</div>
          </div>
          <img class="group-child37" alt="" src="./public/vector-33.svg" />

          <img class="group-child38" alt="" src="./public/vector-53.svg" />

          <img class="group-child39" alt="" src="./public/vector-58.svg" />

          <img class="group-child40" alt="" src="./public/vector-28.svg" />

          <div class="apr-parent">
            <div class="apr">Apr</div>
            <div class="mar">Mar</div>
            <div class="jan">Jan</div>
            <div class="feb">Feb</div>
            <div class="may">May</div>
            <div class="jun">Jun</div>
            <div class="jul">Jul</div>
            <div class="aug">Aug</div>
            <div class="sep">Sep</div>
          </div>
          <div class="group-parent">
            <div class="paid-parent">
              <div class="paid">Paid</div>
              <img class="ellipse-icon" alt="" src="./public/ellipse-48.svg" />
            </div>
            <div class="partially-paid-parent">
              <div class="paid">Partially Paid</div>
              <div class="ellipse-div"></div>
            </div>
            <div class="overdue-parent">
              <p class="overdue">Overdue</p>
              <div class="group-child41"></div>
            </div>
            <div class="unpaid-parent">
              <div class="paid">Unpaid</div>
              <div class="group-child42"></div>
            </div>
          </div>
          <p class="p11">معلومات سريعة عن الفواتير</p>
          <div class="parent2">
            <div class="div11">هذا العام</div>
            <div class="div12">ريال سعودي</div>
            <select class="arrow-down-1">
              <option value="يورو">ريال سعودي</option>
              <option value="دينار">دولار</option>
            </select>
            <select class="arrow-down-2">
              <option value="2022">هذا العام</option>
              <option value="2020">2021</option>
            </select>
          </div>
        </div>

        <div class="rectangle-parent5">
          <div class="group-child43" id="round_12"></div>
          <b class="b7">معلومات سريعة</b>
          <div class="group-container">
            <div class="parent3">
              <div class="jan">25% متأخر</div>
              <img class="group-child44" alt="" src="./public/ellipse-49.svg" />
            </div>
            <div class="parent4">
              <div class="jan">25% مدفوع جزئياً</div>
              <img class="group-child45" alt="" src="./public/ellipse-50.svg" />
            </div>
            <div class="group-parent1">
              <div class="ellipse-parent">
                <div class="group-child46"></div>
                <div class="vector-parent">
                  <img
                    class="group-child47"
                    alt=""
                    src="./public/ellipse-501.svg"
                  />

                  <div class="group-child48"></div>
                </div>
                <div class="vector-group">
                  <img
                    class="group-child49"
                    alt=""
                    src="./public/ellipse-481.svg"
                  />

                  <div class="group-child50"></div>
                </div>
                <div class="vector-container">
                  <img
                    class="group-child51"
                    alt=""
                    src="./public/ellipse-47.svg"
                  />

                  <div class="group-child52"></div>
                </div>
                <div class="vector-parent1">
                  <img
                    class="group-child53"
                    alt=""
                    src="./public/ellipse-491.svg"
                  />

                  <div class="group-child54"></div>
                </div>
              </div>
              <div class="ellipse-group">
                <div class="group-child55"></div>
                <p class="p12">100%</p>
              </div>
            </div>
            <div class="parent5">
              <div class="jan">25% مدفوع</div>
              <img class="group-child56" alt="" src="./public/ellipse-48.svg" />
            </div>
            <div class="ellipse-container">
              <img class="group-child57" alt="" src="./public/ellipse-51.svg" />

              <div class="jan">25% غير مدفوع</div>
            </div>
          </div>
          <div class="group-parent2">
            <div class="vector-parent2">
              <img class="group-child58" alt="" src="./public/vector-114.svg" />

              <div class="div17">25%</div>
            </div>
            <div class="vector-parent3">
              <img class="group-child58" alt="" src="./public/vector-113.svg" />

              <div class="div18">25%</div>
            </div>
            <div class="vector-parent4">
              <img class="group-child58" alt="" src="./public/vector-115.svg" />

              <div class="div19">25%</div>
            </div>
            <div class="vector-parent5">
              <img class="group-child61" alt="" src="./public/vector-116.svg" />

              <div class="div20">25%</div>
            </div>
          </div>
          <div class="polygon-parent">
            <img class="polygon-icon" alt="" src="./public/polygon-2.svg" />

            <p class="p13">مدفوع</p>
            <div class="div21">( 1/3 )</div>
          </div>
          <div class="polygon-group">
            <img class="group-child62" alt="" src="./public/polygon-3.svg" />

            <p class="p14">غير مدفوع</p>
            <div class="div22">( 1/3 )</div>
          </div>
          <div class="polygon-container">
            <img class="group-child62" alt="" src="./public/polygon-4.svg" />

            <div class="div23">متأخر</div>
            <div class="div24">( 1/3 )</div>
          </div>
          <div class="parent6">
            <p class="p15">مدفوع جزئياً</p>
            <img class="group-child62" alt="" src="./public/polygon-5.svg" />

            <div class="div24">( 1/3 )</div>
          </div>
          <div class="group-parent3">
            <button class="group-button">
              <h1 class="h1">ريال سعودي</h1>
              <select class="arrow-down-11">
                <option value="دولار امريكي">ريال سعودي</option>
                <option value="دينار كويتي">يورو</option>
              </select>
            </button>
            <button class="parent7">
              <div class="div26">هذا العام</div>
              <select class="arrow-down-2">
                <option value="2022">هذا العام</option>
                <option value="2021">2020</option>
              </select>
            </button>
          </div>
        </div>
        <div class="rectangle-parent6">
          <div class="group-child65"></div>
          <b class="b8">تذاكر الدعم الفني</b>
          <div class="parent8">
            <p class="p16">في تقدم</p>
            <select class="arrow-down-22">
              <option value="2">1</option>
              <option value="4">3</option>
            </select>
          </div>
          <div class="parent9">
            <h1 class="h11">الرد الأخير</h1>
            <h1 class="h12">الحالة</h1>
            <h1 class="h13">أفضلية</h1>
            <h1 class="h14">مشروع</h1>
            <h1 class="h15">قسم</h1>
            <h1 class="h16">جهة الاتصال</h1>
            <h1 class="h17">موضوع</h1>
            <h1 class="h18">تذكرة</h1>
          </div>
          <div class="rectangle-parent7">
            <div class="group-child66"></div>
            <p class="p17">#12345</p>
            <p class="p18">تذكرة عشوائية</p>
            <p class="usertemp">Usertemp</p>
            <p class="oraxlite">OraxLite</p>
            <p class="test">Test</p>
            <p class="p19">منخفض</p>
            <p class="p20">مغلق</p>
            <p class="p21">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent8">
            <div class="group-child67"></div>
            <p class="p22">#12345</p>
            <p class="p23">تذكرة عشوائية</p>
            <p class="usertemp1">Usertemp</p>
            <p class="oraxlite1">OraxLite</p>
            <p class="test1">Test</p>
            <p class="p24">منخفض</p>
            <p class="p25">مغلق</p>
            <p class="p26">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent9">
            <div class="group-child67"></div>
            <p class="p22">#12345</p>
            <p class="p23">تذكرة عشوائية</p>
            <p class="usertemp1">Usertemp</p>
            <p class="oraxlite1">OraxLite</p>
            <p class="test1">Test</p>
            <p class="p24">منخفض</p>
            <p class="p25">مغلق</p>
            <p class="p26">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent10">
            <div class="group-child69"></div>
            <p class="p17">#12345</p>
            <p class="p18">تذكرة عشوائية</p>
            <p class="usertemp">Usertemp</p>
            <p class="oraxlite">OraxLite</p>
            <p class="test">Test</p>
            <p class="p19">منخفض</p>
            <p class="p20">مغلق</p>
            <p class="p21">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent11">
            <div class="group-child70"></div>
            <b class="b9" id="text78">إنشاء تذكرة طلب دعم فني</b>
          </div>
          <div class="group-parent4">
            <div class="rectangle-parent12">
              <div class="group-child71"></div>
              <p class="p37">1</p>
            </div>
            <div class="rectangle-parent13">
              <div class="group-child72"></div>
              <p class="p37">2</p>
            </div>
            <div class="rectangle-parent14">
              <div class="group-child71"></div>
              <p class="p39">3</p>
            </div>
            <button class="arrow-square-right-2">
              <img class="vector-icon1" alt="" src="./public/vector.svg" />

              <img class="vector-icon2" alt="" src="./public/vector1.svg" />
            </button>
            <button class="arrow-square-left-2">
              <img class="vector-icon1" alt="" src="./public/vector.svg" />

              <img class="vector-icon4" alt="" src="./public/vector2.svg" />
            </button>
          </div>
        </div>
        
      </div>
      <div class="vector-parent6">
        <img class="group-child74" alt="" src="./public/vector-2.svg" />

        <div class="group-parent5">
          <div class="parent10">
            <p class="p40">الرقم الضريبي:300480975800003430365478</p>
            <p class="p41">المركز الرئيسي - جدة - شارع خالد بن الوليد</p>
            <p class="p42">شركة الحلول الذهبية لتقنية المعلومات</p>
            <img
              class="logo-dark-1-icon1"
              alt=""
              src="./public/logo-dark-1@2x.png"
            />
          </div>
          <div class="ellipse-parent1">
            <div class="group-child75"></div>
            <button class="facebook-1">
              <img class="vector-icon5" alt="" src="./public/vector3.svg" />
            </button>
          </div>
          <div class="ellipse-parent2">
            <div class="group-child75"></div>
            <button class="facebook-1">
              <img class="vector-icon6" alt="" src="./public/vector4.svg" />

              <img class="vector-icon7" alt="" src="./public/vector5.svg" />
            </button>
          </div>
          <div class="ellipse-parent3">
            <div class="group-child75"></div>
            <button class="facebook-1">
              <img class="vector-icon1" alt="" src="./public/vector6.svg" />

              <img class="vector-icon9" alt="" src="./public/vector7.svg" />

              <img class="vector-icon10" alt="" src="./public/vector8.svg" />
            </button>
          </div>
        </div>
        <div class="rectangle-parent15">
          <input class="group-child78" type="text" id="have_question" />

          <button class="group-child79" id="rectangleButton"></button>
          <p class="p43">لدي سؤال ؟</p>
          <b class="b10">بحث</b>
          <b class="b11">منتدي الشروحات</b>
        </div>
      </div>
      <div class="vector-parent7">
        <img class="group-child74" alt="" src="./public/vector-2.svg" />

        <div class="copyright-1-parent">
          <img class="copyright-1-icon" alt="" src="./public/copyright-1.svg" />

          <p class="p44">
            جميع حقوق النشر محفوظة لشركة الحلول الذهبية لتقنية المعلومات 2023
          </p>
        </div>
        <a class="oraxsoft" href="www.oraxsoft.com">OraxSoft</a>
        <a class="designed-by" href="www.oraxsoft.com">Designed by :</a>
      </div>
      <div class="rectangle-parent16">
        <div class="group-child81" id="round_7"></div>
        <a class="calendar-1" href="./Component.html">
          <img class="vector-icon11" alt="" src="./public/vector9.svg" />

          <img class="vector-icon12" alt="" src="./public/vector9.svg" />

          <img class="vector-icon13" alt="" src="./public/vector10.svg" />

          <img class="vector-icon14" alt="" src="./public/vector11.svg" />

          <img class="vector-icon15" alt="" src="./public/vector12.svg" />

          <img class="vector-icon16" alt="" src="./public/vector13.svg" />

          <img class="vector-icon17" alt="" src="./public/vector14.svg" />

          <img class="vector-icon18" alt="" src="./public/vector15.svg" />

          <img class="vector-icon19" alt="" src="./public/vector16.svg" />

          <img class="vector-icon20" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent">
          <img
            class="mask-group-icon"
            alt=""
            src="./public/mask-group@2x.png"
          />

          <p class="p45">ماهيتاب</p>
          <button class="arrow-down-3">
            <img class="vector-icon21" alt="" src="./public/vector18.svg" />
          </button>
        </div>
        <b class="b12">اللوحة الرئيسية</b>
      </div>
      <div class="rectangle-parent17">
        <div class="group-child82" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd34"> </a>
        <a class="folder-1" href="./Component14.html" id="folder1">
          <img class="vector-icon1" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-1"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon23" alt="" src="./public/vector20.svg" />

          <img class="vector-icon24" alt="" src="./public/vector21.svg" />

          <img class="vector-icon25" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-1" href="./Component12.html" id="coin1">
          <img class="vector-icon26" alt="" src="./public/vector23.svg" />

          <img class="vector-icon27" alt="" src="./public/vector24.svg" />

          <img class="vector-icon28" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-1" href="./Component11.html" id="task1">
          <img class="vector-icon29" alt="" src="./public/vector26.svg" />

          <img class="vector-icon30" alt="" src="./public/vector27.svg" />

          <img class="vector-icon31" alt="" src="./public/vector28.svg" />

          <img class="vector-icon32" alt="" src="./public/vector29.svg" />

          <img class="vector-icon33" alt="" src="./public/vector30.svg" />

          <img class="vector-icon34" alt="" src="./public/vector31.svg" />
        </a>
        <a class="document-copy-1" href="./Component10.html" id="documentCopy1">
          <img class="vector-icon35" alt="" src="./public/vector32.svg" />

          <img class="vector-icon36" alt="" src="./public/vector33.svg" />

          <img class="vector-icon37" alt="" src="./public/vector34.svg" />

          <img class="vector-icon38" alt="" src="./public/vector35.svg" />

          <img class="vector-icon39" alt="" src="./public/vector36.svg" />

          <img class="vector-icon40" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-1" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon1" alt="" src="./public/vector38.svg" />

          <img class="vector-icon42" alt="" src="./public/vector39.svg" />

          <img class="vector-icon43" alt="" src="./public/vector40.svg" />
        </a>
        <a class="document-text-1" href="./Component6.html" id="documentText1">
          <img class="vector-icon44" alt="" src="./public/vector41.svg" />

          <img class="vector-icon45" alt="" src="./public/vector42.svg" />

          <img class="vector-icon46" alt="" src="./public/vector43.svg" />

          <img class="vector-icon47" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-1" href="/" id="login1">
          <img class="vector-icon48" alt="" src="./public/vector45.svg" />

          <img class="vector-icon49" alt="" src="./public/vector46.svg" />

          <img class="vector-icon50" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-1" href="./Desktop48.html" id="element31">
          <img class="vector-icon51" alt="" src="./public/vector48.svg" />

          <img class="vector-icon52" alt="" src="./public/vector49.svg" />

          <img class="vector-icon53" alt="" src="./public/vector50.svg" />

          <img class="vector-icon54" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-parent1" data-animate-on-scroll>
          <img class="group-child83" alt="" src="./public/polygon-6.svg" />

          <div class="group-child84"></div>
          <img class="group-child85" alt="" src="./public/polygon-1.svg" />

          <div class="div27">اللوحة الرئيسية</div>
        </div>
      </div>
      <div class="rectangle-parent18">
        <div class="group-child86"></div>
        <img
          class="mask-group-icon1"
          alt=""
          src="./public/mask-group1@2x.png"
        />

        <b class="b13">ماهيتاب عادل</b>
        <img class="group-child87" alt="" src="./public/vector-63.svg" />

        <img class="group-child88" alt="" src="./public/vector-64.svg" />

        <img class="group-child89" alt="" src="./public/vector-65.svg" />

        <a class="a" href="./Desktop34.html" id="link">الملف الشخصي</a>
        <a class="a1" href="./Component15.html" id="link1">تفاصيل الشركة</a>
        <a class="a2" href="./Desktop52.html" id="link2">الأعلانات</a>
      </div>
    </div>

    <script>
      var text78 = document.getElementById("text78");
      if (text78) {
        text78.addEventListener("click", function (e) {
          window.location.href = "./Component8.html";
        });
      }
      
      var rectangleButton = document.getElementById("rectangleButton");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "Desktop53.html";
        });
      }
      
      var link = document.getElementById("link");
      if (link) {
        link.addEventListener("click", function (e) {
          window.location.href = "./Desktop34.html";
        });
      }
      
      var link1 = document.getElementById("link1");
      if (link1) {
        link1.addEventListener("click", function (e) {
          window.location.href = "./Component15.html";
        });
      }
      
      var link2 = document.getElementById("link2");
      if (link2) {
        link2.addEventListener("click", function (e) {
          window.location.href = "./Desktop52.html";
        });
      }
      
      var desktop53 = document.getElementById("desktop53");
      if (desktop53) {
        desktop53.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
