<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Desktop48.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=TheSansArab:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-48" id="desktop48">
      <div class="rectangle-parent68">
        <div class="group-child304" id="round_13"></div>
        <div class="rectangle-parent69">
          <div class="group-child305" id="round_10"></div>
          <p class="p115">صباح الخير ماهيتاب !</p>
          <img
            class="hello-rafiki-1-icon3"
            alt=""
            src="./public/hellorafiki-1.svg"
          />
        </div>
        <div class="rectangle-parent70">
          <div class="group-child306" id="round_11"></div>
          <div class="parent53">
            <p class="p116">تم الأنتهاء</p>
            <p class="text15"></p>
            <b class="b83">72</b>
          </div>
          <div class="parent54">
            <p class="p116">ألغيت</p>
            <p class="text16"></p>
            <b class="b84">72</b>
          </div>
          <div class="text-parent4">
            <p class="text17"></p>
            <p class="p116">في الانتظار</p>
            <b class="b85">72</b>
          </div>
          <div class="parent55">
            <p class="p116">لم يبدأ</p>
            <p class="text18"></p>
            <b class="b86">72</b>
          </div>
          <div class="text-parent5">
            <p class="text19"></p>
            <p class="p116">في تقدم</p>
            <b class="b87">72</b>
          </div>
          <p class="p121">ملخص المشاريع</p>
        </div>
        <div class="rectangle-parent71">
          <div class="group-child307"></div>
          <img class="group-child308" alt="" src="./public/vector-22.svg" />

          <img class="group-child309" alt="" src="./public/group-131.svg" />

          <img class="group-child310" alt="" src="./public/vector-33.svg" />

          <img class="group-child311" alt="" src="./public/vector-53.svg" />

          <img class="group-child312" alt="" src="./public/vector-58.svg" />

          <img class="group-child313" alt="" src="./public/vector-28.svg" />

          <img class="group-child314" alt="" src="./public/vector-33.svg" />

          <img class="group-child315" alt="" src="./public/vector-53.svg" />

          <img class="group-child316" alt="" src="./public/vector-58.svg" />

          <img class="group-child317" alt="" src="./public/vector-28.svg" />

          <img class="group-child318" alt="" src="./public/vector-33.svg" />

          <img class="group-child319" alt="" src="./public/vector-53.svg" />

          <img class="group-child320" alt="" src="./public/vector-58.svg" />

          <img class="group-child321" alt="" src="./public/vector-28.svg" />

          <img class="group-child322" alt="" src="./public/vector-33.svg" />

          <img class="group-child323" alt="" src="./public/vector-53.svg" />

          <img class="group-child324" alt="" src="./public/vector-58.svg" />

          <img class="group-child325" alt="" src="./public/vector-28.svg" />

          <img class="group-child326" alt="" src="./public/vector-33.svg" />

          <img class="group-child327" alt="" src="./public/vector-53.svg" />

          <img class="group-child328" alt="" src="./public/vector-58.svg" />

          <img class="group-child329" alt="" src="./public/vector-28.svg" />

          <img class="group-child330" alt="" src="./public/vector-33.svg" />

          <img class="group-child331" alt="" src="./public/vector-53.svg" />

          <img class="group-child332" alt="" src="./public/vector-58.svg" />

          <img class="group-child333" alt="" src="./public/vector-28.svg" />

          <img class="group-child334" alt="" src="./public/vector-33.svg" />

          <img class="group-child335" alt="" src="./public/vector-53.svg" />

          <img class="group-child336" alt="" src="./public/vector-58.svg" />

          <img class="group-child337" alt="" src="./public/vector-28.svg" />

          <img class="group-child338" alt="" src="./public/vector-33.svg" />

          <img class="group-child339" alt="" src="./public/vector-53.svg" />

          <img class="group-child340" alt="" src="./public/vector-58.svg" />

          <img class="group-child341" alt="" src="./public/vector-28.svg" />

          <div class="parent56">
            <div class="div91">0</div>
            <div class="div92">500</div>
            <div class="div93">1000</div>
            <div class="div94">1500</div>
            <div class="div95">2000</div>
            <div class="div96">2500</div>
            <div class="div97">3000</div>
            <div class="div98">3500</div>
          </div>
          <img class="group-child342" alt="" src="./public/vector-33.svg" />

          <img class="group-child343" alt="" src="./public/vector-53.svg" />

          <img class="group-child344" alt="" src="./public/vector-58.svg" />

          <img class="group-child345" alt="" src="./public/vector-28.svg" />

          <div class="apr-parent1">
            <div class="apr3">Apr</div>
            <div class="mar3">Mar</div>
            <div class="div98">Jan</div>
            <div class="feb3">Feb</div>
            <div class="may3">May</div>
            <div class="jun3">Jun</div>
            <div class="jul3">Jul</div>
            <div class="aug3">Aug</div>
            <div class="sep3">Sep</div>
          </div>
          <div class="group-parent19">
            <div class="paid-parent1">
              <div class="paid3">Paid</div>
              <img
                class="group-child346"
                alt=""
                src="./public/ellipse-48.svg"
              />
            </div>
            <div class="partially-paid-parent1">
              <div class="paid3">Partially Paid</div>
              <div class="group-child347"></div>
            </div>
            <div class="overdue-parent1">
              <p class="overdue3">Overdue</p>
              <div class="group-child348"></div>
            </div>
            <div class="unpaid-parent1">
              <div class="paid3">Unpaid</div>
              <div class="group-child349"></div>
            </div>
          </div>
          <p class="p122">معلومات سريعة عن الفواتير</p>
          <div class="parent57">
            <div class="div99">هذا العام</div>
            <div class="div100">ريال سعودي</div>
            <select class="arrow-down-16">
              <option value="يورو">ريال سعودي</option>
              <option value="دينار">دولار</option>
            </select>
            <select class="arrow-down-28">
              <option value="2022">هذا العام</option>
              <option value="2020">2021</option>
            </select>
          </div>
        </div>
        <div class="rectangle-parent72">
          <div class="group-child350" id="round_12"></div>
          <b class="b88">معلومات سريعة</b>
          <div class="group-parent20">
            <div class="parent58">
              <div class="div98">25% متأخر</div>
              <img
                class="group-child351"
                alt=""
                src="./public/ellipse-49.svg"
              />
            </div>
            <div class="parent59">
              <div class="div98">25% مدفوع جزئياً</div>
              <img
                class="group-child352"
                alt=""
                src="./public/ellipse-50.svg"
              />
            </div>
            <div class="group-parent21">
              <div class="ellipse-parent16">
                <div class="group-child353"></div>
                <div class="vector-parent28">
                  <img
                    class="group-child354"
                    alt=""
                    src="./public/ellipse-501.svg"
                  />

                  <div class="group-child355"></div>
                </div>
                <div class="vector-parent29">
                  <img
                    class="group-child356"
                    alt=""
                    src="./public/ellipse-481.svg"
                  />

                  <div class="group-child357"></div>
                </div>
                <div class="vector-parent30">
                  <img
                    class="group-child358"
                    alt=""
                    src="./public/ellipse-47.svg"
                  />

                  <div class="group-child359"></div>
                </div>
                <div class="vector-parent31">
                  <img
                    class="group-child360"
                    alt=""
                    src="./public/ellipse-491.svg"
                  />

                  <div class="group-child361"></div>
                </div>
              </div>
              <div class="ellipse-parent17">
                <div class="group-child362"></div>
                <p class="p123">100%</p>
              </div>
            </div>
            <div class="parent60">
              <div class="div98">25% مدفوع</div>
              <img
                class="group-child363"
                alt=""
                src="./public/ellipse-48.svg"
              />
            </div>
            <div class="ellipse-parent18">
              <img
                class="group-child364"
                alt=""
                src="./public/ellipse-51.svg"
              />

              <div class="div98">25% غير مدفوع</div>
            </div>
          </div>
          <div class="group-parent22">
            <div class="vector-parent32">
              <img
                class="group-child365"
                alt=""
                src="./public/vector-114.svg"
              />

              <div class="div105">25%</div>
            </div>
            <div class="vector-parent33">
              <img
                class="group-child365"
                alt=""
                src="./public/vector-113.svg"
              />

              <div class="div106">25%</div>
            </div>
            <div class="vector-parent34">
              <img
                class="group-child365"
                alt=""
                src="./public/vector-115.svg"
              />

              <div class="div107">25%</div>
            </div>
            <div class="vector-parent35">
              <img
                class="group-child368"
                alt=""
                src="./public/vector-116.svg"
              />

              <div class="div108">25%</div>
            </div>
          </div>
          <div class="polygon-parent10">
            <img class="group-child369" alt="" src="./public/polygon-2.svg" />

            <p class="p124">مدفوع</p>
            <div class="div109">( 1/3 )</div>
          </div>
          <div class="polygon-parent11">
            <img class="group-child370" alt="" src="./public/polygon-3.svg" />

            <p class="p125">غير مدفوع</p>
            <div class="div110">( 1/3 )</div>
          </div>
          <div class="polygon-parent12">
            <img class="group-child370" alt="" src="./public/polygon-4.svg" />

            <div class="div111">متأخر</div>
            <div class="div112">( 1/3 )</div>
          </div>
          <div class="parent61">
            <p class="p126">مدفوع جزئياً</p>
            <img class="group-child370" alt="" src="./public/polygon-5.svg" />

            <div class="div112">( 1/3 )</div>
          </div>
          <div class="group-parent23">
            <button class="parent62">
              <h1 class="h133">ريال سعودي</h1>
              <select class="arrow-down-17">
                <option value="دولار امريكي">ريال سعودي</option>
                <option value="دينار كويتي">يورو</option>
              </select>
            </button>
            <button class="parent63">
              <div class="div114">هذا العام</div>
              <select class="arrow-down-28">
                <option value="2022">هذا العام</option>
                <option value="2021">2020</option>
              </select>
            </button>
          </div>
        </div>
        <div class="rectangle-parent73">
          <div class="group-child373"></div>
          <b class="b89">تذاكر الدعم الفني</b>
          <div class="parent64">
            <p class="p127">في تقدم</p>
            <select class="arrow-down-210">
              <option value="2">1</option>
              <option value="4">3</option>
            </select>
          </div>
          <div class="parent65">
            <h1 class="h134">الرد الأخير</h1>
            <h1 class="h135">الحالة</h1>
            <h1 class="h136">أفضلية</h1>
            <h1 class="h137">مشروع</h1>
            <h1 class="h138">قسم</h1>
            <h1 class="h139">جهة الاتصال</h1>
            <h1 class="h140">موضوع</h1>
            <h1 class="h141">تذكرة</h1>
          </div>
          <div class="rectangle-parent74">
            <div class="group-child374"></div>
            <p class="p128">#12345</p>
            <p class="p129">تذكرة عشوائية</p>
            <p class="usertemp8">Usertemp</p>
            <p class="oraxlite8">OraxLite</p>
            <p class="test8">Test</p>
            <p class="p130">منخفض</p>
            <p class="p131">مغلق</p>
            <p class="p132">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent75">
            <div class="group-child375"></div>
            <p class="p133">#12345</p>
            <p class="p134">تذكرة عشوائية</p>
            <p class="usertemp9">Usertemp</p>
            <p class="oraxlite9">OraxLite</p>
            <p class="test9">Test</p>
            <p class="p135">منخفض</p>
            <p class="p136">مغلق</p>
            <p class="p137">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent76">
            <div class="group-child375"></div>
            <p class="p133">#12345</p>
            <p class="p134">تذكرة عشوائية</p>
            <p class="usertemp9">Usertemp</p>
            <p class="oraxlite9">OraxLite</p>
            <p class="test9">Test</p>
            <p class="p135">منخفض</p>
            <p class="p136">مغلق</p>
            <p class="p137">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent77">
            <div class="group-child377"></div>
            <p class="p128">#12345</p>
            <p class="p129">تذكرة عشوائية</p>
            <p class="usertemp8">Usertemp</p>
            <p class="oraxlite8">OraxLite</p>
            <p class="test8">Test</p>
            <p class="p130">منخفض</p>
            <p class="p131">مغلق</p>
            <p class="p132">23 أبريل 2023</p>
          </div>
          <div class="rectangle-parent78">
            <div class="group-child378"></div>
            <b class="b90" id="text78">إنشاء تذكرة طلب دعم فني</b>
          </div>
          <div class="group-parent24">
            <div class="rectangle-parent79">
              <div class="group-child379"></div>
              <p class="p148">1</p>
            </div>
            <div class="rectangle-parent80">
              <div class="group-child380"></div>
              <p class="p148">2</p>
            </div>
            <div class="rectangle-parent81">
              <div class="group-child379"></div>
              <p class="p150">3</p>
            </div>
            <button class="arrow-square-right-22">
              <img class="vector-icon238" alt="" src="./public/vector.svg" />

              <img class="vector-icon239" alt="" src="./public/vector1.svg" />
            </button>
            <button class="arrow-square-left-22">
              <img class="vector-icon238" alt="" src="./public/vector.svg" />

              <img class="vector-icon241" alt="" src="./public/vector2.svg" />
            </button>
          </div>
        </div>
      </div>
      <div class="vector-parent36">
        <img class="group-child382" alt="" src="./public/vector-2.svg" />

        <div class="group-parent25">
          <div class="parent66">
            <p class="p151">الرقم الضريبي:300480975800003430365478</p>
            <p class="p152">المركز الرئيسي - جدة - شارع خالد بن الوليد</p>
            <p class="p153">شركة الحلول الذهبية لتقنية المعلومات</p>
            <img
              class="logo-dark-1-icon4"
              alt=""
              src="./public/logo-dark-1@2x.png"
            />
          </div>
          <div class="ellipse-parent19">
            <div class="group-child383"></div>
            <button class="facebook-13">
              <img class="vector-icon242" alt="" src="./public/vector3.svg" />
            </button>
          </div>
          <div class="ellipse-parent20">
            <div class="group-child383"></div>
            <button class="facebook-13">
              <img class="vector-icon243" alt="" src="./public/vector4.svg" />

              <img class="vector-icon244" alt="" src="./public/vector5.svg" />
            </button>
          </div>
          <div class="ellipse-parent21">
            <div class="group-child383"></div>
            <button class="facebook-13">
              <img class="vector-icon238" alt="" src="./public/vector6.svg" />

              <img class="vector-icon246" alt="" src="./public/vector7.svg" />

              <img class="vector-icon247" alt="" src="./public/vector8.svg" />
            </button>
          </div>
        </div>
        <div class="rectangle-parent82">
          <input class="group-child386" type="text" id="have_question" />

          <button class="group-child387" id="rectangleButton"></button>
          <p class="p154">لدي سؤال ؟</p>
          <b class="b91">بحث</b>
          <b class="b92">منتدي الشروحات</b>
        </div>
      </div>
      <div class="vector-parent37">
        <img class="group-child382" alt="" src="./public/vector-2.svg" />

        <div class="copyright-1-parent1">
          <img
            class="copyright-1-icon3"
            alt=""
            src="./public/copyright-1.svg"
          />

          <p class="p155">
            جميع حقوق النشر محفوظة لشركة الحلول الذهبية لتقنية المعلومات 2023
          </p>
        </div>
        <a class="oraxsoft3" href="www.oraxsoft.com">OraxSoft</a>
        <a class="designed-by3" href="www.oraxsoft.com">Designed by :</a>
      </div>
      <div class="rectangle-parent83">
        <div class="group-child389" id="round_7"></div>
        <a class="calendar-14" href="./Component.html">
          <img class="vector-icon248" alt="" src="./public/vector9.svg" />

          <img class="vector-icon249" alt="" src="./public/vector9.svg" />

          <img class="vector-icon250" alt="" src="./public/vector10.svg" />

          <img class="vector-icon251" alt="" src="./public/vector11.svg" />

          <img class="vector-icon252" alt="" src="./public/vector12.svg" />

          <img class="vector-icon253" alt="" src="./public/vector13.svg" />

          <img class="vector-icon254" alt="" src="./public/vector14.svg" />

          <img class="vector-icon255" alt="" src="./public/vector15.svg" />

          <img class="vector-icon256" alt="" src="./public/vector16.svg" />

          <img class="vector-icon257" alt="" src="./public/vector17.svg" />
        </a>
        <div class="mask-group-parent3">
          <img
            class="mask-group-icon7"
            alt=""
            src="./public/mask-group@2x.png"
          />

          <p class="p156">ماهيتاب</p>
          <button class="arrow-down-33">
            <img class="vector-icon258" alt="" src="./public/vector18.svg" />
          </button>
        </div>
        <b class="b93">اللوحة الرئيسية</b>
      </div>
      <div class="rectangle-parent84">
        <div class="group-child390" id="round_8"></div>
        <a class="ef98ad7010f26031b617516aa4cd345"> </a>
        <a class="folder-15" href="./Component14.html" id="folder1">
          <img class="vector-icon238" alt="" src="./public/vector19.svg" />
        </a>
        <a
          class="message-text-1-15"
          href="./Component13.html"
          id="messageText11"
        >
          <img class="vector-icon260" alt="" src="./public/vector20.svg" />

          <img class="vector-icon261" alt="" src="./public/vector21.svg" />

          <img class="vector-icon262" alt="" src="./public/vector22.svg" />
        </a>
        <a class="coin-15" href="./Component12.html" id="coin1">
          <img class="vector-icon263" alt="" src="./public/vector23.svg" />

          <img class="vector-icon264" alt="" src="./public/vector24.svg" />

          <img class="vector-icon265" alt="" src="./public/vector25.svg" />
        </a>
        <a class="task-15" href="./Component11.html" id="task1">
          <img class="vector-icon266" alt="" src="./public/vector26.svg" />

          <img class="vector-icon267" alt="" src="./public/vector27.svg" />

          <img class="vector-icon268" alt="" src="./public/vector28.svg" />

          <img class="vector-icon269" alt="" src="./public/vector29.svg" />

          <img class="vector-icon270" alt="" src="./public/vector30.svg" />

          <img class="vector-icon271" alt="" src="./public/vector31.svg" />
        </a>
        <a
          class="document-copy-15"
          href="./Component10.html"
          id="documentCopy1"
        >
          <img class="vector-icon272" alt="" src="./public/vector32.svg" />

          <img class="vector-icon273" alt="" src="./public/vector33.svg" />

          <img class="vector-icon274" alt="" src="./public/vector34.svg" />

          <img class="vector-icon275" alt="" src="./public/vector35.svg" />

          <img class="vector-icon276" alt="" src="./public/vector93.svg" />

          <img class="vector-icon277" alt="" src="./public/vector37.svg" />
        </a>
        <a class="help-circle-15" href="./Component9.html" id="helpCircle1">
          <img class="vector-icon238" alt="" src="./public/vector38.svg" />

          <img class="vector-icon279" alt="" src="./public/vector94.svg" />

          <img class="vector-icon280" alt="" src="./public/vector40.svg" />
        </a>
        <a class="document-text-15" href="./Component6.html" id="documentText1">
          <img class="vector-icon281" alt="" src="./public/vector41.svg" />

          <img class="vector-icon282" alt="" src="./public/vector42.svg" />

          <img class="vector-icon283" alt="" src="./public/vector43.svg" />

          <img class="vector-icon284" alt="" src="./public/vector44.svg" />
        </a>
        <a class="login-15" href="/" id="login1">
          <img class="vector-icon285" alt="" src="./public/vector45.svg" />

          <img class="vector-icon286" alt="" src="./public/vector46.svg" />

          <img class="vector-icon287" alt="" src="./public/vector47.svg" />
        </a>
        <a class="element-3-15" href="Desktop48.html" id="element31">
          <img class="vector-icon288" alt="" src="./public/vector48.svg" />

          <img class="vector-icon289" alt="" src="./public/vector49.svg" />

          <img class="vector-icon290" alt="" src="./public/vector50.svg" />

          <img class="vector-icon291" alt="" src="./public/vector51.svg" />
        </a>
        <div class="polygon-parent13" data-animate-on-scroll>
          <img class="group-child391" alt="" src="./public/polygon-6.svg" />

          <div class="group-child392"></div>
          <img class="group-child393" alt="" src="./public/polygon-1.svg" />

          <div class="div115">اللوحة الرئيسية</div>
        </div>
      </div>
    </div>

    <script>
      var text78 = document.getElementById("text78");
      if (text78) {
        text78.addEventListener("click", function (e) {
          window.location.href = "./Component8.html";
        });
      }
      
      var rectangleButton = document.getElementById("rectangleButton");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var folder1 = document.getElementById("folder1");
      if (folder1) {
        folder1.addEventListener("click", function (e) {
          window.location.href = "./Component14.html";
        });
      }
      
      var messageText11 = document.getElementById("messageText11");
      if (messageText11) {
        messageText11.addEventListener("click", function (e) {
          window.location.href = "./Component13.html";
        });
      }
      
      var coin1 = document.getElementById("coin1");
      if (coin1) {
        coin1.addEventListener("click", function (e) {
          window.location.href = "./Component12.html";
        });
      }
      
      var task1 = document.getElementById("task1");
      if (task1) {
        task1.addEventListener("click", function (e) {
          window.location.href = "./Component11.html";
        });
      }
      
      var documentCopy1 = document.getElementById("documentCopy1");
      if (documentCopy1) {
        documentCopy1.addEventListener("click", function (e) {
          window.location.href = "./Component10.html";
        });
      }
      
      var helpCircle1 = document.getElementById("helpCircle1");
      if (helpCircle1) {
        helpCircle1.addEventListener("click", function (e) {
          window.location.href = "./Component9.html";
        });
      }
      
      var documentText1 = document.getElementById("documentText1");
      if (documentText1) {
        documentText1.addEventListener("click", function (e) {
          window.location.href = "./Component6.html";
        });
      }
      
      var login1 = document.getElementById("login1");
      if (login1) {
        login1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var element31 = document.getElementById("element31");
      if (element31) {
        element31.addEventListener("click", function (e) {
          window.location.href = "Desktop48.html";
        });
      }
      
      var desktop48 = document.getElementById("desktop48");
      if (desktop48) {
        desktop48.addEventListener("click", function (e) {
          window.location.href = "./Component3.html";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
