@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  to {
    transform: translateZ(0) rotateY(0);
  }
}
.group-child304,
.group-child305 {
  position: absolute;
  top: 13px;
  left: 0;
  border-radius: var(--br-31xl) 0 var(--br-31xl) 0;
  background-color: var(--color-aliceblue);
  width: 1275px;
  height: 1711px;
}
.group-child305 {
  top: 88px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 546px;
  height: 176px;
}
.p115 {
  margin: 0;
  position: absolute;
  top: 148px;
  left: 335px;
  font-weight: 600;
}
.hello-rafiki-1-icon3 {
  position: absolute;
  top: 0;
  left: 34px;
  width: 274px;
  height: 283px;
  overflow: hidden;
}
.group-child306,
.rectangle-parent69 {
  position: absolute;
  top: 0;
  left: 711px;
  width: 546px;
  height: 283px;
}
.group-child306 {
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 672px;
  height: 176px;
}
.p116 {
  margin: 0;
  top: 34px;
  left: 0;
  font-weight: 500;
  font-family: var(--font-cairo);
}
.b83,
.p116,
.text15 {
  position: absolute;
}
.text15 {
  margin: 0;
  top: 39px;
  left: 84px;
  font-weight: 700;
}
.b83 {
  top: 0;
  left: 81px;
  color: var(--color-crimson);
}
.parent53 {
  top: 85px;
  left: 30px;
  width: 114px;
  height: 71px;
}
.b84,
.parent53,
.text16 {
  position: absolute;
}
.text16 {
  margin: 0;
  top: 39px;
  left: 46px;
  font-weight: 700;
}
.b84 {
  top: 0;
  left: 42px;
  color: var(--color-crimson);
}
.parent54 {
  top: 85px;
  left: 326px;
  width: 76px;
  height: 71px;
}
.b85,
.parent54,
.text17 {
  position: absolute;
}
.text17 {
  margin: 0;
  top: 39px;
  left: 91px;
  font-weight: 700;
}
.b85 {
  top: 0;
  left: 86px;
  color: var(--color-crimson);
}
.text-parent4 {
  top: 85px;
  left: 174px;
  width: 121px;
  height: 71px;
}
.b86,
.text-parent4,
.text18 {
  position: absolute;
}
.text18 {
  margin: 0;
  top: 39px;
  left: 52px;
  font-weight: 700;
}
.b86 {
  top: 0;
  left: 51px;
  color: var(--color-crimson);
}
.parent55 {
  top: 85px;
  left: 433px;
  width: 82px;
  height: 71px;
}
.b87,
.parent55,
.text19 {
  position: absolute;
}
.text19 {
  margin: 0;
  top: 39px;
  left: 77px;
  font-weight: 700;
}
.b87 {
  top: 0;
  left: 64px;
  color: var(--color-crimson);
}
.text-parent5 {
  position: absolute;
  top: 85px;
  left: 545px;
  width: 107px;
  height: 71px;
}
.p121 {
  margin: 0;
  position: absolute;
  top: 18px;
  left: 470px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-cairo);
  color: var(--color-steelblue-100);
}
.rectangle-parent70 {
  position: absolute;
  top: 88px;
  left: 18px;
  width: 672px;
  height: 176px;
  color: var(--color-darkslategray);
  font-family: var(--font-thesansarab);
}
.group-child307 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 742px;
  height: 654px;
}
.group-child308,
.group-child309 {
  position: absolute;
  top: 530px;
  left: 92.11px;
  width: 619.89px;
  height: 4px;
}
.group-child309 {
  top: 93px;
  left: 93px;
  width: 619px;
  height: 380px;
}
.group-child310,
.group-child311 {
  position: absolute;
  top: 407px;
  left: 117px;
  width: 10px;
  height: 125px;
}
.group-child311 {
  top: 301px;
  left: 147.22px;
  height: 231px;
}
.group-child312,
.group-child313 {
  position: absolute;
  top: 371px;
  left: 132px;
  width: 10.22px;
  height: 160.64px;
}
.group-child313 {
  top: 461px;
  left: 102px;
  width: 10px;
  height: 71px;
}
.group-child314,
.group-child315 {
  position: absolute;
  top: 407px;
  left: 187px;
  width: 10px;
  height: 125px;
}
.group-child315 {
  top: 301px;
  left: 217.22px;
  height: 231px;
}
.group-child316,
.group-child317 {
  position: absolute;
  top: 371px;
  left: 202px;
  width: 10.22px;
  height: 160.64px;
}
.group-child317 {
  top: 461px;
  left: 172px;
  width: 10px;
  height: 71px;
}
.group-child318,
.group-child319 {
  position: absolute;
  top: 405px;
  left: 672px;
  width: 10px;
  height: 125px;
}
.group-child319 {
  top: 299px;
  left: 702.22px;
  height: 231px;
}
.group-child320,
.group-child321 {
  position: absolute;
  top: 370px;
  left: 687px;
  width: 10.22px;
  height: 160.64px;
}
.group-child321 {
  top: 459px;
  left: 657px;
  width: 10px;
  height: 71px;
}
.group-child322,
.group-child323 {
  position: absolute;
  top: 406px;
  left: 537px;
  width: 10px;
  height: 125px;
}
.group-child323 {
  top: 300px;
  left: 567.22px;
  height: 231px;
}
.group-child324,
.group-child325 {
  position: absolute;
  top: 370px;
  left: 552px;
  width: 10.22px;
  height: 160.64px;
}
.group-child325 {
  top: 460px;
  left: 522px;
  width: 10px;
  height: 71px;
}
.group-child326,
.group-child327 {
  position: absolute;
  top: 406px;
  left: 467px;
  width: 10px;
  height: 125px;
}
.group-child327 {
  top: 300px;
  left: 497.22px;
  height: 231px;
}
.group-child328,
.group-child329 {
  position: absolute;
  top: 370px;
  left: 482px;
  width: 10.22px;
  height: 160.64px;
}
.group-child329 {
  top: 460px;
  left: 452px;
  width: 10px;
  height: 71px;
}
.group-child330,
.group-child331 {
  position: absolute;
  top: 406px;
  left: 397px;
  width: 10px;
  height: 125px;
}
.group-child331 {
  top: 301px;
  left: 427.22px;
  height: 231px;
}
.group-child332,
.group-child333 {
  position: absolute;
  top: 371px;
  left: 412px;
  width: 10.22px;
  height: 160.64px;
}
.group-child333 {
  top: 460px;
  left: 382px;
  width: 10px;
  height: 71px;
}
.group-child334,
.group-child335 {
  position: absolute;
  top: 406px;
  left: 327px;
  width: 10px;
  height: 125px;
}
.group-child335 {
  top: 301px;
  left: 357.22px;
  height: 231px;
}
.group-child336,
.group-child337 {
  position: absolute;
  top: 371px;
  left: 342px;
  width: 10.22px;
  height: 160.64px;
}
.group-child337 {
  top: 460px;
  left: 312px;
  width: 10px;
  height: 71px;
}
.group-child338,
.group-child339 {
  position: absolute;
  top: 407px;
  left: 257px;
  width: 10px;
  height: 125px;
}
.group-child339 {
  top: 301px;
  left: 287.22px;
  height: 231px;
}
.group-child340,
.group-child341 {
  position: absolute;
  top: 371px;
  left: 272px;
  width: 10.22px;
  height: 160.64px;
}
.group-child341 {
  top: 461px;
  left: 242px;
  width: 10px;
  height: 71px;
}
.div91,
.div92 {
  position: absolute;
  top: 378.01px;
  left: 15px;
}
.div92 {
  top: 324px;
  left: 5px;
}
.div93,
.div94,
.div95 {
  position: absolute;
  top: 270px;
  left: 1px;
}
.div94,
.div95 {
  top: 216px;
}
.div95 {
  top: 162px;
  left: 0;
}
.div96,
.div97,
.div98,
.parent56 {
  position: absolute;
  top: 108px;
  left: 0;
}
.div97,
.div98,
.parent56 {
  top: 54px;
}
.div98,
.parent56 {
  top: 0;
}
.parent56 {
  top: 84px;
  left: 22px;
  width: 37px;
  height: 408.01px;
}
.group-child342,
.group-child343 {
  position: absolute;
  top: 406px;
  left: 607px;
  width: 10px;
  height: 125px;
}
.group-child343 {
  top: 301px;
  left: 637.22px;
  height: 231px;
}
.group-child344,
.group-child345 {
  position: absolute;
  top: 371px;
  left: 622px;
  width: 10.22px;
  height: 160.64px;
}
.group-child345 {
  top: 460px;
  left: 592px;
  width: 10px;
  height: 71px;
}
.apr3,
.mar3 {
  position: absolute;
  top: 0;
  left: 204px;
}
.mar3 {
  left: 133px;
}
.feb3,
.jul3,
.jun3,
.may3 {
  position: absolute;
  top: 0;
  left: 64px;
}
.jul3,
.jun3,
.may3 {
  left: 274px;
}
.jul3,
.jun3 {
  left: 346px;
}
.jul3 {
  left: 418px;
}
.apr-parent1,
.aug3,
.sep3 {
  position: absolute;
  top: 0;
  left: 498px;
}
.apr-parent1,
.sep3 {
  left: 560px;
}
.apr-parent1 {
  top: 545px;
  left: 122px;
  width: 586px;
  height: 30px;
}
.group-child346,
.paid3 {
  position: absolute;
  top: 0;
  left: 25px;
}
.group-child346 {
  top: 1px;
  left: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.group-child347,
.paid-parent1 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 56px;
  height: 18px;
}
.group-child347 {
  border-radius: 50%;
  background-color: var(--color-lavender);
  width: 15px;
  height: 15px;
}
.partially-paid-parent1 {
  position: absolute;
  top: 1px;
  left: 66px;
  width: 118px;
  height: 18px;
}
.overdue3 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 25px;
}
.group-child348 {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  width: 15px;
  height: 15px;
}
.overdue-parent1 {
  position: absolute;
  top: 0;
  left: 280px;
  width: 90px;
  height: 19px;
  font-size: var(--font-size-base);
}
.group-child349 {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  width: 15px;
  height: 15px;
}
.group-parent19,
.unpaid-parent1 {
  position: absolute;
  top: 1px;
  left: 194px;
  width: 76px;
  height: 18px;
}
.group-parent19 {
  top: 602px;
  left: 203px;
  width: 370px;
  height: 19px;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.p122 {
  margin: 0;
  position: absolute;
  top: 23px;
  left: 338px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
}
.div100,
.div99 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.div100 {
  top: 3px;
  left: 82px;
  font-size: var(--font-size-xs);
}
.arrow-down-16,
.arrow-down-28 {
  position: absolute;
  top: 10px;
  left: 151px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.arrow-down-28 {
  left: 65px;
}
.parent57 {
  position: absolute;
  top: 41px;
  left: 151px;
  width: 163px;
  height: 28px;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
}
.rectangle-parent71 {
  position: absolute;
  top: 304px;
  left: 515px;
  width: 742px;
  height: 654px;
  font-size: var(--font-size-base);
}
.group-child350 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 461px;
  height: 654px;
}
.b88 {
  position: absolute;
  top: 23px;
  left: 220px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
}
.group-child351 {
  position: absolute;
  top: 7px;
  left: 73px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.group-child352,
.parent58 {
  position: absolute;
  top: 0;
  left: 315px;
  width: 88px;
  height: 28px;
}
.group-child352 {
  top: 7px;
  left: 110px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.group-child353,
.parent59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 28px;
}
.group-child353 {
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 200px;
  height: 197.83px;
}
.group-child354,
.group-child355 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100px;
  height: 115px;
}
.group-child355 {
  top: 37.33px;
  left: 67px;
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue);
  width: 37.33px;
  height: 33.2px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.vector-parent28 {
  position: absolute;
  top: 80px;
  left: 100px;
  width: 100.2px;
  height: 118px;
}
.group-child356,
.group-child357 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 114.72px;
}
.group-child357 {
  top: 79px;
  left: 83.61px;
  border-radius: var(--br-xl);
  background-color: var(--color-turquoise);
  width: 37.33px;
  height: 33.2px;
  transform: rotate(7.92deg);
  transform-origin: 0 0;
}
.vector-parent29 {
  position: absolute;
  top: 83px;
  left: 0;
  width: 120.59px;
  height: 117.02px;
}
.group-child358,
.group-child359 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 116px;
}
.group-child359 {
  top: 117.33px;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  width: 37.33px;
  height: 33.2px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.group-child360,
.group-child361,
.vector-parent30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 117.37px;
}
.group-child360,
.group-child361 {
  left: 19px;
  height: 116px;
}
.group-child361 {
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 37px;
  height: 32px;
}
.vector-parent31 {
  position: absolute;
  top: 0;
  left: 81px;
  width: 119px;
  height: 116px;
}
.ellipse-parent16,
.group-child362 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200.2px;
  height: 200.02px;
}
.group-child362 {
  border-radius: 50%;
  background-color: var(--color-white);
  width: 133.33px;
  height: 132.77px;
}
.p123 {
  margin: 0;
  position: absolute;
  top: 59.13px;
  left: 44.67px;
  font-weight: 600;
}
.ellipse-parent17,
.group-parent21 {
  position: absolute;
  top: 31.87px;
  left: 33.33px;
  width: 133.33px;
  height: 132.77px;
}
.group-parent21 {
  top: 9px;
  left: 125px;
  width: 200.2px;
  height: 200.02px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.group-child363 {
  position: absolute;
  top: 5px;
  left: 77px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.group-child364,
.parent60 {
  position: absolute;
  top: 193px;
  left: 317px;
  width: 92px;
  height: 28px;
}
.group-child364 {
  top: 5px;
  left: 101px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.ellipse-parent18 {
  position: absolute;
  top: 193px;
  left: 9px;
  width: 116px;
  height: 28px;
}
.group-child365,
.group-parent20 {
  position: absolute;
  top: 160px;
  left: 20px;
  width: 409px;
  height: 221px;
}
.group-child365 {
  top: 2.25px;
  left: -5px;
  width: 107px;
  height: 10px;
}
.div105,
.vector-parent32 {
  position: absolute;
  top: 0;
  left: 44px;
}
.vector-parent32 {
  left: 0;
  width: 97px;
  height: 15px;
}
.div106,
.vector-parent33 {
  position: absolute;
  top: 0;
  left: 32px;
}
.vector-parent33 {
  left: 97px;
  width: 97px;
  height: 15px;
}
.div107 {
  position: absolute;
  top: 0;
  left: 28px;
}
.group-child368,
.vector-parent34 {
  position: absolute;
  top: 0;
  left: 184px;
  width: 97px;
  height: 15px;
}
.group-child368 {
  top: 2px;
  left: -5px;
  width: 107px;
  height: 10px;
}
.div108 {
  position: absolute;
  top: 0;
  left: 42px;
}
.group-parent22,
.vector-parent35 {
  position: absolute;
  top: 0;
  left: 261px;
  width: 97px;
  height: 15px;
}
.group-parent22 {
  top: 614px;
  left: 52px;
  width: 358px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.group-child369 {
  top: 4.2px;
  left: 147px;
  border-radius: var(--br-10xs);
  width: 19.5px;
  height: 21.6px;
}
.div109,
.group-child369,
.p124 {
  position: absolute;
}
.p124 {
  margin: 0;
  top: 1px;
  left: 88px;
  font-weight: 500;
}
.div109 {
  top: 4px;
  left: 0;
  font-size: var(--font-size-base);
}
.group-child370,
.polygon-parent10 {
  position: absolute;
  top: 425px;
  left: 257px;
  width: 174px;
  height: 34px;
}
.group-child370 {
  top: 4.2px;
  left: 146px;
  border-radius: var(--br-10xs);
  width: 19.5px;
  height: 21.6px;
}
.div110,
.p125 {
  position: absolute;
  top: 2px;
}
.p125 {
  margin: 0;
  left: 66px;
  font-weight: 500;
}
.div110 {
  left: 0;
  font-size: var(--font-size-base);
}
.polygon-parent11 {
  position: absolute;
  top: 465px;
  left: 257px;
  width: 173px;
  height: 32px;
}
.div111,
.div112 {
  position: absolute;
  top: 0;
}
.div111 {
  left: 100px;
  font-weight: 500;
}
.div112 {
  left: 0;
  font-size: var(--font-size-base);
}
.polygon-parent12 {
  position: absolute;
  top: 505px;
  left: 257px;
  width: 173px;
  height: 30px;
}
.p126 {
  margin: 0;
  top: 1px;
  left: 58px;
  font-weight: 500;
}
.h133,
.p126,
.parent61 {
  position: absolute;
}
.parent61 {
  top: 545px;
  left: 257px;
  width: 173px;
  height: 30px;
}
.h133 {
  margin: 0;
  top: 0;
  left: 0;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-cairo);
  color: var(--color-darkgray);
  text-align: left;
}
.arrow-down-17 {
  position: absolute;
  top: 7px;
  left: 69px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.parent62 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 82px;
  width: 81px;
  height: 22px;
}
.div114 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-cairo);
  color: var(--color-darkgray);
  text-align: left;
}
.group-parent23,
.parent63 {
  position: absolute;
  height: 28px;
}
.parent63 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 77px;
}
.group-parent23 {
  top: 41px;
  left: 27px;
  width: 163px;
}
.rectangle-parent72 {
  position: absolute;
  top: 304px;
  left: 24px;
  width: 461px;
  height: 654px;
  font-size: var(--font-size-mini);
}
.group-child373 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 1233px;
  height: 710px;
}
.b89,
.p127 {
  position: absolute;
  font-weight: 700;
}
.b89 {
  top: 35px;
  left: 968px;
  font-size: var(--font-size-11xl);
}
.p127 {
  margin: 0;
  top: 0;
  left: 28px;
}
.arrow-down-210 {
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.arrow-down-210,
.h134,
.parent64 {
  position: absolute;
}
.parent64 {
  top: 60px;
  left: 864px;
  width: 88px;
  height: 28px;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
}
.h134 {
  left: 0;
}
.h134,
.h135,
.h136 {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h135 {
  position: absolute;
  left: 160px;
}
.h136 {
  left: 293px;
}
.h136,
.h137,
.h138 {
  position: absolute;
}
.h137 {
  margin: 0;
  top: 0;
  left: 438px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h138 {
  left: 582px;
}
.h138,
.h139,
.h140 {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.h139 {
  position: absolute;
  left: 711px;
}
.h140 {
  left: 899px;
}
.h140,
.h141,
.parent65 {
  position: absolute;
}
.h141 {
  margin: 0;
  top: 0;
  left: 1049px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.parent65 {
  top: 135px;
  left: 68px;
  width: 1097px;
  height: 37px;
  color: var(--color-crimson);
}
.group-child374 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) var(--br-xl) var(--br-xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 1185px;
  height: 78px;
}
.p128,
.p129,
.usertemp8 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 1075px;
}
.p129,
.usertemp8 {
  left: 917px;
}
.usertemp8 {
  left: 768px;
}
.oraxlite8,
.p130,
.p131,
.p132,
.test8 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 602px;
}
.p130,
.p131,
.p132,
.test8 {
  left: 485px;
}
.p130,
.p131,
.p132 {
  left: 327px;
}
.p131,
.p132 {
  left: 200px;
}
.p132 {
  left: 20px;
}
.group-child375,
.rectangle-parent74 {
  position: absolute;
  top: 192px;
  left: 30px;
  width: 1185px;
  height: 78px;
}
.group-child375 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.p133,
.p134,
.usertemp9 {
  margin: 0;
  position: absolute;
  top: 21px;
  left: 1075px;
}
.p134,
.usertemp9 {
  left: 917px;
}
.usertemp9 {
  left: 768px;
}
.oraxlite9,
.p135,
.p136,
.p137,
.test9 {
  margin: 0;
  position: absolute;
  top: 21px;
  left: 602px;
}
.p135,
.p136,
.p137,
.test9 {
  left: 485px;
}
.p135,
.p136,
.p137 {
  left: 327px;
}
.p136,
.p137 {
  left: 200px;
}
.p137 {
  left: 20px;
}
.group-child377,
.rectangle-parent75,
.rectangle-parent76 {
  position: absolute;
  top: 287px;
  left: 30px;
  width: 1185px;
  height: 78px;
}
.group-child377,
.rectangle-parent76 {
  top: 382px;
}
.group-child377 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) var(--br-21xl) var(--br-21xl);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
}
.group-child378,
.rectangle-parent77 {
  position: absolute;
  top: 477px;
  left: 30px;
  width: 1185px;
  height: 78px;
}
.group-child378 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) 0 var(--br-xl) 0;
  background-color: var(--color-aliceblue);
  width: 185px;
  height: 50px;
}
.b90 {
  position: absolute;
  top: 11px;
  left: 10px;
  font-weight: 600;
  cursor: pointer;
}
.rectangle-parent78 {
  position: absolute;
  top: 41px;
  left: 24px;
  width: 185px;
  height: 50px;
  font-size: var(--font-size-mini);
}
.group-child379 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 50px;
  height: 50px;
}
.p148 {
  margin: 0;
  position: absolute;
  top: 13px;
  left: 20px;
}
.rectangle-parent79 {
  left: 52px;
}
.group-child380,
.rectangle-parent79,
.rectangle-parent80 {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
}
.group-child380 {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 4px #c4d3df;
}
.rectangle-parent80 {
  left: 124px;
}
.p150 {
  margin: 0;
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent81 {
  position: absolute;
  top: 0;
  left: 196px;
  width: 50px;
  height: 50px;
}
.vector-icon238,
.vector-icon239 {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon239 {
  height: 36.08%;
  width: 21.33%;
  top: 31.96%;
  right: 37.25%;
  bottom: 31.96%;
  left: 41.42%;
}
.arrow-square-right-22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 268px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vector-icon241 {
  position: absolute;
  height: 36.08%;
  width: 21.33%;
  top: 31.96%;
  right: 41.42%;
  bottom: 31.96%;
  left: 37.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-square-left-22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.group-parent24 {
  position: absolute;
  top: 610px;
  left: 468px;
  width: 298px;
  height: 50px;
  font-family: var(--font-inter);
}
.rectangle-parent73 {
  position: absolute;
  top: 988px;
  left: 21px;
  width: 1233px;
  height: 710px;
}
.group-child382,
.rectangle-parent68 {
  position: absolute;
  top: 131px;
  left: 27px;
  width: 1275px;
  height: 1724px;
}
.group-child382 {
  top: -0.5px;
  left: 0;
  width: 1440px;
  height: 1px;
}
.p151,
.p152,
.p153 {
  margin: 0;
  position: absolute;
  top: 156px;
  left: 50px;
}
.p152,
.p153 {
  top: 119px;
  left: 75px;
}
.p153 {
  top: 63px;
  left: 0;
  font-size: var(--font-size-11xl);
  font-weight: 700;
}
.logo-dark-1-icon4 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 289px;
  height: 51px;
  object-fit: cover;
}
.group-child383,
.parent66 {
  position: absolute;
  top: 0;
  left: 0;
  width: 519px;
  height: 193px;
}
.group-child383 {
  border-radius: 50%;
  background-color: var(--color-aliceblue);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 50px;
  height: 50px;
}
.facebook-13,
.vector-icon242 {
  position: absolute;
  overflow: hidden;
}
.vector-icon242 {
  height: 90%;
  width: 52.5%;
  top: 5%;
  right: 21.67%;
  bottom: 5%;
  left: 25.83%;
  max-width: 100%;
  max-height: 100%;
}
.facebook-13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}
.ellipse-parent19 {
  position: absolute;
  top: 209px;
  left: 235px;
  width: 50px;
  height: 50px;
}
.vector-icon243,
.vector-icon244 {
  position: absolute;
  height: 73.33%;
  width: 90%;
  top: 13.33%;
  right: 5%;
  bottom: 13.33%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon244 {
  height: 35.83%;
  top: 21.67%;
  bottom: 42.5%;
}
.ellipse-parent20 {
  position: absolute;
  top: 209px;
  left: 305px;
  width: 50px;
  height: 50px;
}
.vector-icon246,
.vector-icon247 {
  position: absolute;
  height: 6.67%;
  width: 90%;
  top: 46.67%;
  right: 5%;
  bottom: 46.67%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon247 {
  height: 90%;
  width: 40%;
  top: 5%;
  right: 30%;
  bottom: 5%;
  left: 30%;
}
.ellipse-parent21,
.group-parent25 {
  position: absolute;
  top: 209px;
  left: 165px;
  width: 50px;
  height: 50px;
}
.group-parent25 {
  top: 53px;
  left: 145px;
  width: 519px;
  height: 259px;
}
.group-child386,
.group-child387 {
  border: 0;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 79px;
  left: 0;
  border-radius: var(--br-21xl);
  box-shadow: 0 0 4px rgba(11, 92, 153, 0.25);
  width: 534px;
  height: 80px;
}
.group-child387 {
  cursor: pointer;
  padding: 0;
  background-color: var(--color-steelblue-100);
  width: 237px;
}
.p154 {
  margin: 0;
  top: 101px;
  left: 388px;
}
.b91,
.b92,
.p154 {
  position: absolute;
  font-weight: 700;
}
.b91 {
  top: 91px;
  left: 96px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.b92 {
  top: 0;
  left: 308px;
  font-size: var(--font-size-11xl);
}
.rectangle-parent82,
.vector-parent36 {
  position: absolute;
  top: 45px;
  left: 826px;
  width: 534px;
  height: 159px;
}
.vector-parent36 {
  top: 1872px;
  left: 0;
  width: 1440px;
  height: 312px;
}
.copyright-1-icon3 {
  position: absolute;
  top: 9px;
  left: 619px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.p155 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.copyright-1-parent1 {
  position: absolute;
  top: 27px;
  left: 398px;
  width: 644px;
  height: 37px;
}
.designed-by3,
.oraxsoft3 {
  text-decoration: underline;
  position: absolute;
  top: 64px;
  left: 742px;
  color: inherit;
}
.designed-by3 {
  text-decoration: none;
  left: 624px;
}
.group-child389,
.vector-parent37 {
  position: absolute;
  top: 2209px;
  left: 0;
  width: 1440px;
  height: 101px;
}
.group-child389 {
  top: 0;
  left: 1439.99px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--color-white);
  border: 3px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 119px;
  height: 1439.99px;
  transform: rotate(89.98deg);
  transform-origin: 0 0;
}
.vector-icon248,
.vector-icon249,
.vector-icon250,
.vector-icon251 {
  position: absolute;
  height: 17.5%;
  width: 5%;
  top: 5.83%;
  right: 64.17%;
  bottom: 76.67%;
  left: 30.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon249,
.vector-icon250,
.vector-icon251 {
  right: 30.83%;
  left: 64.17%;
}
.vector-icon250,
.vector-icon251 {
  height: 5%;
  width: 75.83%;
  top: 35.37%;
  right: 12.08%;
  bottom: 59.63%;
  left: 12.08%;
}
.vector-icon251 {
  height: 82.08%;
  width: 80%;
  top: 12.08%;
  right: 10%;
  bottom: 5.83%;
  left: 10%;
}
.vector-icon252 {
  height: 6.67%;
  top: 53.75%;
  right: 31.23%;
  bottom: 39.58%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon252,
.vector-icon253,
.vector-icon254 {
  position: absolute;
  width: 6.71%;
  overflow: hidden;
}
.vector-icon253 {
  height: 6.67%;
  top: 66.25%;
  right: 31.23%;
  bottom: 27.08%;
  left: 62.06%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon254 {
  top: 53.75%;
  right: 46.65%;
  bottom: 39.58%;
  left: 46.65%;
}
.vector-icon254,
.vector-icon255,
.vector-icon256 {
  height: 6.67%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon255 {
  position: absolute;
  width: 6.71%;
  top: 66.25%;
  right: 46.65%;
  bottom: 27.08%;
  left: 46.65%;
  overflow: hidden;
}
.vector-icon256 {
  width: 6.7%;
  top: 53.75%;
  right: 62.07%;
  bottom: 39.58%;
  left: 31.23%;
}
.calendar-14,
.vector-icon256,
.vector-icon257 {
  position: absolute;
  overflow: hidden;
}
.vector-icon257 {
  height: 6.67%;
  width: 6.7%;
  top: 66.25%;
  right: 62.07%;
  bottom: 27.08%;
  left: 31.23%;
  max-width: 100%;
  max-height: 100%;
}
.calendar-14 {
  text-decoration: none;
  top: 44px;
  left: 257px;
  width: 30px;
  height: 30px;
}
.mask-group-icon7 {
  position: absolute;
  top: -3px;
  left: 129px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.p156 {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: 600;
}
.arrow-down-33,
.vector-icon258 {
  position: absolute;
  overflow: hidden;
}
.vector-icon258 {
  height: 37.07%;
  width: 73.5%;
  top: 33.54%;
  right: 13.25%;
  bottom: 29.38%;
  left: 13.25%;
  max-width: 100%;
  max-height: 100%;
}
.arrow-down-33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 0;
  width: 20px;
  height: 20px;
}
.mask-group-parent3 {
  position: absolute;
  top: 35px;
  left: 45px;
  width: 182px;
  height: 50px;
}
.b93 {
  position: absolute;
  top: 30px;
  left: 1064px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
}
.rectangle-parent83 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440.02px;
  height: 119.47px;
  font-size: var(--font-size-6xl);
}
.group-child390 {
  position: absolute;
  top: 0;
  left: 139px;
  border-radius: var(--br-11xl) 0 var(--br-11xl) 0;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0 2px rgba(11, 92, 153, 0.25);
  width: 121px;
  height: 1148px;
}
.ef98ad7010f26031b617516aa4cd345 {
  text-decoration: none;
  position: absolute;
  top: 47px;
  left: 175px;
  width: 50px;
  height: 50px;
  background-image: url(./public/ef98ad7010f26031b617516aa4cd3417-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.folder-15 {
  text-decoration: none;
  position: absolute;
  top: 282px;
  left: 185px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon260,
.vector-icon261,
.vector-icon262 {
  position: absolute;
  height: 90.25%;
  width: 90%;
  top: 5%;
  right: 5%;
  bottom: 4.75%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon261,
.vector-icon262 {
  height: 6.67%;
  width: 48.33%;
  top: 30%;
  right: 25.83%;
  bottom: 63.33%;
  left: 25.83%;
}
.vector-icon262 {
  width: 31.67%;
  top: 50.83%;
  right: 42.5%;
  bottom: 42.5%;
}
.message-text-1-15 {
  text-decoration: none;
  position: absolute;
  top: 392px;
  left: 185px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon263,
.vector-icon264 {
  width: 60.83%;
  right: 19.58%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon263 {
  position: absolute;
  height: 45.63%;
  top: 49.38%;
  bottom: 5%;
  overflow: hidden;
}
.vector-icon264 {
  height: 52.5%;
  top: 5%;
  bottom: 42.5%;
}
.coin-15,
.vector-icon264,
.vector-icon265 {
  position: absolute;
  overflow: hidden;
}
.vector-icon265 {
  height: 73.33%;
  width: 60.83%;
  top: 5%;
  right: 19.58%;
  bottom: 21.67%;
  left: 19.58%;
  max-width: 100%;
  max-height: 100%;
}
.coin-15 {
  text-decoration: none;
  top: 502px;
  left: 185px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon266,
.vector-icon267,
.vector-icon268 {
  position: absolute;
  height: 6.67%;
  width: 48.33%;
  top: 77.92%;
  right: 9.17%;
  bottom: 15.42%;
  left: 42.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon267,
.vector-icon268 {
  top: 48.75%;
  bottom: 44.58%;
}
.vector-icon268 {
  top: 19.58%;
  bottom: 73.75%;
}
.vector-icon269,
.vector-icon270 {
  height: 19.17%;
  width: 23.33%;
  right: 67.5%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon269 {
  position: absolute;
  top: 11.25%;
  bottom: 69.58%;
  overflow: hidden;
}
.vector-icon270 {
  top: 40.42%;
  bottom: 40.42%;
}
.task-15,
.vector-icon270,
.vector-icon271 {
  position: absolute;
  overflow: hidden;
}
.vector-icon271 {
  height: 19.17%;
  width: 23.33%;
  top: 69.58%;
  right: 67.5%;
  bottom: 11.25%;
  left: 9.17%;
  max-width: 100%;
  max-height: 100%;
}
.task-15 {
  text-decoration: none;
  top: 612px;
  left: 185px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon272,
.vector-icon273,
.vector-icon274,
.vector-icon275,
.vector-icon276,
.vector-icon277 {
  position: absolute;
  height: 69.17%;
  width: 69.17%;
  top: 25.83%;
  right: 25.83%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon273,
.vector-icon274,
.vector-icon275,
.vector-icon276,
.vector-icon277 {
  height: 33.33%;
  width: 33.33%;
  bottom: 40.83%;
  left: 40.83%;
}
.vector-icon274,
.vector-icon275,
.vector-icon276,
.vector-icon277 {
  height: 6.67%;
  width: 23.33%;
  top: 5%;
  right: 31.67%;
  bottom: 88.33%;
  left: 45%;
}
.vector-icon275,
.vector-icon276,
.vector-icon277 {
  height: 19.17%;
  width: 30.08%;
  right: 44.08%;
  bottom: 75.83%;
  left: 25.83%;
}
.vector-icon276,
.vector-icon277 {
  height: 44.17%;
  width: 18.38%;
  top: 30%;
  right: 5%;
  bottom: 25.83%;
  left: 76.62%;
}
.vector-icon277 {
  height: 31.67%;
  width: 31.67%;
  top: 5%;
  bottom: 63.33%;
  left: 63.33%;
}
.document-copy-15 {
  text-decoration: none;
  position: absolute;
  top: 722px;
  left: 185px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon279 {
  height: 31.69%;
  width: 30.96%;
  top: 25.82%;
  right: 34.5%;
  bottom: 42.5%;
  left: 34.54%;
  max-width: 100%;
  max-height: 100%;
}
.help-circle-15,
.vector-icon279,
.vector-icon280 {
  position: absolute;
  overflow: hidden;
}
.vector-icon280 {
  height: 6.67%;
  width: 6.71%;
  top: 67.5%;
  right: 46.63%;
  bottom: 25.83%;
  left: 46.67%;
  max-width: 100%;
  max-height: 100%;
}
.help-circle-15 {
  text-decoration: none;
  top: 832px;
  left: 185px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon281,
.vector-icon282,
.vector-icon283,
.vector-icon284 {
  position: absolute;
  height: 90%;
  width: 81.67%;
  top: 5%;
  right: 9.17%;
  bottom: 5%;
  left: 9.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon282,
.vector-icon283,
.vector-icon284 {
  height: 23.33%;
  width: 23.33%;
  top: 15.42%;
  right: 19.58%;
  bottom: 61.25%;
  left: 57.08%;
}
.vector-icon283,
.vector-icon284 {
  height: 6.67%;
  top: 50.83%;
  right: 46.67%;
  bottom: 42.5%;
  left: 30%;
}
.vector-icon284 {
  width: 40%;
  top: 67.5%;
  right: 30%;
  bottom: 25.83%;
}
.document-text-15 {
  text-decoration: none;
  position: absolute;
  top: 942px;
  left: 185px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon285,
.vector-icon286 {
  position: absolute;
  height: 86%;
  width: 59.17%;
  top: 7.04%;
  right: 7.08%;
  bottom: 6.96%;
  left: 33.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon286 {
  height: 6.67%;
  width: 60.33%;
  top: 46.67%;
  right: 34.67%;
  bottom: 46.67%;
  left: 5%;
}
.vector-icon287 {
  height: 34.58%;
  width: 20.63%;
  top: 32.71%;
  right: 30%;
  bottom: 32.71%;
  left: 49.38%;
  max-width: 100%;
  max-height: 100%;
}
.login-15,
.vector-icon287,
.vector-icon288 {
  position: absolute;
  overflow: hidden;
}
.login-15 {
  text-decoration: none;
  top: 1052px;
  left: 185px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.vector-icon288 {
  height: 42.04%;
  top: 5%;
  right: 5%;
  bottom: 52.96%;
  left: 52.92%;
}
.vector-icon288,
.vector-icon289,
.vector-icon290 {
  width: 42.08%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon289 {
  position: absolute;
  height: 42.08%;
  top: 52.92%;
  right: 5%;
  bottom: 5%;
  left: 52.92%;
  overflow: hidden;
}
.vector-icon290 {
  height: 42.04%;
  top: 5%;
  right: 52.92%;
  bottom: 52.96%;
  left: 5%;
}
.element-3-15,
.vector-icon290,
.vector-icon291 {
  position: absolute;
  overflow: hidden;
}
.vector-icon291 {
  height: 42.08%;
  width: 42.08%;
  top: 52.92%;
  right: 52.92%;
  bottom: 5%;
  left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.element-3-15 {
  text-decoration: none;
  top: 172px;
  left: 185px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.group-child391,
.group-child392 {
  position: absolute;
  top: 5.81px;
  left: 113.75px;
  border-radius: var(--br-11xs);
  width: 24.25px;
  height: 27.39px;
}
.group-child392 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue-100);
  width: 114px;
  height: 40px;
}
.group-child393 {
  position: absolute;
  top: 12.8px;
  left: 112px;
  border-radius: var(--br-11xs);
  width: 13px;
  height: 14.4px;
}
.div115 {
  position: absolute;
  top: 5px;
  left: 8px;
  font-weight: 600;
}
.polygon-parent13 {
  position: absolute;
  top: 167px;
  left: 0;
  width: 140px;
  height: 40px;
  cursor: auto;
  opacity: 0;
}
.polygon-parent13.animate {
  animation: 1s ease 1s 1 normal forwards slit-in-vertical;
}
.rectangle-parent84 {
  position: absolute;
  top: 0;
  left: 1180px;
  width: 260px;
  height: 1148px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.desktop-48 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2356px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-cairo);
}
